{% extends 'hod_template/base_template.html' %}

{% block page_title %}
  Edit Staff | Name: {{ staff.admin.username }} | ID: {{ staff.id }}
{% endblock page_title %}

{% block main_content %}
  {% load static %}

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- Left column -->
        <div class="col-md-12">
          <!-- General form elements -->
          <div class="card card-primary">
            <h2 class="card-header">Edit Staff</h2>
            <div class="card-body">
              <form action="{% url 'edit_staff_save' %}" method="post">
                <!-- Personal Information -->
                {% csrf_token %}
                <div class="row">
                  <div class="form-group col-sm-4">
                    <label for="firstName" class="col-form-label">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="firstName" placeholder="" value="{{ staff.admin.first_name }}">
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="middleName" class="col-form-label">Middle Name</label>
                    <input type="text" class="form-control" name="middleName" id="middleName" placeholder="" value="{{ staff.middle_name }}">
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="lastname" class="col-form-label">Last Name</label>
                    <input type="text" class="form-control" name="lastname" id="lastname" placeholder="" value="{{ staff.admin.last_name }}">
                  </div>
                </div>

                <!-- Professional Information -->
                <div class="row">
                  <div class="form-group col-sm-4">
                    <label for="profession" class="col-form-label">Select Profession</label>
                    <select class="form-control select2bs4" style="width: 100%;" name="profession" id="profession">
                      <option value="">Select Profession</option>
                      <option value="doctor" {% if staff.profession == "doctor" %}selected{% endif %}>Doctor</option>
                      <option value="nurse" {% if staff.profession == "nurse" %}selected{% endif %}>Nurse</option>
                      <option value="pharmacist" {% if staff.profession == "pharmacist" %}selected{% endif %}>Pharmacist</option>
                      <option value="developer" {% if staff.profession == "developer" %}selected{% endif %}>Developer</option>
                      <option value="designer" {% if staff.profession == "designer" %}selected{% endif %}>Designer</option>
                      <option value="manager" {% if staff.profession == "manager" %}selected{% endif %}>Manager</option>
                      <option value="radiologist" {% if staff.profession == "radiologist" %}selected{% endif %}>Radiologist</option>
                      <option value="lab_technician" {% if staff.profession == "lab_technician" %}selected{% endif %}>Lab Technician</option>
                      <option value="receptionist" {% if staff.profession == "receptionist" %}selected{% endif %}>Receptionist</option>
                      <option value="physiotherapist" {% if staff.profession == "physiotherapist" %}selected{% endif %}>Physiotherapist</option>
                      <option value="accountant" {% if staff.profession == "accountant" %}selected{% endif %}>Accountant</option>
                      <option value="security_guard" {% if staff.profession == "security_guard" %}selected{% endif %}>Security Guard</option>
                      <option value="chef" {% if staff.profession == "chef" %}selected{% endif %}>Chef</option>
                      <option value="cleaner" {% if staff.profession == "cleaner" %}selected{% endif %}>Cleaner</option>
                      <!-- Add more options as needed -->
                  </select>
                  </div>                 

                  <div class="form-group col-sm-4">
                    <label for="maritalStatus" class="col-form-label">Marital Status</label>
                    <select class="form-control select2bs4" style="width: 100%;" name="maritalStatus" id="maritalStatus">
                        <option value="">Select Marital Status</option>
                        <option value="single" {% if staff.marital_status == "single" %}selected{% endif %}>Single</option>
                        <option value="married" {% if staff.marital_status == "married" %}selected{% endif %}>Married</option>
                        <option value="divorced" {% if staff.marital_status == "divorced" %}selected{% endif %}>Divorced</option>
                        <option value="widowed" {% if staff.marital_status == "widowed" %}selected{% endif %}>Widowed</option>
                        <!-- Add more options as needed -->
                    </select>
                    
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="email" class="col-form-label">Email</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="" value="{{ staff.admin.email }}">
                  </div>
              </div>

                <div class="row">
                  <div class="form-group col-sm-4">
                    <label for="userRole" class="col-form-label">Select Role</label>
                    <select class="form-control select2bs4" style="width: 100%;" name="userRole" id="userRole">
                        <option value="">Select Role</option>
                        <option value="admin" {% if staff.role == "admin" %}selected{% endif %}>Administrator</option>
                        <option value="doctor" {% if staff.role == "doctor" %}selected{% endif %}>Doctor</option>
                        <option value="nurse" {% if staff.role == "nurse" %}selected{% endif %}>Nurse</option>
                        <option value="physiotherapist" {% if staff.role == "physiotherapist" %}selected{% endif %}>Physiotherapist</option>
                        <option value="labTechnician" {% if staff.role == "labTechnician" %}selected{% endif %}>Lab Technician</option>
                        <option value="pharmacist" {% if staff.role == "pharmacist" %}selected{% endif %}>Pharmacist</option>
                        <option value="receptionist" {% if staff.role == "receptionist" %}selected{% endif %}>Receptionist</option>
                        <!-- Add more options as needed -->
                    </select>
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="gender" class="col-form-label">Gender</label>
                    <select class="form-control select2bs4" style="width: 100%;" name="gender" id="gender" placeholder="">
                        <option value="">Select Gender</option>
                        <option value="male" {% if staff.gender == "male" %}selected{% endif %}>Male</option>
                        <option value="female" {% if staff.gender == "female" %}selected{% endif %}>Female</option>
                        <option value="non-binary" {% if staff.gender == "non-binary" %}selected{% endif %}>Non-Binary</option>
                        <option value="prefer-not-to-say" {% if staff.gender == "prefer-not-to-say" %}selected{% endif %}>Prefer Not to Say</option>
                    </select>                    
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="dob" class="col-form-label">Date of Birth</label>
                    <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" value="{{ staff.date_of_birth|date:'Y-m-d' }}">
                </div>
              </div>  
                            
            <div class="row">
              <div class="form-group col-sm-4">
                <label for="phone" class="col-form-label">Phone</label>
                <input type="tel" class="form-control" name="phone" id="phone" placeholder="" value="{{ staff.phone_number }}">
            </div>
            </div>
                <div class="form-group row">
                  <div class="offset-md-6 col-md-6 text-right">
                    <button type="submit" class="btn btn-primary">Save and Continue</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer">
              <div class="form-row">
                <div>
                  {% if messages %}
                    <div class="col-12">
                      {% for message in messages %}
                        {% if message.tags == 'error' %}
                          <div class="alert alert-danger">{{ message }}</div>
                        {% elif message.tags == 'success' %}
                          <div class="alert alert-primary">{{ message }}</div>
                        {% endif %}
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock main_content %}
