{% extends 'labtechnician_template/base_template.html' %}

{% block title %}
Patient Vital Information
{% endblock title %}



{% block breadcrumb %}
{% include "labtechnician_template/modal_form.html" %}
Patient Vital Information

{% endblock breadcrumb %}


{% load static %}
{% block main_content %}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">               
                <div class="card-body">
                    <div class="row" style="font-size:13px;">
                        <div class="col-md-3 text-uppercase"><b>PATIENT: {{ patient.first_name }} {{ patient.middle_name }}  {{ patient.last_name }}</b></div>
                        <div class="col-md-3"><b>DOB: {{ patient.dob|date:'Y-m-d' }} [ Age: {% if patient.dob %}
                            <script>
                                var dob = new Date("{{ patient.dob|date:'Y-m-d' }}");
                                var now = new Date();
                                var ageMilliseconds = now - dob;
                                var ageSeconds = ageMilliseconds / 1000;
                                var ageYears = Math.floor(ageSeconds / (365.25 * 24 * 60 * 60));
                                document.write(ageYears + ' years');
                            </script>
                            {% else %}
                            {{ patient.age }}
                            {% endif %}]</b></div>
                        <div class="col-md-3 text-uppercase"><b>SEX: {{ patient.gender }}</b></div>
                        <div class="col-md-3 text-uppercase"><b>FILE NO : {{ patient.mrn }}</b> </div>
                    </div>
                        <div class="row mt-3">
                            <div class="col-md-3 text-uppercase"><b>PAYMENT MODE: {{ patient.payment_form }}</b></div>
                        </div>
                </div>          
             </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="card">
                <div class="card-header">
                    <h5 class="header-title text-center mt-0 mb-1 text-uppercase">Vital Information</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed text-nowrap table-responsive-sm table-bordered table-striped table-sm  display" id="example"  style="width:100%">
                            <thead>
                                <tr>
                                    <th>Was Recorded By</th>
                                    <th>Recorded Date</th>
                                    <th>Recorded Time</th>
                                    <th>RR (bpm)</th>
                                    <th>PR (bpm)</th>
                                    <th>BR</th>
                                    <th>SPO2 (%)</th>
                                    <th>Temperature (°C)</th>
                                    <th>Weight (Kg)</th>
                                    <th>GCS</th>
                                    <th>AVPU</th>                      
                                            
                                </tr>
                            </thead>
                            <tbody>
                                {% for vital in patient_vitals %}
                                    <tr>
                                        <td>{{ vital.recorded_by.admin.first_name }} {{ vital.recorded_by.admin.middle_name }}  {{ vital.recorded_by.admin.last_name }}</td>
                                        <td>{{ vital.recorded_at|date:"Y-m-d" }}</td>
                                        <td>{{ vital.recorded_at|time:"H:i:s" }}</td>
                                        <td>{{ vital.respiratory_rate }}</td>
                                        <td>{{ vital.pulse_rate }}</td>
                                        <td>{{ vital.blood_pressure }}</td>
                                        <td>{{ vital.spo2 }}%</td>
                                        <td>{{ vital.temperature }}</td>
                                        <td>{{ vital.weight }}</td>
                                        <td>{{ vital.gcs }}</td>
                                        <td>{{ vital.avpu }}</td>                 
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'labtechnician_template/datatable.html' %}
{% endblock main_content %}
