{% extends 'labtechnician_template/base_template.html' %}

{% block title %}
Order  
{% endblock title %}

{% block breadcrumb %}
{% include "labtechnician_template/modal_form.html" %}
Order 
{% endblock breadcrumb %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title text-center mt-0 mb-1">Order Details</h4>
                    <p class="text-muted font-13 text-center mb-4"></p>
                    <div class="table-responsive">
                        <!-- Display LaboratoryOrder Information -->
                        <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="labOrderTable">
                            <thead>
                                <tr>
                                    <th>Laboratory Number</th>
                                    <th>Patient</th>                                    
                                    <th>Service</th>
                                    <th>Description</th>
                                    <th>Order Date</th>                                
                                    <th>Cost</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in lab_orders %}
                                <tr>
                                    <td>{{ order.lab_number }}</td>
                                    <td>{{ order.patient }}</td>                                    
                                    <td>{{ order.name }}</td>
                                    <td>{{ order.description }}</td>
                                    <td>{{ order.order_date }}</td>                                    
                                    <td>{{ order.cost }}</td>
                                    <td>
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#editResultModal{{ order.id }}">View Result</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal for Editing Result -->
{% for order in lab_orders %}
<div class="modal fade" id="editResultModal{{ order.id }}" tabindex="-1" role="dialog" aria-labelledby="editResultModalLabel{{ order.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editResultModalLabel{{ order.id }}"> Result {{ order.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'save_lab_order_result' order.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="result">Result</label>
                        <textarea class="form-control" id="result" name="result" rows="4">{{ order.result }}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Save Change</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% include 'labtechnician_template/datatable.html' %}
{% endblock main_content %}

