{% extends 'labtechnician_template/base_template.html' %}

{% block title %}
new lab orders    
{% endblock title %}
{% block breadcrumb %}
{% include "labtechnician_template/modal_form.html" %}
new lab orders   
{% endblock breadcrumb %}

{% block main_content %}
<div class="container">
   {% if orders %}
   <div class="row">
    <div class="col-md-12">
        <div class="table-responsive">                    
            <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="example">
                <thead>
                    <tr>
                        <th>Order Number</th>                               
                        <th>Order Name</th>                               
                        <th>Ordered By</th>                               
                        <th>Patient</th>                              
                        <th>Order Date</th>
                        <th>Actions</th> <!-- Add a column for actions -->
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.order_number }}</td>                                  
                            <td>{{ order.order_type  }}</td>                                  
                            <td>{{ order.added_by }}</td>                                  
                            <td>{{ order.patient }}
                                <p><strong>{{ order.patient.payment_form }}</strong></p>
                            </td>
                            <td>{{ order.order_date }}</td>
                            <td>                                          
                                                     <!-- Add more action links as needed -->
                            <a href="{% url 'lab_read_orders' %}" data-toggle="tooltip" title="Go to Lab record">
                                <button type="button" class="btn btn-success btn-sm"><i class="fa fa-eye text-dark"></i></button>
                            </a> 
                            </td>
                        </tr>                                  
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% else %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">No new order</h5>
                    <p class="card-text">You have no new order at the moment.</p>
                </div>
            </div>
        </div>
    </div>
   {% endif %}
</div>



<style>
    .notification-link {
        position: relative;
        display: inline-block;
        margin-right: 20px;
        color: #333; /* Adjust the color as needed */
        text-decoration: none;
    }

    .notification-badge {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #dc3545; /* Bootstrap danger color */
        color: #fff; /* Text color */
        padding: 5px 8px;
        border-radius: 50%;
    }
</style>



{% include 'labtechnician_template/datatable.html' %}
{% endblock main_content %}

