{% extends 'hod_template/base_template.html' %}
{% block title %}
  Add consultation
{% endblock title %}
{% block main_content %}
  {% load static %}

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <h2 class="card-header">Add consultation </h2>
            <div class="card-body">
              <form action="/submit_form" method="post">
                <!-- Patient Information -->
                <div class="row mb-3">
                  <div class="col-md-4">
                    PATIENT NAME: JOHN DOE<br />
                    AGE: 45<br />
                    SEX: M
                  </div>
  
                  <div class="col-md-4 offset-md-4 text-right">
                    FILE NO: PT123456<br />
                    DATE: 01/01/2023
                  </div>
                </div>
  
                <!-- Complaints Section -->
                <div class="row mb-3">
                  <!-- Chief Complaint -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="chiefComplaint">Chief complaint:</label>
                      <input
                        type="text"
                        name="chief_complaint"
                        id="chiefComplaint"
                        class="form-control"
                      />
                    </div>
                  </div>
  
                  <!-- History of Presenting Illness -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="historyIllness"
                        >History of presenting illness:</label
                      >
                      <textarea
                        name="history_illness"
                        id="historyIllness"
                        class="form-control"
                      ></textarea>
                    </div>
                  </div>
  
                  <!-- Physical Examination -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="physicalExamination"
                        >Physical Examination:</label
                      >
                      <textarea
                        name="physical_examination"
                        id="physicalExamination"
                        class="form-control"
                      ></textarea>
                    </div>
                  </div>
                </div>
  
                <!-- ... (Continue similar structure for other fields) -->
                <!-- Allergy to Medications -->
                <div class="row mb-3">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="allergyMedications"
                        >Allergy to medications:</label
                      >
                      <textarea
                        name="allergy_medications"
                        id="allergyMedications"
                        class="form-control"
                      ></textarea>
                    </div>
                  </div>
  
                  <!-- Provisional Diagnosis -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="provisionalDiagnosis"
                        >Provisional Diagnosis:</label
                      >
                      <textarea
                        name="provisional_diagnosis"
                        id="provisionalDiagnosis"
                        class="form-control"
                      ></textarea>
                    </div>
                  </div>
  
                  <!-- Final Diagnosis -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="finalDiagnosis">Final Diagnosis:</label>
                      <textarea
                        name="final_diagnosis"
                        id="finalDiagnosis"
                        class="form-control"
                      ></textarea>
                    </div>
                  </div>
                </div>
  
                <!-- Pathology, Plan, and Injury -->
                <div class="row mb-3">
                  <!-- Pathology -->
               <!-- Pathology -->
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="pathology">Pathology:</label>
                    <select name="pathology" id="pathology"  class="form-control select2bs4" style="width: 100%;" >
                      <option value="hematology">Hematology</option>
                      <option value="clinical_chemistry">Clinical Chemistry</option>
                      <option value="microbiology">Microbiology</option>
                      <option value="cytology">Cytology</option>
                      <option value="histopathology">Histopathology</option>
                      <option value="immunology">Immunology</option>
                      <option value="molecular_biology">Molecular Biology</option>
                      <option value="genetics">Genetics</option>
                      <option value="clinical_pathology">Clinical Pathology</option>
                      <option value="toxicology">Toxicology</option>
                    </select>
                  </div>
                </div>

  
                  <!-- Plan -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="plan">Plan:</label>
                      <textarea
                        name="plan"
                        id="plan"
                        class="form-control"
                      ></textarea>
                    </div>
                  </div>
  
                 
                </div>
  
                <!-- Fatality, Injury Description, and Disposition -->
                <div class="row mb-3">
                   <!-- Injury -->
                   <div class="col-md-4">
                    <div class="form-group">
                      <label for="injury">Injury:</label>
                      <select name="injury" id="injury" class="form-control select2bs4" style="width: 100%;" >
                        <option value="No">No</option>
                        <option value="Yes">Yes</option>
                      </select>
                    </div>
                  </div>
                  <!-- Fatality -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="fatality">Fatality:</label>
                      <select name="fatality" id="fatality"  class="form-control select2bs4" style="width: 100%;" >
                       <option value="Minor">Minor</option>
                       <option value="Moderate">Moderate</option>
                       <option value="Serious">Serious</option>
                       <option value="Major">Major</option>
                       <option value="Catastrophic">Catastrophic</option>
                      </select>
                    </div>
                  </div>
  
                  <!-- Injury Description -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="injuryDescription">Injury Description:</label>
                      <textarea
                        name="injury_description"
                        id="injuryDescription"
                        class="form-control"
                      ></textarea>
                    </div>
                  </div>
  
                 
                </div>
                <div class="row mb-3">
                   <!-- Disposition -->
                   <div class="col-md-4">
                    <div class="form-group">
                      <label for="Disposition">Disposition:</label>
                      <select name="Disposition" id="Disposition"  class="form-control select2bs4" style="width: 100%;" >
                       <option value="Discharge">Discharge</option>
                       <option value="Referred">Referred</option>
                       <option value="Dead">Dead</option>
                      </select>
                    </div>
                  </div>
                  <!-- Fatality -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="Destination">Destination:</label>
                      <input type="text" name="Destination" id="Destination" class="form-control">
                    </div>
                  </div>
  
                  <!-- Injury Description -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="DispositionDescription">Disposition  Description:</label>
                      <textarea
                        name="Disposition_description"
                        id="DispositionDescription"
                        class="form-control"
                      ></textarea>
                    </div>
                  </div>
  
                 
                </div>
           
                <!-- Submit Button -->
                <div class="form-group row">
                  <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-primary">Save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      // Get references to the education level and subjects select elements
      var educationLevelSelect = $('#school_segment');
      var subjectsSelect = $('#subjects');

      // Listen for changes in the education level select
      educationLevelSelect.on('change', function () {
        var selectedEducationLevel = educationLevelSelect.val();

        // Make an AJAX request to fetch subjects based on the selected education level
        $.ajax({
          url: 'get_subjects_by_education_level', // Replace with the actual URL for your backend view
          data: {
            'education_level_id': selectedEducationLevel
          },
          dataType: 'json',
          success: function (data) {
            // Clear the subjects select
            subjectsSelect.empty();

            // Add a default option
            subjectsSelect.append($('<option>', {
              value: '',
              text: 'Select Subjects'
            }));

            // Populate the subjects select with retrieved data
            $.each(data, function (index, item) {
              subjectsSelect.append($('<option>', {
                value: item.id,
                text: item.subject_name
              }));
            });
          },
          error: function (xhr, status, error) {
            // Handle any errors here
            console.error(error);
          }
        });
      });
    });
  </script>
{% endblock main_content %}
