<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <!-- Add your CSS styling here if needed -->
</head>
<body>
    <div style="text-align: center; padding: 50px;">
        <h1>Oops! An error occurred.</h1>
        <p>We're sorry, but it seems there was an error while processing your request.</p>
        <p>Please try again later or contact support for assistance.</p>
        <!-- You can add additional details or instructions here if needed -->
    </div>
    {{error_message}}
    <div class="form-row">
        <div>
          {% if messages %}
            <div class="col-12">
              {% for message in messages %}
                {% if message.tags == 'error' %}
                  <div class="alert alert-danger">{{ message }}</div>
                {% elif message.tags == 'success' %}
                  <div class="alert alert-primary">{{ message }}</div>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
</body>
</html>