{% extends 'hod_template/base_template.html' %}
{% block title %}
  Add Car
{% endblock title %}
{% block main_content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">{% if exam_type.id %}Edit Exam Type{% else %}Create New Exam Type{% endif %}</h5>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" name="name" id="name" class="form-control" value="{{ exam_type.name }}">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea name="description" id="description" class="form-control">{{ exam_type.description }}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">{% if exam_type.id %}Update{% else %}Create{% endif %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock main_content %}
