{% extends 'hod_template/base_template.html' %}

{% block title %}
    Import Service
{% endblock title %}

{% block main_content %}
    <section class="content">
        <div class="container-fluid">
            <!-- Content Header -->
            <div class="content-header">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Import Service Records</h1>
                    </div>
                </div>
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- General form elements -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Upload Excel File</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <!-- Form for uploading Excel file -->
                                    <form action="{% url "clinic:import_service_data" %}" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="excel_file">Select Excel File:</label>
                                            <input type="file" class="form-control-file" id="excel_file" name="excel_file" accept=".xlsx,.xls">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-block">Import</button>
                                    </form>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.container-fluid -->
    </section>
{% endblock main_content %}
