{% extends 'hod_template/base_template.html' %}

{% block title %}
Equipment List
{% endblock title %}

{% block page_title %}
Equipment List
{% endblock page_title %}

{% block breadcrumb %}
{% include "hod_template/modal_form.html" %}
<a class="btn btn-primary float-right" type="button" data-toggle="modal" data-target="#addEquipmentModal">
    <i class="fas fa-plus"></i> New Equipment
</a>
<!-- Add Import insurance link and modal trigger -->
<a class="btn btn-success float-right mr-2" href="{% url 'clinic:import_equipment' %}">
  <i class="fas fa-file-import"></i> Import Equipment
</a>
{% endblock breadcrumb %}


{% load static %}
{% block main_content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card-header">
        <h3 class="header-title text-center mt-0 mb-1 text-uppercase">Equipment List</h3>
      </div>
      <div class="card-body">
        
        <div class="table-responsive">
          <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm  display" id="example"  style="width:100%">
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Manufacturer</th>
                      <th>Serial Number</th>
                      <th>Acquisition Date</th>
                      <th>Warranty Expiry Date</th>
                      <th>Location</th>
                      <th>Is Active</th>                      
                      <th>Action</th>              
                  </tr>
              </thead>
              <tbody>
                  {% for equipment in equipment_list %}
                      <tr>
                          <td>{{ equipment.name }}</td>
                          <td>{{ equipment.description }}</td>
                          <td>{{ equipment.manufacturer }}</td>
                          <td>{{ equipment.serial_number }}</td>
                          <td>{{ equipment.acquisition_date }}</td>
                          <td>{{ equipment.warranty_expiry_date }}</td>
                          <td>{{ equipment.location }}</td>
                          <td>
                              <form method="POST" action="{% url 'clinic:update_equipment_status' %}">
                                  {% csrf_token %}
                                  <input type="hidden" name="equipment_id" value="{{ equipment.id }}">
                                  <input type="hidden" name="is_active" value="{% if equipment.is_active %}1{% else %}0{% endif %}">
                                  <input
                                      type="checkbox"
                                      data-toggle="switchbutton"
                                      data-size="xs"
                                      data-onlabel="Active"
                                      data-offlabel="Inactive"
                                      data-offstyle="danger"
                                      data-onstyle="success"
                                      {% if equipment.is_active %}checked{% endif %}
                                      onchange="submitForm(this)"
                                  >
                              </form>
                          </td>
                          <td>
                            <button class="btn btn-dark btn-sm" data-toggle="modal" data-target="#editEquipmentModal{{ equipment.id }}"  data-toggle="tooltip" title="Edit">
                              <i class="fa fa-edit text-white"></i>
                          </button>
                            <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteEquipmentModal{{ equipment.id }}"  data-toggle="tooltip" title="Delete">
                              <i class="fas fa-trash"></i>
                          </button>           
                        </td>
                          <style>
                              .below-min-stock {
                                  background-color: red; /* Change the color to red */
                                  font-weight: bold; /* Optionally, make the text bold */
                              }
                          </style>
                                              <!-- Delete Modal -->
                            <div class="modal fade" id="deleteEquipmentModal{{ equipment.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteEquipmentModalLabel{{ equipment.id }}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteEquipmentModalLabel{{ equipment.id }}">Delete Category</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete this equipment: <strong>{{ equipment.name }}</strong>?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <button type="button" class="btn btn-danger" onclick="deleteEquipment({{ equipment.id }})">Delete</button>
                                        </div>
                                    </div>
  
                                    <script>
                                        function deleteEquipment(equipmentId) {
                                            $.ajax({
                                                type: 'POST',
                                                url: '/delete_equipment/' + equipmentId + '/',  // Replace with your URL
                                                data: {},
                                                success: function (data) {
                                                    if (data.status === 'success') {
                                                        $('#deleteEquipmentModal' + equipmentId).modal('hide');
                                                        location.reload(true);
                                                        // Refresh the category list or perform any other actions
                                                    } else {
                                                        // Handle other status cases if needed
                                                        console.log(data.message);
                                                    }
                                                },
                                                error: function (error) {
                                                    console.log(error);
                                                    // Handle errors if necessary
                                                }
                                            });
                                        }
                                    </script>
                                </div>
                            </div>
  
                      <!-- Updated modal with Bootstrap grid -->
  
                            <!-- Bootstrap Modal -->
                            <div class="modal fade" id="editEquipmentModal{{ equipment.id }}" tabindex="-1" role="dialog" aria-labelledby="editEquipmentModalLabel{{ equipment.id }}" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="addEquipmentModalLabel{{ equipment.id }}">Add Equipment</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <!-- Bootstrap Form -->
                                    <form method="post" id="editEquipmentForm{{ equipment.id }}">
                                      <div class="form-row">
                                        <div class="form-group col-md-4">
                                          <label for="inputName">Name</label>
                                          <input type="text" class="form-control" id="inputName" placeholder="Name" name="Name">
                                          <input type="hidden" class="form-control" id="equipment_id"  name="equipment_id" value="{{ equipment.id }}"/>
                                        </div>
                                        <div class="form-group col-md-4">
                                          <label for="inputManufacturer">Manufacturer</label>
                                          <input type="text" class="form-control" id="inputManufacturer" placeholder="Manufacturer" name="Manufacturer" value="{{equipment.manufacturer}}">
                                        </div>
                                        <div class="form-group col-md-4">
                                          <label for="inputSerialNumber">Serial Number</label>
                                          <input type="text" class="form-control" id="inputSerialNumber" placeholder="Serial Number" name="SerialNumber"  value="{{ equipment.serial_number }}">
                                        </div>
                                      </div>
                                      <div class="form-row">
                                        <div class="form-group col-md-4">
                                          <label for="inputAcquisitionDate">Acquisition Date</label>
                                          <input type="date" class="form-control" id="inputAcquisitionDate" name="AcquisitionDate" value="{{ equipment.acquisition_date|date:'Y-m-d' }}">
                                        </div>
                                        <div class="form-group col-md-4">
                                          <label for="inputWarrantyExpiryDate">Warranty Expiry Date</label>
                                          <input type="date" class="form-control" id="inputWarrantyExpiryDate" name="warrantyExpiryDate" value="{{ equipment.warranty_expiry_date|date:'Y-m-d' }}">
                                        </div>
                                        <div class="form-group col-md-4">
                                          <label for="inputLocation">Location</label>
                                          <input type="text" class="form-control" id="inputLocation" placeholder="Location" name="Location" value="{{ equipment.location }}">
                                        </div>
                                      </div>
                                      <div class="form-row">
                                        <div class="form-group col-md-6">
                                          <label for="inputDescription">Description</label>
                                          <textarea class="form-control" id="inputDescription" cols="2" name="description">{{ equipment.description }}</textarea>
                                        </div>             
                                      </div>
                                      <div class="form-row">
                                          <div class="col-md-12">
                                              <button  type="submit" class="btn btn-primary" id="submitBtn">Edit Equipment </button>             
                                          </div>
                                      </div>
                                    </form>
                                  </div>       
                                </div>
                              </div>
                            </div>
                                              
                          <script>
                              // Handle form submission using AJAX
                              $(document).ready(function () {
                                  // Assuming you have a loop or iteration for equipment, replace "forEach" with your actual loop
                                  {% for equipment in equipment_list %}
                                      $('#editEquipmentForm{{ equipment.id }}').submit(function (e) {
                                          e.preventDefault();
                                          $.ajax({
                                              type: 'POST',
                                              url: '{% url "clinic:add_equipment" %}',  // Replace with your URL
                                              data: $('#editEquipmentForm{{ equipment.id }}').serialize(),
                                              success: function (data) {
                                                  if (data.status === 'success') {
                                                      $('#editEquipmentModal{{ equipment.id }}').modal('hide');
                                                      location.reload(true);
                                                      // Refresh the category list or perform any other actions
                                                  } else {
                                                      // Handle other status cases if needed
                                                      alert(data.message);
                                                  }
                                              },
                                              error: function (error) {
                                                  alert(error);
                                                  // Handle errors if necessary
                                              }
                                          });
                                      });
                                  {% endfor %}
                              });
                          </script>                  
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>  
</div>




<!-- Bootstrap Modal -->
<div class="modal fade" id="addEquipmentModal" tabindex="-1" role="dialog" aria-labelledby="addEquipmentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addEquipmentModalLabel">Add Equipment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Bootstrap Form -->
          <form method="post" id="addEquipmentForm">
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="inputName">Name</label>
                <input type="text" class="form-control" id="inputName" placeholder="Name" name="Name">
                <input type="hidden" class="form-control" id="equipment_id"  name="equipment_id">
              </div>
              <div class="form-group col-md-4">
                <label for="inputManufacturer">Manufacturer</label>
                <input type="text" class="form-control" id="inputManufacturer" placeholder="Manufacturer" name="Manufacturer">
              </div>
              <div class="form-group col-md-4">
                <label for="inputSerialNumber">Serial Number</label>
                <input type="text" class="form-control" id="inputSerialNumber" placeholder="Serial Number" name="SerialNumber">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="inputAcquisitionDate">Acquisition Date</label>
                <input type="date" class="form-control" id="inputAcquisitionDate" name="AcquisitionDate">
              </div>
              <div class="form-group col-md-4">
                <label for="inputWarrantyExpiryDate">Warranty Expiry Date</label>
                <input type="date" class="form-control" id="inputWarrantyExpiryDate" name="warrantyExpiryDate">
              </div>
              <div class="form-group col-md-4">
                <label for="inputLocation">Location</label>
                <input type="text" class="form-control" id="inputLocation" placeholder="Location" name="Location">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputDescription">Description</label>
                <textarea class="form-control" id="inputDescription" cols="2" name="description"></textarea>
              </div>             
            </div>
            <div class="form-row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary  float-right" onclick="addEquipment()">Add Equipment</button>                 
                </div>
            </div>
          </form>
        </div>       
      </div>
    </div>
  </div>
  

  
<script>
    // Handle form submission using AJAX
    function addEquipment() {
        $.ajax({
            type: 'POST',
            url: '{% url "clinic:add_equipment" %}',  // Replace with your URL
            data: $('#addEquipmentForm').serialize(),
            success: function (data) {
                if (data.status === 'success') {
                    $('#addEquipmentModal').modal('hide');
                    location.reload(true);
                    // Refresh the inventory item list or perform any other actions
                } else {
                    // Handle other status cases if needed
                    alert(data.message);
                }
            },
            error: function (error) {
                console.log(error);
                // Handle errors if necessary
            }
        });
    }
</script>
  
<script>
    function submitForm(checkbox) {
        checkbox.form.submit();
    }
</script>

{% include 'hod_template/datatable.html' %}
{% endblock main_content %}
