{% extends 'hod_template/base_template.html' %}

{% block title %}
Expired medicine
{% endblock title %}

{% block breadcrumb %}
{% include "hod_template/modal_form.html" %}
{% endblock breadcrumb %}

{% load static %}
{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-header bg-primary text-white text-center mt-0 mb-1">Expired medicine</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm  display" id="example"  style="width:100%">
                            <thead>
                                <tr>
                                    <th>Medicine Name</th>
                                    <th>Expiration Date</th>
                                    <th>Days Remaining</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for medicine in medicines %}
                                    <tr>
                                        <td>{{ medicine.name }}</td>
                                        <td>{{ medicine.expiration_date|date:"F d, Y" }}</td>
                                        <td id="days-remaining-{{ forloop.counter }}">{{ medicine.days_remaining }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // JavaScript to calculate and display remaining days dynamically
    document.addEventListener('DOMContentLoaded', function () {
        const rows = document.querySelectorAll('tbody tr');

        rows.forEach(row => {
            const daysRemainingCell = row.querySelector('[id^="days-remaining-"]');
            const daysRemaining = parseInt(daysRemainingCell.textContent);

            if (daysRemaining === 0) {
                daysRemainingCell.style.color = 'red';
                daysRemainingCell.textContent = 'Expired';
            } else if (daysRemaining < 0) {
                daysRemainingCell.style.color = 'red';
                daysRemainingCell.textContent = 'Expired';
            } else {
                daysRemainingCell.style.color = 'green';
            }
        });
    });
</script>


{% include 'hod_template/datatable.html' %}
{% endblock main_content %}
