{% extends 'hod_template/base_template.html' %}

{% block title %}
   All Disease
{% endblock title %}
{% block breadcrumb %}
{% include "hod_template/modal_form.html" %}
<a class="btn btn-primary float-right" type="button" data-toggle="modal" data-target="#diseaseModal">
    <i class="fas fa-plus"></i> New disease
</a>
<!-- Add Import Staff link and modal trigger -->
<a class="btn btn-success float-right mr-2" href="{% url 'clinic:import_disease_recode' %}">
  <i class="fas fa-file-import"></i> Import disease
</a>
{% endblock breadcrumb %}
{% load static %}
{% block main_content %}
<div class="row">
    <div class="col-md">
        <div class="card">
            <div class="card-header">
                <h3  class="header-title text-center mt-0 mb-1  text-uppercase">   List of all diseases </h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm  display" id="example"  style="width:100%">
                      <thead>
                        <tr>
                            <th>Disease</th>
                            <th>Code</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="pathology-record-table-body">
                        {% for disease in disease_records %}
                            <tr>
                                <td>{{ disease.disease_name }}</td>
                                <td>{{ disease.code }}</td>
                                <td>
                                  <a href="{% url 'clinic:edit_disease_record' disease.id %}" class="btn btn-info">Edit</a>
                                  <a href="{% url 'clinic:delete_disease_record' disease.id %}" class="btn btn-danger">Delete</a>
                
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'hod_template/datatable.html' %}
{% endblock main_content %}
