{% extends 'hod_template/base_template.html' %}
{% block title %}
   List of all patients    
{% endblock title %}

{% block page_title %}
   List of all patients    
{% endblock page_title %}

{% block breadcrumb %}
{% include "hod_template/modal_form.html" %}
    <a class="btn btn-primary float-right" type="button" data-toggle="modal" data-target="#registerModal">
        <i class="fas fa-plus"></i> New patients
    </a>
    <a class="btn btn-success float-right mr-2" href="{% url 'import_patient_records' %}">
        <i class="fas fa-file-import"></i> Import patients
      </a>
{% endblock breadcrumb %}
{% block main_content %}

<div class="form-row">
    <div>
        {% if messages %}
            <div class="col-12">
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% elif message.tags == 'success' %}
                        <div class="alert alert-primary">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div> 
    <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="example">
        <thead>
            <tr>
                <th>#</th>
                <th>mrn</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Company</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patient_records %}
                <tr>
                    <td>{{ patient.id }}</td>
                    <td>{{ patient.mrn }}</td>
                    <td>{{ patient.fullname }}</td>
                    <td>      <script>
                        var dob = new Date("{{ patient.dob|date:'Y-m-d' }}");
                        var now = new Date();
                        var ageMilliseconds = now - dob;
                        var ageSeconds = ageMilliseconds / 1000;
                        var ageYears = Math.floor(ageSeconds / (365.25 * 24 * 60 * 60));
                        document.write(ageYears + ' years');
                    </script>
                </td>
                    <td>{{ patient.gender }}</td>
                    <!-- Add more cells for other fields -->
                    <td>{{ patient.company }}</td>
                    <td>{{ patient.phone }}</td>
                    <td>{{ patient.email }}</td>                   
                    <td>
                        <a href="{% url 'edit_patient' patient.id %}"  data-toggle="tooltip" title="edit" > 
                            <button type="button" class="btn btn-dark btn-sm"><i class="fa fa-edit text-white"></i></button>
                        </a>
                        <a href="{% url 'delete_patient' patient.id %}"  data-toggle="tooltip" title="Delete"> 
                            <button type="button" class="btn btn-danger btn-sm">  <i class="fas fa-trash"></i></button>
                        </a>
                        <!-- Add more action links as needed -->
                        <a href="{% url 'view_patient' patient.id %}"  data-toggle="tooltip" title="View detail">
                             <button type="button" class="btn btn-primary border btn-sm"><i class="fa fa-eye text-dark"></i></button>
                        </a>
                    <!-- Appointment Action -->
                        <a href="{% url 'appointment_view' patient.id %}" >
                            <button type="button" class="btn btn-light border btn-sm">
                                <i class="fas fa-calendar text-dark" title="Appointment"></i>
                            </button>
                        </a>

                        <!-- Visit Action -->
                        <a href="#">
                            <button type="button" class="btn btn-light border btn-sm">
                                <i class="fas fa-eye text-dark" title="Add Visit"></i>
                            </button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

   

    <script>
        function submitForm(checkbox) {
            checkbox.form.submit();
        }
    </script>

{% include 'hod_template/datatable.html' %}
    

{% endblock main_content %}
