{% extends 'hod_template/base_template.html' %}

{% block title %}
In Stock Medicines
{% endblock title %}

{% block breadcrumb %}
{% include "hod_template/modal_form.html" %}
   
{% endblock breadcrumb %}
{% load static %}
{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-header bg-primary text-white text-center mt-0 mb-1"> In Stock Medicinesines</h5>
                </div>
                <div class="card-body">                    
                <div class="table-responsive">
                    <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm  display" id="example"  style="width:100%">
                        <thead>
                            <tr>
                                <th>Medicine Name</th>
                                <th>Original Stock Level</th>              
                                <th>Remaining Quantity</th>              
                                <th>When it last used</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for inventory in in_stock_medicines   %}
                                <tr>
                                    <td>{{ inventory.drug_name }}</td>
                                    <td>{{ inventory.quantity }}</td>   
                                    <td>{{ inventory.remain_quantity }}</td>                
                                    <td>{{ inventory.updated_at }}</td>
                                    </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'hod_template/datatable.html' %}
{% endblock main_content %}
