{% extends 'hod_template/base_template.html' %}

{% block title %}
   All Sample
{% endblock title %}

{% block page_title %}
   All Sample
{% endblock page_title %}

{% block breadcrumb %}
{% include "hod_template/modal_form.html" %}
<a class="btn btn-primary float-right" type="button" data-toggle="modal" data-target="#addSampleModal">
    <i class="fas fa-plus"></i> New Sample
</a>
<!-- Add Import Staff link and modal trigger -->
<a class="btn btn-success float-right mr-2" href="{% url 'clinic:import_referral_records' %}">
  <i class="fas fa-file-import"></i> Import Sample data
</a>
{% endblock breadcrumb %}

{% load static %}
{% block main_content %}

{% comment %} <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css"> {% endcomment %}

<div class="">
    <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm  display" id="example"  style="width:100%">
        <thead>
            <tr>
                <th>Sample ID</th>
                <th>Lab Test</th>
                <th>Collection Date</th>
                <th>Processing Date</th>
                <th>Analysis Date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for sample in samples %}
                <tr>
                    <td>{{ sample.sample_id }}</td>
                    <td>{{ sample.lab_test.test_type }}</td>
                    <td style="background-color: {% if sample.collection_date %}#aaffaa{% else %}#ffaaaa{% endif %}">{% if sample.collection_date %}{{ sample.collection_date }} {% else %}collection still not{% endif %}</td>
                    <td style="background-color: {% if sample.processing_date %}#aaffaa{% else %}#ffaaaa{% endif %}">{% if sample.processing_date %}{{ sample.processing_date }} {% else %}processing still not{% endif %}</td>
                    <td style="background-color: {% if sample.analysis_date %}#aaffaa{% else %}#ffaaaa{% endif %}">{% if sample.analysis_date %}{{ sample.analysis_date }} {% else %}analysis still not{% endif %}</td>
                    <td style="color: {% if sample.status == 'collected' %}#0000ff{% elif sample.status == 'processing' %}#ff9900{% elif sample.status == 'analyzed' %}#00cc00{% endif %}">{{ sample.status }}</td>
                    <td>
                        <button class="btn btn-dark btn-sm" data-toggle="modal" data-target="#editSampleModal{{ sample.id }}" data-toggle="tooltip" title="Edit">
                            <i class="fa fa-edit text-white"></i>
                        </button>
                        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteSampleModal{{ sample.id }}" data-toggle="tooltip" title="Delete">
                            <i class="fas fa-trash"></i>
                        </button>
                        <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#viewSampleModal{{ sample.id }}" data-toggle="tooltip" title="View Details">
                            <i class="fas fa-eye"></i>
                        </button>
                    </td>

<!-- Bootstrap Modal for Viewing Sample Details -->
<div class="modal fade" id="viewSampleModal{{ sample.id }}" tabindex="-1" role="dialog" aria-labelledby="viewSampleModal{{ sample.id }}Label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewSampleModal{{ sample.id }}Label">Sample Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>Sample ID:</strong> {{ sample.sample_id }}</p>
                        <p><strong>Lab Test:</strong> {{ sample.lab_test.test_type }}</p>
                        <p><strong>Collection Date:</strong> {{ sample.collection_date }}</p>
                        <p><strong>Processing Date:</strong>{% if sample.processing_date  %} {{ sample.processing_date }} {% else %}still not be processed{% endif %}</p>
                        <p><strong>Analysis Date:</strong>{% if sample.analysis_date  %} {{ sample.analysis_date }} {% else %}still not be analyzed{% endif %}</p>

                        <p><strong>Status:</strong> {{ sample.status }}</p>
                    </div>
                    <!-- Add more details if needed -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap Modal for Deleting Sample -->
<div class="modal fade" id="deleteSampleModal{{ sample.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteSampleModal{{ sample.id }}Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteSampleModal{{ sample.id }}Label">Delete Sample</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this sample?</p>
            </div>
            
            <div class="modal-footer">
                <form method="post" action="{% url 'clinic:delete_sample' sample.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>             
            </div>
        </div>
    </div>
</div>



                    <!-- Bootstrap Modal for Editing Sample -->
<div class="modal fade" id="editSampleModal{{ sample.id }}" tabindex="-1" role="dialog" aria-labelledby="editSampleModal{{ sample.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSampleModal{{ sample.id }}">Edit Sample</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Sample Form for Editing -->
                <form id="editSampleForm" method="post" action="{% url 'clinic:edit_sample' sample.id %}">
                    {% csrf_token %}

                    <!-- Add a hidden input field for the sample ID -->
                    <input type="hidden" id="edit_sample_id" name="edit_sample_id">

                    <div class="form-group">
                        <label for="edit_lab_test">Lab Test:</label>
                        <select class="form-control select2bs4" style="width: 100%;" id="edit_lab_test" name="edit_lab_test" required >
                            <!-- Populate lab test options -->
                            {% for diagnostic_test in diagnostic_tests %}
                                <option value="{{ diagnostic_test.id }}" {% if diagnostic_test.id == sample.lab_test.id %}selected{% endif %}>{{ diagnostic_test.test_type }} - {{ diagnostic_test.patient.fullname }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="edit_status">Status:</label>
                        <select class="form-control select2bs4" style="width: 100%;" id="edit_status_{{ sample.id }}" name="edit_status" required onchange="updateEditDateFields({{ sample.id }})">
                            <option value="collected" {% if sample.status == 'collected' %}selected{% endif %}>Collected</option>
                            <option value="processing" {% if sample.status == 'processing' %}selected{% endif %}>Processing</option>
                            <option value="analyzed" {% if sample.status == 'analyzed' %}selected{% endif %}>Analyzed</option>
                        </select>
                    </div>
                    <input type="hidden" id="edit_status_{{ sample.id }}" name="edit_status" data-current-status="{{ sample.status }}" required onchange="updateEditDateFields({{ sample.id }})">

                    <div class="form-group" id="edit_collectionDateGroup_{{ sample.id }}" style="display: none;">
                        <label for="edit_collection_date">Collection Date:</label>
                        <input type="date" class="form-control" id="edit_collection_date" name="edit_collection_date" value="{% if sample.collection_date %}{{ sample.collection_date|date:'Y-m-d' }}{% endif %}">
                    </div>
                
                    <div class="form-group" id="edit_processingDateGroup_{{ sample.id }}" style="display: none;">
                        <label for="edit_processing_date">Processing Date:</label>
                        <input type="date" class="form-control" id="edit_processing_date" name="edit_processing_date" value="{% if sample.processing_date %}{{ sample.processing_date|date:'Y-m-d' }}{% endif %}">
                    </div>
                    <div class="form-group" id="edit_analysisDateGroup_{{ sample.id }}" style="display: none;">
                        <label for="edit_analysis_date">Analysis Date:</label>
                        <input type="date" class="form-control" id="edit_analysis_date" name="edit_analysis_date" value="{% if sample.analysis_date %}{{ sample.analysis_date|date:'Y-m-d' }}{% endif %}">
                    </div>

                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
              
                   </div>
        </div>
    </div>
</div>

                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    // Function to update date fields for editing
    function updateEditDateFields(sampleId) {
        var statusElement = document.getElementById('edit_status_' + sampleId);
        var collectionDateGroup = document.getElementById('edit_collectionDateGroup_' + sampleId);
        var processingDateGroup = document.getElementById('edit_processingDateGroup_' + sampleId);
        var analysisDateGroup = document.getElementById('edit_analysisDateGroup_' + sampleId);

        // Get the current and previous statuses
        var currentStatus = statusElement.value;
        var previousStatus = getCurrentStatus(sampleId);

        // Hide all date fields
        collectionDateGroup.style.display = 'none';
        processingDateGroup.style.display = 'none';
        analysisDateGroup.style.display = 'none';

        // Show the relevant date field based on the selected status and previous status
        if (currentStatus === 'collected') {
            collectionDateGroup.style.display = 'block';
        } else if (currentStatus === 'processing') {
            processingDateGroup.style.display = 'block';
        } else if (currentStatus === 'analyzed') {
            analysisDateGroup.style.display = 'block';
        } else {
            // Handle the case where the user is trying to skip a step
            alert('Please follow the correct flow for editing the sample.');
            statusElement.value = previousStatus; // Set back to the previous status
        }
    }

    // Function to get the current status from the hidden input field
    function getCurrentStatus(sampleId) {
        return document.getElementById('edit_status_' + sampleId).dataset.currentStatus;
    }
</script>




<!-- Bootstrap Modal for Adding Sample -->
<div class="modal fade" id="addSampleModal" tabindex="-1" role="dialog" aria-labelledby="addSampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSampleModalLabel">New Sample</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Sample Form -->            
                <form id="sampleForm" method="post" action="{% url 'clinic:save_sample' %}">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="lab_test">Lab Test:</label>
                        <select class="form-control select2bs4" style="width: 100%;" id="lab_test" name="lab_test" required>
                            {% for diagnostic_test in diagnostic_tests %}
                                <option value="{{ diagnostic_test.id }}">{{ diagnostic_test.test_type }} - {{ diagnostic_test.patient.fullname }}</option>
                            {% endfor %}
                        </select>
                    </div>
                     <div class="form-group" id="collectionDateGroup">
                        <label for="collection_date">Collection Date:</label>
                        <input type="date" class="form-control" id="collection_date" name="collection_date">
                    </div>

                  <button type="submit" class="btn btn-primary">Save Sample</button>
                </form>              

            </div>
        </div>
    </div>
</div>


  

 
<script>
    function submitForm(checkbox) {
        checkbox.form.submit();
    }
</script>

{% include 'hod_template/datatable.html' %}
{% endblock main_content %}
