{% extends 'hod_template/base_template.html' %}

{% block title %}
in  Stock Reagent
{% endblock title %}

{% block page_title %}
Out  Stock Reagent
{% endblock page_title %}

{% block breadcrumb %}
{% include "hod_template/modal_form.html" %}
   
{% endblock breadcrumb %}
{% load static %}
{% block main_content %}


{% comment %} <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css"> {% endcomment %}

<div class="">
    <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm  display" id="example"  style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Expiration Date</th>
                <th>Manufacturer</th>
                <th>Lot Number</th>
                <th>Storage Conditions</th>
                <th>Quantity in Stock</th>
                <th>Price per Unit</th>
                <th>Remaining Quantity</th>           
                <th>Last Usage</th>           
            </tr>
        </thead>
        <tbody>
            {% for reagent in in_stock_reagent  %}
                <tr>
                    <td>{{ reagent.name }}</td>
                    <td>{{ reagent.expiration_date }}</td>
                    <td>{{ reagent.manufacturer }}</td>
                    <td>{{ reagent.lot_number }}</td>
                    <td>{{ reagent.storage_conditions }}</td>
                    <td>{{ reagent.quantity_in_stock }}</td>
                    <td>{{ reagent.price_per_unit }}</td>
                    <td>{{ reagent.remaining_quantity }}</td>
                    <td>{{ reagent.updated_at }}</td>
                    </tr>

            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function submitForm(checkbox) {
        checkbox.form.submit();
    }
</script>


{% include 'hod_template/datatable.html' %}
{% endblock main_content %}
