{% extends 'hod_template/base_template.html' %}

{% block title %}
   All Insurance
{% endblock title %}

{% block page_title %}
   All Insurance
{% endblock page_title %}

{% block breadcrumb %}
{% include "hod_template/modal_form.html" %}
<a class="btn btn-primary float-right" type="button" data-toggle="modal" data-target="#insuranceModal">
    <i class="fas fa-plus"></i> New Insurance
</a>
<!-- Add Import insurance link and modal trigger -->
<a class="btn btn-success float-right mr-2" href="{% url 'import_insurance_companies' %}">
  <i class="fas fa-file-import"></i> Import Insurance
</a>
{% endblock breadcrumb %}

{% load static %}
{% block main_content %}

{% comment %} <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css"> {% endcomment %}

<div class="">
    <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm  display" id="example"  style="width:100%">
      <thead>
        <tr>
            <th>Title</th>
            <th>Code</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="insurance-company-table-body">
        {% for company in insurance_companies %}
            <tr>
                <td>{{ company.name }}</td>
                <td>{{ company.short_name }}</td>
                <td>{{ company.phone }}</td>
                <td>{{ company.address }}</td>
                <td>{{ company.email }}</td>
                <td>
                  <a href="{% url 'edit_insurance' company.id %}" class="btn btn-info">Edit</a>
                  <a href="{% url 'delete_insurance' company.id %}" class="btn btn-danger">Delete</a>
                 
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>

<script>
    function submitForm(checkbox) {
        checkbox.form.submit();
    }
</script>

{% include 'hod_template/datatable.html' %}
{% endblock main_content %}
