{% extends 'hod_template/base_template.html' %}

{% block title %}
Drug Unit Measures
{% endblock title %}

{% block breadcrumb %}
{% include "hod_template/modal_form.html" %}
<a class="btn btn-primary float-right" type="button" data-toggle="modal" data-target="#addMedicineUnitMeasureModal">
    <i class="fas fa-plus"></i> New  Drug Unit Measures
</a>
<!-- Add Import Staff link and modal trigger -->
<a class="btn btn-success float-right mr-2" href="{% url "clinic:import_medicine_unit_measures_records" %}">
    <i class="fas fa-file-import"></i> Import Drug Unit Measures
  </a>
{% endblock breadcrumb %}

{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-primary">
                    <h6 class="header-title text-center mt-0 mb-1 text-uppercase">Drug Unit Measures List</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">    
                        <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="example">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Short Name</th>
                                    <th>Application User</th>
                                    <th>Created At</th>
                                    <th>Updated At</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for measure in measures %}
                                <tr>
                                    <td>{{ measure.name }}</td>
                                    <td>{{ measure.short_name }}</td>
                                    <td>{{ measure.application_user }}</td>
                                    <td>{{ measure.created_at }}</td>
                                    <td>{{ measure.updated_at }}</td>
                                    <td>  
                                        <button class="btn btn-dark btn-sm" data-toggle="modal" data-target="#editMedicineUnitMeasureModal{{ measure.id }}" data-toggle="tooltip" title="Edit">
                                            <i class="fa fa-edit text-white"></i>
                                        </button>
                                        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteMedicineUnitMeasureModal{{ measure.id }}" data-toggle="tooltip" title="Delete">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>                                 
                                                                <!-- Modal -->
                                <div class="modal fade" id="editMedicineUnitMeasureModal{{ measure.id }}" tabindex="-1" role="dialog" aria-labelledby="editMedicineUnitMeasureModalLabel{{ measure.id }}" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editMedicineUnitMeasureModalLabel{{ measure.id }}">update Medicine Unit Measure</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">                                               
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="name">Name:</label>
                                                            <input type="text" class="form-control" id="name{{ measure.id }}" name="name" value="{{ measure.name }}" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="short_name">Short Name:</label>
                                                            <input type="text" class="form-control" id="short_name{{ measure.id }}" name="short_name" value="{{ measure.short_name }}"  required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="application_user">Application User:</label>
                                                            <input type="text" class="form-control" id="application_user{{ measure.id }}" name="application_user" value="{{ measure.application_user }}"  required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div id="messageContainer2{{ measure.id }}"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary" onclick="editMedicineUnitMeasure({{ measure.id }})">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                                                <!-- Delete Medicine Unit Measure Modal -->
                                <div class="modal fade" id="deleteMedicineUnitMeasureModal{{ measure.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteMedicineUnitMeasureModalLabel{{ measure.id }}" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteMedicineUnitMeasureModalLabel{{ measure.id }}">Delete Medicine Unit Measure</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure you want to delete the drug unit measure "{{ measure.name }}"?</p>
                                                <div id="deleteMessageContainer{{ measure.id }}"></div> <!-- Container for displaying success/error messages -->
                                            </div>                                         
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                <button type="button" class="btn btn-danger" onclick="deleteMedicineUnitMeasure({{ measure.id }})">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        {% endfor %}
                            </tbody>     
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="addMedicineUnitMeasureModal" tabindex="-1" role="dialog" aria-labelledby="addMedicineUnitMeasureModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addMedicineUnitMeasureModalLabel">Add Drug Unit Measure</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="messageContainer1"></div> <!-- Container for displaying success/error messages -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="names" name="name" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="short_name">Short Name:</label>
                            <input type="text" class="form-control" id="short_name" name="short_name" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="application_user">Application User:</label>
                            <input type="text" class="form-control" id="application_user" name="application_user" required>
                        </div>
                    </div>
                </div>               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="addMedicineUnitMeasure()">Save changes</button>
            </div>
        </div>
    </div>
</div>

  
  <script>
    function addMedicineUnitMeasure() {
        // Get data from modal fields
        var name = $('#names').val();
        var short_name = $('#short_name').val();
        var application_user = $('#application_user').val();
    
        // Send data to server via AJAX
        $.ajax({
            url: '{% url "clinic:add_medicine_unit_measure" %}', // Update with your actual URL
            type: 'POST',
            data: {
                'name': name,
                'short_name': short_name,
                'application_user': application_user,
                // Add additional fields if needed
                'csrfmiddlewaretoken': '{{ csrf_token }}' // Include CSRF token for security
            },
            success: function(response) {
                if (response.success) {
                    $('#messageContainer1').html('<div class="alert alert-success">' + response.message + '</div>');
                    location.reload();
                    // Optionally, refresh or update the UI
                } else {
                    $('#messageContainer1').html('<div class="alert alert-danger">' + response.message + '</div>');
                }
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
            }
        });
    }
    
    

        function editMedicineUnitMeasure(measureId) {
            // Get form data
            var name = $('#name' + measureId).val();
            var shortName = $('#short_name' + measureId).val();
            var applicationUser = $('#application_user' + measureId).val();
    
            // Send AJAX POST request
            $.ajax({
                type: 'POST',
                url: '{% url "clinic:add_medicine_unit_measure" %}',
                data: {
                    name: name,
                    short_name: shortName,
                    application_user: applicationUser,
                    unit_measure_id: measureId,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.success) {
                        // If success, display success message
                        $('#messageContainer2' + measureId).html('<div class="alert alert-success">' + response.message + '</div>');
                        // Reload the page or update any necessary UI elements
                        location.reload();
                    } else {
                        // If error, display error message
                        $('#messageContainer2' + measureId).html('<div class="alert alert-danger">' + response.message + '</div>');
                    }
                },
                error: function(xhr, status, error) {
                    // If request fails, display error message
                    $('#messageContainer2' + measureId).html('<div class="alert alert-danger">Failed to process request. Please try again later.</div>');
                }
            });
        }


    
            function deleteMedicineUnitMeasure(measureId) {
                // Send AJAX POST request
                $.ajax({
                    type: 'POST',
                    url: '{% url "clinic:delete_medicine_unit_measure" %}',
                    data: {
                        unit_measure_id: measureId,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(response) {
                        if (response.success) {
                            // If success, display success message
                            $('#deleteMessageContainer' + measureId).html('<div class="alert alert-success">' + response.message + '</div>');
                            // Reload the page or update any necessary UI elements
                            location.reload();
                        } else {
                            // If error, display error message
                            $('#deleteMessageContainer' + measureId).html('<div class="alert alert-danger">' + response.message + '</div>');
                        }
                    },
                    error: function(xhr, status, error) {
                        // If request fails, display error message
                        $('#deleteMessageContainer' + measureId).html('<div class="alert alert-danger">Failed to process request. Please try again later.</div>');
                    }
                });
            }
      
        
  </script>
  
  
{% include 'hod_template/datatable.html' %}
{% endblock main_content %}
