{% extends 'hod_template/base_template.html' %}

{% block title %}
Radiology
{% endblock title %}

{% block breadcrumb %}
{% include "hod_template/modal_form.html" %}
Radiology
{% load static %}
{% endblock breadcrumb %}

{% block main_content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="header-title text-center mt-0 mb-1 text-uppercase">Radiology</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm  display" id="example"  style="width:100%">
                            <thead>
                                <tr>
                                   <th>Order Number</th>                              
                                    <th>Ordereded By</th>                              
                                    <th>Patient</th>                              
                                    <th>Cost</th>                              
                                    <th>Order Date</th>
                                    <th>Actions</th> <!-- Add a column for actions -->
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <td>{{ order.order_number }}</td>
                                        <td>{{ order.doctor }}
                                            <p><strong>{{ order.doctor.role }}</strong></p>
                                        </td>                                    
                                        <td>{{ order.patient }}
                                            <p>Payment form: <strong>{{ order.patient.payment_form }}</strong></p>
                                        </td>                                  
                                        <td>{{ order.cost }}
                                            
                                        </td>
                                        <td>{{ order.order_date }}</td>
                                         <td>
                                            <a href="{% url 'lab_patient_visit_history_view' order.patient.id %}" data-toggle="tooltip" title="open visit History"   class="btn btn-secondary btn-sm" >
                                                <i class="fa fa-eye text-dark"></i>
                                            </a>                                                 
                                        </td>                                 
                                    </tr>                      
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'hod_template/datatable.html' %}
{% endblock main_content %}
