{% extends 'hod_template/base_template.html' %}

{% block title %}
Orders for {{ date }}
{% endblock title %}

{% block breadcrumb %}
{% include "hod_template/modal_form.html" %}
Orders for {{ date }}
{% endblock breadcrumb %}

{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-primary">
                    <h3 class="header-title text-center mt-0 mb-1 text-uppercase">Orders for {{ date }}</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">    
                        <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="example">
                            <thead>
                                <tr>
                                    <th>Order Number</th>
                                    <th>Order Type</th>
                                    <th>Order To</th>
                                    <th>Patient</th>
                                    <th>Cost</th>
                                    <th>Status</th>
                                    <th>Order Date</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                <tr>
                                    <td>{{ order.order_number }}</td>
                                    <td>{{ order.order_type }}</td>
                                    <td>{{ order.doctor }}
                                        <p><strong>{{ order.doctor.role }}</strong></p>
                                    </td>
                                    <td>{{ order.patient }}
                                        <p>{{ order.patient.payment_form }}</p>
                                    </td>
                                    <td>{{ order.cost }}</td>
                                    <td>
                                        {% if order.status == 'Paid' %}
                                        <span class="badge badge-success">{{ order.status }}</span>
                                        {% else %}
                                        <span class="badge badge-warning">{{ order.status }}</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ order.order_date }}</td>                                    
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'hod_template/datatable.html' %}
{% endblock main_content %}
