{% extends 'hod_template/base_template.html' %}
{% load static %}
{% block title %}
Patient Information 
{% endblock title %}
{% block main_content %}
<div class="container mt-5">
  <!-- patient Personal Info -->
  <div class="card mb-4">
    <div class="card-header bg-primary text-white">
      Patient Personal Info
    </div>
    <div class="card-body">
      {% if patient.fullname %}
      <h5 class="card-title">Full Name: <span style="color: blue;">{{ patient.fullname }}</span></h5>
      {% endif %}
      {% if patient.address %}
      <p class="card-text">Address: {{ patient.address }}</p>
      {% endif %}
      {% if patient.mrn %}
      <p class="card-text">mrn: {{ patient.mrn }}</p>
      {% endif %}    
      {% if patient.email %}
      <p class="card-text">Email: {{ patient.email }}</p>
      {% endif %}
      {% if patient.gender %}
      <p class="card-text">Gender: {{ patient.gender }}</p>
      {% endif %}

      {% if patient.company %}
      <p class="card-text">Company: {{ patient.company }}</p>
      {% endif %}
      {% if patient.dob %}
      <p class="card-text">Date of Birth: {{ patient.dob }}</p>
      {% endif %}
      {% if patient.phone %}
      <p class="card-text">Phone Number: {{ patient.phone }}</p>
      {% endif %}   
      {% if patient.marital_status %}
      <p class="card-text">marital status: {{ patient.marital_status }}</p>
      {% endif %}
      {% if patient.patient_type %}
      <p class="card-text">patient type: {{ patient.patient_type }}</p>
      {% endif %}   
      {% if patient.nationality %}
      <p class="card-text">Nationality: {{ patient.nationality }}</p>
      {% endif %}
   
      <!-- Add other personal information fields here -->
    </div>
  </div>
</div>
{% endblock main_content %}
