{% extends 'hod_template/base_template.html' %}
{% block title %}
Product Summary  
{% endblock title %}

{% block page_title %}
Product Summary 
{% endblock page_title %}

{% block breadcrumb %}

{% endblock breadcrumb %}
{% block main_content %}
    <style>
        .patient-info-container {
            background-color: #f0f0f0;
            padding: 15px;
            border-radius: 10px;
            margin-bottom: 20px;
        }
        
        .patient-details {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        
        .company-name {
            font-size: 16px;
            margin-bottom: 0;
        }
        
        .company-name span {
            color: #3498db; /* Blue color for emphasis */
        }
        
        .add-visit-btn {
            background-color: #2ecc71; /* Green button color */
            border: none;
        }
        
        .add-visit-btn:hover {
            background-color: #27ae60; /* Darker green on hover */
        }
        
    </style>
    {% include "hod_template/modal_form.html" %}
        <div class="card">
            <div class="card-body">
                   <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="example">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Warehouse</th>
                                    <th scope="col">Unit</th>
                                    <th scope="col">In Quantity</th>
                                    <th scope="col">Out Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

   
</div>

   


    <script>
        function submitForm(checkbox) {
            checkbox.form.submit();
        }
    </script>

{% include 'hod_template/datatable.html' %}
    

{% endblock main_content %}
