{% extends 'hod_template/base_template.html' %}
{% block title %}
Visits Reports    
{% endblock title %}

{% block page_title %}
Patient Visits Reports 
{% endblock page_title %}

{% block breadcrumb %}

   
{% endblock breadcrumb %}
{% block main_content %}


    <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="example">
        <thead>
            <tr>              
                <th>Number</th>
                <th>Date</th>
                <th>Time</th>
                <th>Day</th>
                <th>Full name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>SP02</th>
                <th>Blood</th>
                <th>Temperature</th>
                <th>Weigth</th>
                <th>height</th>
                <th>Chief Complaint</th>
                <th>Diagnosis</th>
                <th>Investigation</th>
                <th>Treatment</th>
                <th>Company</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>PAT-00106</td>
                <td>2024-01-10</td>
                <td>12:45</td>
                <td>Wednesday</td>
                <td>SUNGURA SIMON</td>
                <td>28</td>
                <td>Male</td>
                <td>99</td>
                <td>113/67</td>
                <td>36.4</td>
                <td>68</td>
                <td>164</td>
                <td>Running nose 1/7</td>
                <td>"Allergic rhinitis, unspecified*J30.4"</td>
                <td></td>
                <td></td>
                <td>FABEC</td>
            </tr>
            <tr>
                <td>PAT-00106</td>
                <td>2024-01-10</td>
                <td>12:45</td>
                <td>Wednesday</td>
                <td>SUNGURA SIMON</td>
                <td>28</td>
                <td>Male</td>
                <td>99</td>
                <td>113/67</td>
                <td>36.4</td>
                <td>68</td>
                <td>164</td>
                <td>Running nose 1/7</td>
                <td>"Allergic rhinitis, unspecified*J30.4"</td>
                <td></td>
                <td></td>
                <td>FABEC</td>
            </tr>
            <tr>
                <td>PAT-00340</td>
                <td>2024-01-10</td>
                <td>11:55</td>
                <td>Wednesday</td>
                <td>JOANESS AGUMBA</td>
                <td>45</td>
                <td>Male</td>
                <td>100</td>
                <td>121/79</td>
                <td>37.2</td>
                <td>120</td>
                <td>181</td>
                <td>Headache 2/7</td>
                <td>"Malaise and fatigue*R53"</td>
                <td>MALARIA RAPID TEST (MRDT), URINALYSIS</td>
                <td></td>
                <td>GARDA</td>
            </tr>
        </tbody> 
    </table>
</div>

   

    <script>
        function submitForm(checkbox) {
            checkbox.form.submit();
        }
    </script>

{% include 'hod_template/datatable.html' %}
    

{% endblock main_content %}
