{% extends 'hod_template/base_template.html' %}

{% block page_title %}
  Edit patient | MRN: {{ staff.mrn }} 
{% endblock page_title %}

{% block main_content %}
  {% load static %}

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- Left column -->
        <div class="col-md-12">
          <!-- General form elements -->
          <div class="card card-primary">
            <h2 class="card-header">Edit Patient</h2>
            <div class="card-body">
                <form id="patientForm" method="post"  action="{% url 'edit_patient' patient.id %}">
                    {% csrf_token %}
                    <!-- Personal Information -->
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="fullname" class="col-form-label">Full Name</label>
                            <input type="text" class="form-control" name="fullname" id="fullname" placeholder="" value="{{ patient.fullname }}">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="email" class="col-form-label">Email</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="" value="{{ patient.email }}">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="dob" class="col-form-label">Date of Birth</label>
                            <input type="date" class="form-control" name="dob" id="dob" placeholder="" value="{{ patient.dob|date:'Y-m-d' }}">
                        </div>
                    </div>
                
                    <!-- Additional Personal Information -->
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="gender" class="col-form-label">Gender</label>
                            <select class="form-control select2bs4" style="width: 100%;" name="gender" id="gender">
                                <option value="">Select Gender</option>
                                <option value="male" {% if patient.gender == 'male' %} selected {% endif %}>Male</option>
                                <option value="female" {% if patient.gender == 'female' %} selected {% endif %}>Female</option>
                                <option value="non-binary" {% if patient.gender == 'non-binary' %} selected {% endif %}>Non-Binary</option>
                                <option value="prefer-not-to-say" {% if patient.gender == 'prefer-not-to-say' %} selected {% endif %}>Prefer Not to Say</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="phone" class="col-form-label">Phone Number</label>
                            <input type="tel" class="form-control" name="phone" id="phone" placeholder="" value="{{ patient.phone }}">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="Address" class="col-form-label">Address</label>
                            <textarea id="Address" name="Address" rows="2" class="form-control">{{ patient.address }}</textarea>
                        </div>
                    </div>
                
                    <!-- Professional Information -->
                    <div class="row">
                      <div class="form-group col-sm-4">
                          <label for="profession" class="col-form-label">Nationality</label>
                          <select class="form-control select2bs4" style="width: 100%;" name="profession" id="profession">
                              <option value="">Select Nationality</option>
                              <option value="Tanzania" {% if patient.nationality == 'Tanzania' %} selected {% endif %}>Tanzania</option>
                              <option value="Burundi" {% if patient.nationality == 'Burundi' %} selected {% endif %}>Burundi</option>
                              <option value="Kenya" {% if patient.nationality == 'Kenya' %} selected {% endif %}>Kenya</option>
                              <option value="Uganda" {% if patient.nationality == 'Uganda' %} selected {% endif %}>Uganda</option>
                          </select>
                      </div>
                      <div class="form-group col-sm-4">
                          <label for="company" class="col-form-label">Company</label>
                          <input type="text" class="form-control" name="company" id="company" placeholder="" value="{{ patient.company }}">
                      </div>
                      <div class="form-group col-sm-4">
                          <label for="maritalStatus" class="col-form-label">Marital Status</label>
                          <select class="form-control select2bs4" style="width: 100%;" name="maritalStatus" id="maritalStatus">
                              <option value="single" {% if patient.marital_status == 'single' %} selected {% endif %}>Single</option>
                              <option value="married" {% if patient.marital_status == 'married' %} selected {% endif %}>Married</option>
                              <option value="divorced" {% if patient.marital_status == 'divorced' %} selected {% endif %}>Divorced</option>
                              <option value="widowed" {% if patient.marital_status == 'widowed' %} selected {% endif %}>Widowed</option>
                          </select>
                      </div>
                      <div class="form-group col-sm-4">
                          <label for="patient_type" class="col-form-label">Patient type</label>
                          <select class="form-control select2bs4" style="width: 100%;" name="patient_type" id="patient_type">
                              <option value="International Staff" {% if patient.patient_type == 'International Staff' %} selected {% endif %}>International Staff</option>
                              <option value="Visitor" {% if patient.patient_type == 'Visitor' %} selected {% endif %}>Visitor</option>
                              <option value="Other" {% if patient.patient_type == 'Other' %} selected {% endif %}>Other</option>
                          </select>
                      </div>
                  </div>
                 
                    <div id="messageContainer" class="text-center mt-2"></div>
                
                    <div class="form-group pt-2 float-end">
                        <div class="row">
                            <div class="col-md-8"></div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-md btn-primary">Save change <i class="mdi mdi-forward"></i></button>
                            </div>
                        </div>
                    </div>
                </form>            
            </div>
            <div class="card-footer">
              <div class="form-row">
                <div>
                  {% if messages %}
                    <div class="col-12">
                      {% for message in messages %}
                        {% if message.tags == 'error' %}
                          <div class="alert alert-danger">{{ message }}</div>
                        {% elif message.tags == 'success' %}
                          <div class="alert alert-primary">{{ message }}</div>
                        {% endif %}
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock main_content %}
