{% extends 'hod_template/base_template.html' %}

{% block page_title %}
  Edit disease
{% endblock page_title %}

{% block main_content %}
  {% load static %}

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <h2 class="card-header">Edit disease</h2>
            <div class="card-body">
              <form method="post" action="{% url 'edit_disease_record' disease.id %}">
                {% csrf_token %}
                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="Name" class="col-form-label">Name</label>
                    <input type="text" class="form-control" name="Name" id="Name" value="{{ disease.disease_name }}" placeholder="Enter name">
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="code" class="col-form-label">code</label>
                    <input type="text" class="form-control" name="code" id="code" value="{{ disease.code }}" placeholder="Enter phone">
                  </div>
                </div>       
                
                <div class="form-group row">
                  <div class="offset-md-6 col-md-6 text-right">
                    <button type="submit" class="btn btn-primary">Save and Continue</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer">
              <div class="form-row">
                <div class="col-12">
                  {% if messages %}
                    {% for message in messages %}
                      <div class="alert {{ message.tags }}">
                        {{ message }}
                      </div>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock main_content %}
