{% extends 'hod_template/base_template.html' %}

{% block page_title %}
  Edit Staff | Name: {{ staff.admin.username }} | ID: {{ staff.id }}
{% endblock page_title %}

{% block main_content %}
  {% load static %}

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- Left column -->
        <div class="col-md-12">
          <!-- General form elements -->
          <div class="card card-primary">
            <h2 class="card-header">Edit Staff</h2>
            <div class="card-body">
              <form id="editStaffForm" action="{% url 'clinic:edit_staff_save' %}" method="post" novalidate>
                {% csrf_token %}
                <!-- Personal Information -->
                <div class="row">
                  <div class="form-group col-sm-4">
                    <label for="firstName" class="col-form-label">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="firstName" value="{{ staff.admin.first_name }}" required>
                    <div class="invalid-feedback">First name is required.</div>
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="middleName" class="col-form-label">Middle Name</label>
                    <input type="text" class="form-control" name="middleName" id="middleName" value="{{ staff.middle_name }}">
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="lastname" class="col-form-label">Last Name</label>
                    <input type="text" class="form-control" name="lastname" id="lastname" value="{{ staff.admin.last_name }}" required>
                    <div class="invalid-feedback">Last name is required.</div>
                  </div>
                </div>

                <!-- Professional Information -->
                <div class="row">
                  <div class="form-group col-sm-4">
                    <label for="profession" class="col-form-label">Select Profession</label>
                    <select class="form-control select2bs4" name="profession" id="profession" required>
                      <option value="">Select Profession</option>
                       <option value="doctor" {% if staff.profession == 'doctor' %}selected{% endif %}>Doctor</option>
                      <option value="nurse" {% if staff.profession == 'nurse' %}selected{% endif %}>Nurse</option>
                      <option value="pharmacist" {% if staff.profession == 'pharmacist' %}selected{% endif %}>Pharmacist</option>
                      <option value="developer" {% if staff.profession == 'developer' %}selected{% endif %}>Developer</option>
                      <option value="designer" {% if staff.profession == 'designer' %}selected{% endif %}>Designer</option>
                      <option value="manager" {% if staff.profession == 'manager' %}selected{% endif %}>Manager</option>
                      <option value="radiologist" {% if staff.profession == 'radiologist' %}selected{% endif %}>Radiologist</option>
                      <option value="lab_technician" {% if staff.profession == 'lab_technician' %}selected{% endif %}>Lab Technician</option>
                      <option value="receptionist" {% if staff.profession == 'receptionist' %}selected{% endif %}>Receptionist</option>
                      <option value="physiotherapist" {% if staff.profession == 'physiotherapist' %}selected{% endif %}>Physiotherapist</option>
                      <option value="accountant" {% if staff.profession == 'accountant' %}selected{% endif %}>Accountant</option>
                      <option value="security_guard" {% if staff.profession == 'security_guard' %}selected{% endif %}>Security Guard</option>
                      <option value="chef" {% if staff.profession == 'chef' %}selected{% endif %}>Chef</option>
                      <option value="cleaner" {% if staff.profession == 'cleaner' %}selected{% endif %}>Cleaner</option>
                     
                    </select>
                    <div class="invalid-feedback">Profession is required.</div>
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="maritalStatus" class="col-form-label">Marital Status</label>
                    <select class="form-control select2bs4" name="maritalStatus" id="maritalStatus" required>
                      <option value="">Select Marital Status</option>                    
                      <option value="single" {% if staff.marital_status == 'single' %}selected{% endif %}>Single</option>
                      <option value="married" {% if staff.marital_status == 'married' %}selected{% endif %}>Married</option>
                      <option value="divorced" {% if staff.marital_status == 'divorced' %}selected{% endif %}>Divorced</option>
                      <option value="widowed" {% if staff.marital_status == 'widowed' %}selected{% endif %}>Widowed</option>                    
                    </select>
                    <div class="invalid-feedback">Marital status is required.</div>
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="email" class="col-form-label">Email</label>
                    <input type="email" class="form-control" name="email" id="email" value="{{ staff.admin.email }}" required>
                    <div class="invalid-feedback">Email is required and should be valid.</div>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-sm-4">
                    <label for="userRole" class="col-form-label">Select Role</label>
                    <select class="form-control select2bs4" name="userRole" id="userRole" required>
                      <option value="">Select Role</option>             
                      <option value="admin" {% if staff.role == 'admin' %}selected{% endif %}>Administrator</option>
                      <option value="doctor" {% if staff.role == 'doctor' %}selected{% endif %}>Doctor</option>
                      <option value="nurse" {% if staff.role == 'nurse' %}selected{% endif %}>Nurse</option>
                      <option value="physiotherapist" {% if staff.role == 'physiotherapist' %}selected{% endif %}>Physiotherapist</option>
                      <option value="labTechnician" {% if staff.role == 'labTechnician' %}selected{% endif %}>Lab Technician</option>
                      <option value="pharmacist" {% if staff.role == 'pharmacist' %}selected{% endif %}>Pharmacist</option>
                      <option value="receptionist" {% if staff.role == 'receptionist' %}selected{% endif %}>Receptionist</option>                   
                    </select>
                    <div class="invalid-feedback">Role is required.</div>
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="gender" class="col-form-label">Gender</label>
                    <select class="form-control select2bs4" name="gender" id="gender" required>
                      <option value="">Select Gender</option>
                      <option value="male" {% if staff.gender == 'male' %}selected{% endif %}>Male</option>
                      <option value="female" {% if staff.gender == 'female' %}selected{% endif %}>Female</option>
                      <option value="non-binary" {% if staff.gender == 'non-binary' %}selected{% endif %}>Non-Binary</option>
                      <option value="prefer-not-to-say" {% if staff.gender == 'prefer-not-to-say' %}selected{% endif %}>Prefer Not to Say</option>                    
                    </select>
                    <div class="invalid-feedback">Gender is required.</div>
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="dob" class="col-form-label">Date of Birth</label>
                    <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" value="{{ staff.date_of_birth|date:'Y-m-d' }}" required>
                    <div class="invalid-feedback">Date of birth is required.</div>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-sm-4">
                    <label for="phone" class="col-form-label">Phone</label>
                    <input type="tel" class="form-control" id="phone" name="phone" value="{{ staff.phone_number }}" required pattern="(0|\+255)\d{9,12}" title="Please enter a valid phone number starting with '0' or '+255' and having 10 to 13 digits">
                    <div class="invalid-feedback">Please enter a valid phone number starting with '0' or '+255' and having 10 to 13 digits.</div>
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="Workingplace" class="col-form-label">Working place</label>
                    <select class="form-control select2bs4" name="Workingplace" id="Workingplace" required>
                      <option value="">Select Working place</option>                     
                      <option value="resa" {% if staff.work_place == 'resa' %}selected{% endif %}>Resa</option>
                      <option value="kahama" {% if staff.work_place == 'kahama' %}selected{% endif %}>Kahama</option>                
                    </select>
                    <div class="invalid-feedback">Working place is required.</div>
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="joiningDate" class="col-form-label">Joining Date</label>
                    <input type="date" class="form-control" name="joiningDate" id="joiningDate" value="{{ staff.joining_date|date:'Y-m-d' }}" required>
                    <div class="invalid-feedback">Joining date is required.</div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="offset-md-6 col-md-6 text-right">
                    <button type="submit" class="btn btn-primary">Save and Continue</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer">
              <div class="form-row">
                <div>
                  {% if messages %}
                    <div class="col-12">
                      {% for message in messages %}
                        {% if message.tags == 'error' %}
                          <div class="alert alert-danger">{{ message }}</div>
                        {% elif message.tags == 'success' %}
                          <div class="alert alert-primary">{{ message }}</div>
                        {% endif %}
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        var form = document.getElementById('editStaffForm');
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      }, false);
    })();
  </script>

{% endblock main_content %}
