{% extends 'kahama_template/base_template.html' %}

{% block title %}
  Medication Alergy
{% endblock title %}



{% block breadcrumb %}
    <!-- Breadcrumb content can be added here if needed -->
    Add   Medication Alergy
{% endblock breadcrumb %}

{% block main_content %}
    {% load static %}             

    <div class="container">
        <!-- Patient Information Card -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row" style="font-size:13px;">
                            <div class="col-md-3"><b>PATIENT: {{ patient.first_name }} {{ patient.middle_name }}  {{ patient.last_name }}</b></div>
                            <div class="col-md-3"><b>Age: {{ patient.age }}</b></div>
                            <div class="col-md-3"><b>SEX: {{ patient.gender }}</b></div>
                            <div class="col-md-3"><b>FILE NO : {{ patient.mrn }}</b></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-3"><b>PAYMENT MODE: {{ patient.payment_form }}</b></div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        
                <!-- Medication Allergy Entry Form -->
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <form method="post" action="{% url 'kahamahmis:save_patient_medication_allergy' patient.id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="patient_id" value="{{ patient.id }}">
                                    <div class="form-group">
                                        <label for="medication_allergy">Does the patient have any allergies to medication?</label>
                                        <select class="form-control" id="medication_allergy" name="medication_allergy">
                                            <option value="no">No</option>
                                            <option value="yes">Yes</option>
                                        </select>
                                    </div>
                                    <!-- Medication Allergy Table -->
                                    <div class="table-responsive" id="medication_allergy_form_container" style="display: none;">
                                        <table class="table table-bordered" id="medication_allergy_table">
                                            <thead>
                                                <tr>
                                                    <th>Drug name</th>
                                                    <th>Provide details (if any)</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><input type="text" class="form-control" name="medicine_name[]" ></td>
                                                    <td><input type="text" class="form-control" name="reaction[]" ></td>
                                                    <td><button type="button" class="btn btn-danger btn-sm delete-row">Delete</button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- Add More Medication Allergy Button -->
                                        <div class="form-group">
                                            <button type="button" class="btn btn-primary btn-block" id="add_medication_allergy">Add another drug </button>
                                        </div>
                                    </div>
                                    <!-- Submit Button -->
                                    <button type="submit" class="btn btn-success btn-block">Save to proceed</button>
                                </form>
                            </div>
                            <div class="card-footer">
                                <div class="form-row">
                                    <div>
                                        {% if messages %}
                                        <div class="col-12">
                                            {% for message in messages %}
                                            {% if message.tags == 'error' %}
                                            <div class="alert alert-danger">{{ message }}</div>
                                            {% elif message.tags == 'success' %}
                                            <div class="alert alert-primary">{{ message }}</div>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    
   
<script>
    // Initially hide the medication allergy entry form
    $('#medication_allergy_form_container').hide();

    // Event listener for medication allergy selection
    $('#medication_allergy').change(function() {
        if ($(this).val() === 'yes') {
            // Show the medication allergy entry form if the patient has allergies to medication
            $('#medication_allergy_form_container').show();
        } else {
            // Hide the medication allergy entry form if the patient doesn't have allergies to medication
            $('#medication_allergy_form_container').hide();
        }
    });

    // JavaScript for Adding/Deleting Rows
    $('#add_medication_allergy').click(function() {
        var newRow = `<tr>
                            <td><input type="text" class="form-control" name="medicine_name[]" ></td>
                            <td><input type="text" class="form-control" name="reaction[]" ></td>
                            <td><button type="button" class="btn btn-danger btn-sm delete-row">Delete</button></td>
                        </tr>`;
        $('#medication_allergy_table tbody').append(newRow);
    });

    // Delete Medication Allergy Row
    $(document).on('click', '.delete-row', function() {
        $(this).closest('tr').remove();
    });
</script>
    
    {% include 'kahama_template/datatable.html' %}     
{% endblock main_content %}
