{% extends 'kahama_template/base_template.html' %}

{% block title %}
    Add Patients
{% endblock title %}
{% block breadcrumb %}
{% endblock breadcrumb %}
{% block main_content %}
    {% load static %}             

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card mt-5">
                    <div class="card-header">
                        Patient Information
                    </div>
                    <div class="card-body">
                        <form method="post" action="{% url 'patient_info_form' %}">
                            {% csrf_token %}
                            <div class="row">
                                <!-- Basic Information -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="first_name">First Name:</label>
                                        <input type="text" class="form-control" id="first_name" name="first_name" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="middle_name">Middle Name:</label>
                                        <input type="text" class="form-control" id="middle_name" name="middle_name" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="last_name">Last Name:</label>
                                        <input type="text" class="form-control" id="last_name" name="last_name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="gender">Gender:</label>
                                        <select class="form-control select2bs4" style="width: 100%;" id="gender" name="gender" required>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="occupation">Occupation:</label>
                                        <input type="text" class="form-control" id="occupation" name="occupation" placeholder="e.g., Student, Self-employed...">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="phone">Phone:</label>
                                        <input type="tel" class="form-control" id="phone" name="phone">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="employee_number">Employee Number:</label>
                                        <input type="text" class="form-control" id="employee_number" name="employee_number">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="date_of_first_employment">Date of First Employment:</label>
                                        <input type="date" class="form-control" id="date_of_first_employment" name="date_of_first_employment">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="longtime_illness">Longtime Illness:</label>
                                        <input type="text" class="form-control" id="longtime_illness" name="longtime_illness">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="longtime_medication">Longtime Medication:</label>
                                        <input type="text" class="form-control" id="longtime_medication" name="longtime_medication">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="osha_certificate">OSHA Certificate:</label>
                                        <select class="form-control select2bs4" style="width: 100%;" id="osha_certificate" name="osha_certificate" onchange="toggleOshaFields()">
                                            <option value="0">No</option>
                                            <option value="1">Yes</option>
                                        </select>
                                    </div>
                                    <div class="form-group" id="oshaDateField" style="display: none;">
                                        <label for="date_of_osha_certification">Date of OSHA Certification:</label>
                                        <input type="date" class="form-control" id="date_of_osha_certification" name="date_of_osha_certification">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="insurance">Insurance:</label>
                                        <select class="form-control select2bs4" style="width: 100%;" id="insurance" name="insurance" onchange="toggleInsuranceFields()">
                                            <option value="Uninsured">Uninsured</option>
                                            <option value="Insured">Insured</option>                                            
                                        </select>
                                    </div>
                                    <div class="form-group" id="insuranceFields" style="display: none;">
                                        <label for="insurance_company">Insurance Company:</label>
                                        <select class="form-control select2bs4" style="width: 100%;" name="insurance_company" id="insurance_company">
                                            <option value="">Select Insurance Company</option>
                                            <option value="NHIF">NHIF</option>
                                            <option value="Jubilee">Jubilee</option>
                                            <option value="Strateggies">Strateggies</option>
                                            <option value="Assembly">Assembly</option>
                                            <option value="Britam">Britam</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                    <div class="form-group" id="insuranceNumberField" style="display: none;">
                                        <label for="insurance_number">Insurance Number:</label>
                                        <input type="text" class="form-control" id="insurance_number" name="insurance_number">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="emergency_contact_name">Emergency Contact Name:</label>
                                        <input type="text" class="form-control" id="emergency_contact_name" name="emergency_contact_name">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="emergency_contact_relation">Emergency Contact Relation:</label>
                                        <input type="text" class="form-control" id="emergency_contact_relation" name="emergency_contact_relation">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="emergency_contact_phone">Emergency Contact Phone:</label>
                                        <input type="tel" class="form-control" id="emergency_contact_phone" name="emergency_contact_phone">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="emergency_contact_mobile">Emergency Contact Mobile:</label>
                                        <input type="tel" class="form-control" id="emergency_contact_mobile" name="emergency_contact_mobile">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="life_style">Lifestyle:</label>
                                        <select class="form-control select2bs4" style="width: 100%;" id="life_style" name="life_style" multiple>
                                            <option value="Smoking">Smoking</option>
                                            <option value="Alcohol Consumption">Alcohol Consumption</option>
                                            <option value="Weekly Exercise Frequency">Weekly Exercise Frequency</option>
                                            <option value="Healthy Diet">Healthy Diet</option>
                                            <option value="Stress Management">Stress Management</option>
                                            <option value="Sufficient Sleep">Sufficient Sleep</option>
                                        </select>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="age">Age:</label>
                                        <select class="form-control select2bs4" style="width: 100%;" id="age" name="age">
                                            {% for age in range_100  %}
                                                <option value="{{ age }}">{{ age }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="marital_status">Marital Status:</label>
                                        <select class="form-control select2bs4" style="width: 100%;" name="marital_status" id="marital_status">
                                            <option value="single">Single</option>
                                            <option value="married">Married</option>
                                            <option value="divorced">Divorced</option>
                                            <option value="widowed">Widowed</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="nationality">Nationality:</label>
                                        <select class="form-control select2bs4" style="width: 100%;" name="nationality" id="nationality">                                   
                                            <option value="Tanzania">Tanzania</option>
                                            <option value="Burundi">Burundi</option>
                                            <option value="Kenya">Kenya</option>
                                            <option value="Uganda">Uganda</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="tribe">Tribe:</label>
                                        <input type="text" class="form-control" id="tribe" name="tribe">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="patient_type">Patient Type:</label>
                                        <select class="form-control select2bs4" style="width: 100%;" id="patient_type" name="patient_type">
                                            <option value="NationalStaff">National Staff</option>
                                            <option value="International Staff">International Staff</option>
                                            <option value="Visitor">Visitor</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="company">Company:</label>
                                        <input type="text" class="form-control" id="company" name="company">
                                    </div>
                                </div>
                            </div>
                            <!-- End of Form -->
                            <div class="row">
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-primary" name="save_back">Save & Back to Patients List</button>
                                </div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-success" name="save_add_another">Save & Add Another Patient</button>
                                </div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-info"  name="save_continue_health">Save & Continue to Health Information</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="form-row">
                            <div>
                                {% if messages %}
                                    <div class="col-12">
                                        {% for message in messages %}
                                            {% if message.tags == 'error' %}
                                                <div class="alert alert-danger">{{ message }}</div>
                                            {% elif message.tags == 'success' %}
                                                <div class="alert alert-primary">{{ message }}</div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                </div>
                </div>
            </div>
        </div>
    </div>


    
    <script>
        function toggleInsuranceFields() {
            var insurance = document.getElementById('insurance').value;
            var insuranceFields = document.getElementById('insuranceFields');
            var insuranceNumberField = document.getElementById('insuranceNumberField');
            if (insurance === 'Insured') {
                insuranceFields.style.display = 'block';
                insuranceNumberField.style.display = 'block';
            } else {
                insuranceFields.style.display = 'none';
                insuranceNumberField.style.display = 'none';
            }
        }

        function toggleOshaFields() {
            var oshaCertificate = document.getElementById('osha_certificate').value;
            var oshaDateField = document.getElementById('oshaDateField');
            if (oshaCertificate === '1') {
                oshaDateField.style.display = 'block';
            } else {
                oshaDateField.style.display = 'none';
            }
        }
    </script>
 

                
{% endblock main_content %}
