{% extends 'kahama_template/base_template.html' %}

{% block title %}
    Add Remote Patient Vital
{% endblock title %}

{% block breadcrumb %}
Add  Patient Vital
{% endblock breadcrumb %}

{% block main_content %}
    <div class="container">
           <!-- Patient Information Card -->
           <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row" style="font-size:13px;">
                            <div class="col-md-3"><b>PATIENT: {{ patient.first_name }} {{ patient.middle_name }}  {{ patient.last_name }}</b></div>
                            <div class="col-md-3"><b>Age: {{ patient.age }}</b></div>
                            <div class="col-md-3"><b>SEX: {{ patient.gender }}</b></div>
                            <div class="col-md-3"><b>FILE NO : {{ patient.mrn }}</b></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-3"><b>Visit  number: {{ visit.vst }}</b></div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Add  Patient Vital</div>
                    <div class="card-body">
                        <form method="post" method="{% url 'kahamahmis:save_remotepatient_vitals' patient.id visit.id %}">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="respiratory_rate">Respiratory Rate (breaths per minute)</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="respiratoryRate" name="respiratory_rate">
                                        {% for rate in range_15 %}
                                            <option value="{{ rate }}" {% if rate == existing_vital.respiratory_rate %} selected {% endif %}>{{ rate }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="pulse_rate">Pulse Rate (beats per minute)</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="pulseRate" name="pulse_rate">
                                        {% for rate in range_301 %}
                                            <option value="{{ rate }}" {% if rate == existing_vital.pulse_rate %} selected {% endif %}>{{ rate }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="sbp">Systolic Blood Pressure (mmHg)</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="sbp" name="sbp">
                                        {% for sbp in range_301 %}
                                            <option value="{{ sbp }}" {% if sbp == existing_vital.sbp %} selected {% endif %}>{{ sbp }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="dbp">Diastolic Blood Pressure (mmHg)</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="dbp" name="dbp">
                                        {% for dbp in range_301 %}
                                            <option value="{{ dbp }}" {% if dbp == existing_vital.dbp %} selected {% endif %}>{{ dbp }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="avpu">AVPU Scale</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="avpu" name="avpu">
                                        <option value="Alert" {% if 'Alert' == existing_vital.avpu %} selected {% endif %}>Alert</option>
                                        <option value="Verbal" {% if 'Verbal' == existing_vital.avpu %} selected {% endif %}>Verbal</option>
                                        <option value="Pain" {% if 'Pain' == existing_vital.avpu %} selected {% endif %}>Pain</option>
                                        <option value="Unresponsive" {% if 'Unresponsive' == existing_vital.avpu %} selected {% endif %}>Unresponsive</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="spo2">SPO2 (%)</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="spo2" name="spo2">
                                        {% for percentage in range_101 %}
                                            <option value="{{ percentage }}" {% if percentage == existing_vital.spo2 %} selected {% endif %}>{{ percentage }}%</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="temperature">Temperature (°C)</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="temperature" name="temperature">
                                        {% for temp in range_51 %}
                                            <option value="{{ temp }}" {% if temp == existing_vital.temperature %} selected {% endif %}>{{ temp }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="gcs">Glasgow Coma Scale</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="gcs" name="gcs">
                                        {% for score in range_15  %}
                                            <option value="{{ score }}" {% if score == existing_vital.gcs %} selected {% endif %}>{{ score }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="card-footer">
                                {% if messages %}
                                    <div class="row">
                                        <div class="col-12">
                                            {% for message in messages %}
                                                {% if message.tags == 'error' %}
                                                    <div class="alert alert-danger">{{ message }}</div>
                                                {% elif message.tags == 'success' %}
                                                    <div class="alert alert-primary">{{ message }}</div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Save to continue</button>
                        
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'kahama_template/datatable.html' %}     
{% endblock main_content %}
