{% extends 'kahama_template/base_template.html' %}

{% block title %}
    Add Patients
{% endblock title %}
{% block page_title %}
  add patient
{% endblock page_title %}
{% block breadcrumb %}
{% endblock breadcrumb %}

{% block main_content %}
    {% load static %}             

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card mt-5">
                    <div class="card-header">
                        Patient Information
                    </div>
                    <div class="card-body">
                        <form method="post" action="{% url 'kahamahmis:patient_info_form' %}">
                            {% csrf_token %}
                            <div class="row">
                                <!-- First Name -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="first_name">First Name:</label> <span class="error">* </span>
                                        <input type="text" class="form-control" id="first_name" name="first_name" required>
                                       
                                    </div>
                                </div>
                                <!-- Middle Name -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="middle_name">Middle Name:</label> <span class="error">* </span>
                                        <input type="text" class="form-control" id="middle_name" name="middle_name" required>
                                       
                                    </div>
                                </div>
                                <!-- Last Name -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="last_name">Last Name:</label> <span class="error">* </span>
                                        <input type="text" class="form-control" id="last_name" name="last_name" required>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Gender -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="gender">Gender:</label><span class="error">* </span>
                                        <select class="form-control select2bs4" style="width: 100%;" id="gender" name="gender" required>
                                          
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                        
                                    </div>
                                </div>
                                <!-- Age -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="age">Age:</label>
                                        <select class="form-control select2bs4" style="width: 100%;" id="age" name="age" required>
                                            {% for age in range_121 %}
                                                <option value="{{ age }}">{{ age }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                           <!-- Date of Birth -->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="dob">Date of Birth:</label>
                                    <input type="date" class="form-control" id="dob" name="dob" min="1922-01-01" max="2024-12-31">
                                </div>
                            </div>
                            </div>
                            <div class="row">
                                <!-- Nationality -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="nationality">Nationality:</label>
                                        <select class="form-control select2bs4" style="width: 100%;" name="nationality" id="nationality" required>                                   
                                         
                                         {% for country in all_country %}
                                            <option value="{{country.id}}">{{country.name}}</option>
                                         {% endfor %}
                                            
                                        </select>
                                    </div>
                                </div>
                                <!-- Patient's Phone -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="phone">Patient's Phone:</label>
                                        <input type="tel" class="form-control" id="phone" name="phone" required>
                                    </div>
                                </div>
                                <!-- OSHA Certification -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="osha_certificate">OSHA Certification:</label>
                                        <select class="form-control select2bs4" style="width: 100%;" id="osha_certificate" name="osha_certificate" onchange="toggleOshaFields()">
                                            <option value="0">No</option>
                                            <option value="1">Yes</option>
                                        </select>
                                    </div>
                                    <div class="form-group" id="oshaDateField" style="display: none;">
                                        <label for="date_of_osha_certification">Date of OSHA Certification:</label>
                                        <input type="date" class="form-control" id="date_of_osha_certification" name="date_of_osha_certification">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Patient Insurance Status -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="insurance">Patient Insurance Status:</label>
                                        <select class="form-control select2bs4" style="width: 100%;" id="insurance" name="insurance" onchange="toggleInsuranceFields()">
                                            <option value="Uninsured">Uninsured</option>
                                            <option value="Insured">Insured</option>                                            
                                            <option value="Unknown">Unknown</option>                                            
                                        </select>
                                    </div>
                                </div>
                                
                                                            <!-- Insurance Company -->
                                <div class="col-md-4" id="insuranceCompanyField" style="display: none;">
                                    <div class="form-group">
                                        <label for="insurance_company">Insurance Company:</label>
                                        <select class="form-control select2bs4" style="width: 100%;" name="insurance_company" id="insurance_company" onchange="toggleInsuranceFields()">
                                            <option value="">Select Insurance Company</option>
                                            <option value="NHIF">NHIF</option>
                                            <option value="Jubilee">Jubilee</option>
                                            <option value="Strategis">Strategis</option>
                                            <option value="Assemble">Assemble</option>
                                            <option value="Britam">Britam</option>
                                            <option value="ISOS">ISOS</option>
                                            <option value="International Insurance">International Insurance</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Additional input field for other insurance company -->
                                <div class="col-md-4" id="otherInsuranceField" style="display: none;">
                                    <div class="form-group">
                                        <label for="other_insurance">Fill Insurance Company:</label>
                                        <input type="text" class="form-control" id="other_insurance" name="other_insurance">
                                    </div>
                                </div>
                                <!-- Insurance Number -->
                                <div class="col-md-4" id="insuranceNumberField" style="display: none;">
                                    <div class="form-group">
                                        <label for="insurance_number">Insurance Number:</label>
                                        <input type="text" class="form-control" id="insurance_number" name="insurance_number">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Emergency Contact Name -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="emergency_contact_name">Emergency Contact Name:</label> <span class="error">* </span>
                                        <input type="text" class="form-control" id="emergency_contact_name" name="emergency_contact_name" required>

                                    </div>
                                </div>
                                                        <!-- Emergency Contact Relation -->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="emergency_contact_relation">Emergency Contact Relation:</label> <span class="error">* </span>
                                    <select class="form-control select2bs4" style="width: 100%;" id="emergency_contact_relation" name="emergency_contact_relation" onchange="toggleOtherRelationField(this)" required>
                                        <option value="Spouse">Spouse</option>
                                        <option value="Friend">Friend</option>
                                        <option value="Coworker">Coworker</option>
                                        <option value="Child">Child</option>
                                        <option value="Father">Father</option>
                                        <option value="Mother">Mother</option>
                                        <option value="Brother">Brother</option>
                                        <option value="Sister">Sister</option>
                                        <option value="Relative">Relative</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Additional input field for other relation -->
                            <div class="col-md-4 other_relation_field" style="display: none;">
                                <div class="form-group">
                                    <label for="other_relation">Fill Relation:</label>
                                    <input type="text" class="form-control" id="other_relation" name="other_relation">
                                </div>
                            </div>

                          
                                <!-- Emergency Contact Phone -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="emergency_contact_phone">Emergency Contact Phone:</label>
                                        <input type="tel" class="form-control" id="emergency_contact_phone" name="emergency_contact_phone">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Marital Status -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="marital_status">Marital Status:</label>
                                        <select class="form-control select2bs4" style="width: 100%;" name="marital_status" id="marital_status">
                                            <option value="single">Single</option>
                                            <option value="married">Married</option>
                                            <option value="divorced">Divorced</option>
                                            <option value="widowed">Widowed</option>
                                        </select>
                                    </div>
                                </div>
                                                            <!-- Occupation -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="occupation">Occupation:</label>
                                        <select class="form-control select2bs4" style="width: 100%;" name="occupation" id="occupation" onchange="toggleOtherOccupationField(this)">
                                            <option value="Driver">Driver</option>
                                            <option value="Technician">Technician</option>
                                            <option value="Engineer">Engineer</option>
                                            <option value="Human resources Officer">Human Resources Officer</option>
                                            <option value="Procurement Officer">Procurement Officer</option>
                                            <option value="HSE">HSE</option>
                                            <option value="Administrator">Administrator</option>
                                            <option value="Farmer">Farmer</option>
                                            <option value="Health Expert">Health Expert</option>
                                            <option value="Manager">Manager</option>
                                            <option value="Accountant">Accountant</option>
                                            <option value="Casual Labour">Casual Labour</option>
                                            <option value="Foreman">Foreman</option>
                                            <option value="Operator">Operator</option>
                                            <option value="ICT Expert">ICT Expert</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Additional input field for other occupation -->
                                <div class="col-md-4 other_occupation_field" style="display: none;">
                                    <div class="form-group">
                                        <label for="other_occupation">Fill Occupation:</label>
                                        <input type="text" class="form-control" id="other_occupation" name="other_occupation">
                                    </div>
                                </div>

                                
                               <!-- Patient Type -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="patient_type">Patient Type:</label> <span class="error">* </span>
                                        <select class="form-control select2bs4" style="width: 100%;" id="patient_type" name="patient_type" onchange="toggleOtherPatientTypeField(this)" required>
                                            <option value="National Staff">National Staff</option>
                                            <option value="International Staff">International Staff</option>
                                            <option value="National Visitor">National Visitor</option>
                                            <option value="International Visitor">International Visitor</option>
                                            <option value="Unknown Status">Unknown Status</option>
                                            <option value="Others">Others</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Additional input field for other patient type -->
                                <div class="col-md-4 other_patient_type_field" style="display: none;">
                                    <div class="form-group">
                                        <label for="other_patient_type">Fill Patient Type:</label>
                                        <input type="text" class="form-control" id="other_patient_type" name="other_patient_type">
                                    </div>
                                </div>

                               
                            </div>
                            <div class="row">
                                <!-- Patient's Company -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="company">Patient's Company:</label>
                                        <select class="form-control select2bs4" style="width: 100%;" name="company" id="company" required>
                                            {% for company in all_company %}
                                            <option value="{{company.id}}">{{company.name}}</option>
                                         {% endfor %}<!-- Add options for companies here -->
                                        </select>
                                    </div>
                                </div>
                               
                            </div>
                            <!-- End of Form -->
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-info btn-block" name="save_continue_health"  onclick="validateForm(event)">Save to Continue</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        {% if messages %}
                            <div class="row">
                                <div class="col-12">
                                    {% for message in messages %}
                                        {% if message.tags == 'error' %}
                                            <div class="alert alert-danger">{{ message }}</div>
                                        {% elif message.tags == 'success' %}
                                            <div class="alert alert-primary">{{ message }}</div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .error {color: #FF0000;
            font-size: 18px;
            font-weight: 500t
        }
        </style>
        <script>
            function toggleInsuranceFields() {
                var insurance = document.getElementById('insurance').value;
                var insuranceCompanyField = document.getElementById('insuranceCompanyField');
                var otherInsuranceField = document.getElementById('otherInsuranceField');
                var insuranceNumberField = document.getElementById('insuranceNumberField');
            
                if (insurance === 'Insured') {
                    insuranceCompanyField.style.display = 'block';
                    insuranceNumberField.style.display = 'block';
            
                    // Check if the selected insurance company is "Other"
                    var selectedInsuranceCompany = document.getElementById('insurance_company').value;
                    if (selectedInsuranceCompany === 'Other') {
                        otherInsuranceField.style.display = 'block';
                    } else {
                        otherInsuranceField.style.display = 'none';
                    }
                } else {
                    insuranceCompanyField.style.display = 'none';
                    otherInsuranceField.style.display = 'none';
                    insuranceNumberField.style.display = 'none';
                }
            }
            
            // Add an event listener to the insurance company dropdown to call toggleInsuranceFields() whenever the selection changes
            document.getElementById('insurance_company').addEventListener('change', toggleInsuranceFields);
            
                            
        </script>
    <script>
       
        function toggleOshaFields() {
            var oshaCertificate = document.getElementById('osha_certificate').value;
            var oshaDateField = document.getElementById('oshaDateField');
            if (oshaCertificate === '1') {
                oshaDateField.style.display = 'block';
            } else {
                oshaDateField.style.display = 'none';
            }
        }
    </script>
   
    <script>
        // Function to validate the form before submission
        function validateForm(event) {
            // Prevent form submission
            event.preventDefault();
    
            // Get all input fields and select elements with the required attribute
            var requiredFields = document.querySelectorAll('input[required], select[required]');
    
            // Variable to track if all required fields are filled
            var allFieldsFilled = true;
    
            // Loop through each required field
            requiredFields.forEach(function(field) {
                // Check if the field is empty
                if (field.value.trim() === '') {
                    // Set allFieldsFilled to false
                    allFieldsFilled = false;
    
                    // Get the parent div of the field
                    var parentDiv = field.closest('.form-group');
    
                    // Check if there's already an error message span
                    var errorMessageSpan = parentDiv.querySelector('.error-message');
                    if (!errorMessageSpan) {
                        // Create a new span element for the error message
                        errorMessageSpan = document.createElement('span');
                        errorMessageSpan.className = 'error-message';
                        errorMessageSpan.textContent = 'This field is required';
                        errorMessageSpan.style.color = 'red';
    
                        // Append the error message span after the input field
                        parentDiv.appendChild(errorMessageSpan);
                    }
                } else {
                    // If the field is not empty and there's an error message span, remove it
                    var parentDiv = field.closest('.form-group');
                    var errorMessageSpan = parentDiv.querySelector('.error-message');
                    if (errorMessageSpan) {
                        errorMessageSpan.remove();
                    }
                }
            });
    
            // If all required fields are filled, submit the form
            if (allFieldsFilled) {
                // Get the form element
                var form = event.target.closest('form');
    
                // Submit the form
                if (form) {
                    form.submit();
                }
            }
        }
    </script>
    <script>
        function toggleOtherRelationField(select) {
            var otherRelationField = document.querySelector('.other_relation_field');
            if (select.value === 'Other') {
                otherRelationField.style.display = 'block';
            } else {
                otherRelationField.style.display = 'none';
            }
        }
    </script>
    <script>
        function toggleOtherPatientTypeField(select) {
            var otherPatientTypeField = document.querySelector('.other_patient_type_field');
            if (select.value === 'Others') {
                otherPatientTypeField.style.display = 'block';
            } else {
                otherPatientTypeField.style.display = 'none';
            }
        }
    </script>
    <script>
        function toggleOtherOccupationField(select) {
            var otherOccupationField = document.querySelector('.other_occupation_field');
            if (select.value === 'Other') {
                otherOccupationField.style.display = 'block';
            } else {
                otherOccupationField.style.display = 'none';
            }
        }
    </script>
    {% include 'kahama_template/datatable.html' %} 
{% endblock main_content %}
