{% extends 'kahama_template/base_template.html' %}

{% block title %}
    Life style behavior
{% endblock title %}



{% block breadcrumb %}
    <!-- Breadcrumb content can be added here if needed -->
    Add Life style behavior
{% endblock breadcrumb %}

{% block main_content %}
    {% load static %}             

    <div class="container">
        <!-- Patient Information Card -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row" style="font-size:13px;">
                            <div class="col-md-3"><b>PATIENT: {{ patient.first_name }} {{ patient.middle_name }}  {{ patient.last_name }}</b></div>
                            <div class="col-md-3"><b>Age: {{ patient.age }}</b></div>
                            <div class="col-md-3"><b>SEX: {{ patient.gender }}</b></div>
                            <div class="col-md-3"><b>FILE NO : {{ patient.mrn }}</b></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-3"><b>PAYMENT MODE: {{ patient.payment_form }}</b></div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
       
                    <!-- Surgery History Entry Form -->
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post" action="{% url 'kahamahmis:save_patient_lifestyle_behavior' patient.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="patient_id" value="{{ patient.id }}">
                            <div class="form-group">
                                <label for="lifestyle_behavior">life style behaviour?</label>
                                <select class="form-control" id="lifestyle_behavior" name="lifestyle_behavior">
                                    <option value="no">No</option>
                                    <option value="yes">Yes</option>
                                </select>
                            </div>
                            <div id="lifestyle_behavior_form_container">                             
                                <div class="form-group mb-5">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="form-check-label" for="">Lifestyle Habit</label>                                           
                                        </div>
                                        <div class="col-md-6">                                      
                                            <label class="form-check-label" for="">Yes/No</label> 
                                        </div>
                                    </div>
                                </div>    
                                    <hr>
                                    <br>
                                <div class="form-group form-check">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="form-check-label" for="smoking">Smoking</label>                                           
                                        </div>
                                        <div class="col-md-6">                                      
                                            <input type="checkbox" class="form-check-input" id="smoking" name="smoking">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <br>
                                <div class="form-group form-check">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="form-check-label" for="alcohol_consumption">Alcohol Consumption</label>                                            
                                        </div>
                                        <div class="col-md-6">                                      
                                            <input type="checkbox" class="form-check-input" id="alcohol_consumption" name="alcohol_consumption">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <br>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="weekly_exercise_frequency" class="form-check-label">Weekly Exercise Frequency</label>
                                        </div>
                                        <div class="col-md-6">                                      
                                            <input type="text" class="form-control" id="weekly_exercise_frequency" name="weekly_exercise_frequency">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <br>
                                <div class="form-group form-check">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="form-check-label" for="healthy_diet">Healthy Diet</label>
                                        </div>
                                        <div class="col-md-6">                                      
                                            <input type="checkbox" class="form-check-input" id="healthy_diet" name="healthy_diet">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <br>
                                <div class="form-group form-check">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="form-check-label" for="stress_management">Stress Management</label>
                                        </div>
                                        <div class="col-md-6">                                      
                                            <input type="checkbox" class="form-check-input" id="stress_management" name="stress_management">
                                        </div>
                                    </div>
                                </div>  
                                <hr>
                                <br>                           
                                <div class="form-group form-check">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="form-check-label" for="sufficient_sleep">Sufficient Sleep</label>
                                        </div>
                                        <div class="col-md-6">                                      
                                            <input type="checkbox" class="form-check-input" id="sufficient_sleep" name="sufficient_sleep">
                                        </div>
                                    </div>
                                </div>                         
                             
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Save to continue</button>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="form-row">
                            <div>
                                {% if messages %}
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == 'error' %}
                                    <div class="alert alert-danger">{{ message }}</div>
                                    {% elif message.tags == 'success' %}
                                    <div class="alert alert-primary">{{ message }}</div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
   
    <script>
        // Initially hide the surgery history entry form
        $('#lifestyle_behavior_form_container').hide();
    
        // Event listener for surgery history selection
        $('#lifestyle_behavior').change(function() {
            if ($(this).val() === 'yes') {
                // Show the surgery history entry form if the patient has surgery history
                $('#lifestyle_behavior_form_container').show();
            } else {
                // Hide the surgery history entry form if the patient doesn't have surgery history
                $('#lifestyle_behavior_form_container').hide();
            }
        });
    
        // JavaScript for Adding/Deleting Rows
        $('#add_lifestyle_behavior').click(function() {
            var newRow = `<tr>
                                <td><select class="form-control" name="behavior_name[]">
                                    <option value="Smoking">Smoking</option>
                                    <option value="Alcohol Consumption">Alcohol Consumption</option>
                                    <option value="Weekly Exercise Frequency">Weekly Exercise Frequency</option>
                                    <option value="Healthy Diet">Healthy Diet</option>
                                    <option value="Stress Management">Stress Management</option>
                                    <option value="Sufficient Sleep">Sufficient Sleep</option>
                                </select></td>
                                <td><input type="text" class="form-control" name="frequency[]" ></td>
                                <td><button type="button" class="btn btn-danger btn-sm delete-row">Delete</button></td>
                            </tr>`;
            $('#lifestyle_behavior_table tbody').append(newRow);
        });
    
        // Delete Surgery History Row
        $(document).on('click', '.delete-row', function() {
            $(this).closest('tr').remove();
        });
    </script>
    
    {% include 'kahama_template/datatable.html' %}     
{% endblock main_content %}
