{% extends 'kahama_template/base_template.html' %}

{% block title %}
    Add Family Medical History
{% endblock title %}
{% block breadcrumb %}
Add Family Medical History
{% endblock breadcrumb %}
{% block main_content %}
    {% load static %}             

    <div class="container">
        <!-- Patient Information Card -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row" style="font-size:13px;">
                            <div class="col-md-3"><b>PATIENT: {{ patient.first_name }} {{ patient.middle_name }}  {{ patient.last_name }}</b></div>
                            <div class="col-md-3"><b>Age: {{ patient.age }}</b></div>
                            <div class="col-md-3"><b>SEX: {{ patient.gender }}</b></div>
                            <div class="col-md-3"><b>FILE NO : {{ patient.mrn }}</b></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-3"><b>PAYMENT MODE: {{ patient.payment_form }}</b></div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>


            <!-- Family Medical History Form -->
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card ">
                        <div class="card-body">
                            <form method="post" action="{% url 'kahamahmis:save_family_medical_history' patient.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="patient_id" value="{{ patient.id }}">
                                <div class="form-group">
                                    <label for="family_medical_history">family medical history</label>
                                    <select class="form-control" id="family_medical_history" name="family_medical_history">                                 
                                        <option value="no">No</option>
                                        <option value="yes">Yes</option>
                                    </select>
                                </div>
                                <!-- Medical Condition Information Table -->
                                <div class="table-responsive" id="family_medical_history_form_container" style="display: none;">
                                    <table class="table table-bordered" id="family_medical_history_table">
                                        <thead>
                                            <tr>
                                                <th>Condition</th>
                                                <th>Relationship</th>
                                                <th>Comments</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <select class="form-control select2bs4" style="width: 100%;" name="condition[]" >
                                                        <option value="" selected>Select Condition</option>
                                                        <option value="Allergies">Allergies</option>
                                                        <option value="Asthma">Asthma</option>
                                                        <option value="Lung Disease">Lung Disease</option>
                                                        <option value="Cancer">Cancer</option>
                                                        <option value="Diabetes">Diabetes</option>
                                                        <option value="Hypertension">Hypertension</option>
                                                        <option value="Heart Disease">Heart Disease</option>
                                                    </select>
                                                </td>
                                                <td><input type="text" class="form-control" name="relationship[]"></td>
                                                <td><textarea class="form-control" name="comments[]" rows="3"></textarea></td>
                                                <td><button type="button" class="btn btn-danger btn-sm delete-row">Delete</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- Add More Health Record Button -->
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary" id="add_family_medical_record">Add Family Medical Record</button>
                                    </div>
                                </div>
                                <!-- End of Form -->
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <button type="submit" name="save_and_continue_add_another_family_record" class="btn btn-primary btn-block">Save &  continue</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <div class="form-row">
                                <div>
                                    {% if messages %}
                                    <div class="col-12">
                                        {% for message in messages %}
                                        {% if message.tags == 'error' %}
                                        <div class="alert alert-danger">{{ message }}</div>
                                        {% elif message.tags == 'success' %}
                                        <div class="alert alert-primary">{{ message }}</div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </div>

   <!-- JavaScript for Showing/Hiding Family Medical History Form -->
<script>
    // Initially hide the family medical history form
    $('#family_medical_history_form_container').hide();

    // Event listener for family medical history selection
    $('#family_medical_history').change(function() {
        if ($(this).val() === 'yes') {
            // Show the family medical history form if the patient has family medical history
            $('#family_medical_history_form_container').show();
        } else {
            // Hide the family medical history form if the patient doesn't have family medical history
            $('#family_medical_history_form_container').hide();
        }
    });

    // JavaScript for Adding/Deleting Rows
    // Add Family Medical Record Row
    $('#add_family_medical_record').click(function () {
        var newRow = `<tr>
                        <td>
                            <select class="form-control select2bs4" style="width: 100%;" name="condition[]" required>
                                <option value="" selected>Select Condition</option>
                                <option value="Allergies">Allergies</option>
                                <option value="Asthma">Asthma</option>
                                <option value="Lung Disease">Lung Disease</option>
                                <option value="Cancer">Cancer</option>
                                <option value="Diabetes">Diabetes</option>
                                <option value="Hypertension">Hypertension</option>
                                <option value="Heart Disease">Heart Disease</option>
                            </select>
                        </td>
                        <td><input type="text" class="form-control" name="relationship[]"></td>
                        <td><textarea class="form-control" name="comments[]" rows="3"></textarea></td>
                        <td><button type="button" class="btn btn-danger btn-sm delete-row">Delete</button></td>
                    </tr>`;
        $('#family_medical_history_table tbody').append(newRow);
    });

    // Delete Family Medical Record Row
    $(document).on('click', '.delete-row', function () {
        $(this).closest('tr').remove();
    });
</script>
 {% include 'kahama_template/datatable.html' %}     
{% endblock main_content %}
