{% extends 'kahama_template/base_template.html' %}

{% block title %}
    Patient Health
{% endblock title %}



{% block breadcrumb %}
    <!-- Breadcrumb content can be added here if needed -->
    Add Patient Health Record
{% endblock breadcrumb %}

{% block main_content %}
    {% load static %}             

    <div class="container">
        <!-- Patient Information Card -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row" style="font-size:13px;">
                            <div class="col-md-3"><b>PATIENT: {{ patient.first_name }} {{ patient.middle_name }}  {{ patient.last_name }}</b></div>
                            <div class="col-md-3"><b>Age: {{ patient.age }}</b></div>
                            <div class="col-md-3"><b>SEX: {{ patient.gender }}</b></div>
                            <div class="col-md-3"><b>FILE NO : {{ patient.mrn }}</b></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-3"><b>PAYMENT MODE: {{ patient.payment_form }}</b></div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        
        <!-- Health Condition Entry Form -->
        <div class="row justify-content-cente">
            <div class="col-md-12">
                <div class="card">                    
                    <div class="card-body">
                        <form method="post" action="{% url 'kahamahmis:save_patient_health_condition' patient.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="patient_id" value="{{ patient.id }}">
                            <div class="form-group">
                                <label for="chronic_illness">Does Patient have chronic illness?</label>
                                <select class="form-control" id="chronic_illness" name="chronic_illness">                                 
                                    <option value="no">No</option>
                                    <option value="yes">Yes</option>
                                </select>
                            </div>
                            <!-- Health Condition Table -->
                            <div class="table-responsive"   id="health_condition_form_container">
                                <table class="table table-bordered" id="health_condition_table">
                                    <thead>
                                        <tr>
                                            <th>chronic illness</th>
                                            <th>chronic illness Notes</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <select class="form-control select2bs4" style="width: 100%;" name="health_condition[]" >
                                                    <option value=""  selected>Select Health Condition</option>                                                  
                                                    <option value="Eye Condition">Eye Condition</option>
                                                    <option value="Ear, Nose, Throat">Ear, Nose, Throat</option>
                                                    <option value="Respiratory Conditions">Respiratory Conditions</option>
                                                    <option value="Cardiovascular Conditions">Cardiovascular Conditions</option>
                                                    <option value="Urinary, Kidney, or Prostate Conditions">Urinary, Kidney, or Prostate Conditions</option>
                                                    <option value="Stomach or Bowel Conditions">Stomach or Bowel Conditions</option>
                                                    <option value="Musculoskeletal Conditions">Musculoskeletal Conditions</option>
                                                    <option value="Neurological/Psychiatric Conditions">Neurological/Psychiatric Conditions</option>
                                                </select>
                                            </td>
                                            <td><textarea class="form-control" name="health_condition_notes[]" cols="30" rows="2"></textarea></td>
                                            <td><button type="button" class="btn btn-danger btn-sm delete-row">Delete</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                                    <!-- Add More Health Record Button -->
                            <div class="form-group">
                                <button type="button" class="btn btn-primary btn-block" id="add_health_record">Add Health Record</button>
                            </div>
                            </div>                          
                                      <!-- Submit Button -->
                            <button type="submit" class="btn btn-success btn-block">Save To continue</button>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="form-row">
                            <div>
                                {% if messages %}
                                    <div class="col-12">
                                        {% for message in messages %}
                                            {% if message.tags == 'error' %}
                                                <div class="alert alert-danger">{{ message }}</div>
                                            {% elif message.tags == 'success' %}
                                                <div class="alert alert-primary">{{ message }}</div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        // Initially hide the health condition entry form
        $('#health_condition_form_container').hide();
    
        // Event listener for chronic illness selection
        $('#chronic_illness').change(function() {
            if($(this).val() === 'yes') {
                // Show the health condition entry form if the patient has chronic illness
                $('#health_condition_form_container').show();
            } else {
                // Hide the health condition entry form if the patient doesn't have chronic illness
                $('#health_condition_form_container').hide();
            }
        });
      // Add event listener to the form for submission
      $('form').submit(function() {
        // Ensure that the form is submitted even if the option selected is "No"
        return true;
    });
        // JavaScript for Adding/Deleting Rows (if needed)
    </script>
    <!-- JavaScript for Adding/Deleting Rows -->
    <script>
        // Add Health Record Row
        $('#add_health_record').click(function () {
            var newRow = `<tr>
                            <td>
                                <select class="form-control select2bs4" style="width: 100%;" name="health_condition[]" required>
                                    <option value=""  selected>Select Health Condition</option>                                  
                                    <option value="Eye Condition">Eye Condition</option>
                                    <option value="Ear, Nose, Throat">Ear, Nose, Throat</option>
                                    <option value="Respiratory Conditions">Respiratory Conditions</option>
                                    <option value="Cardiovascular Conditions">Cardiovascular Conditions</option>
                                    <option value="Urinary, Kidney, or Prostate Conditions">Urinary, Kidney, or Prostate Conditions</option>
                                    <option value="Stomach or Bowel Conditions">Stomach or Bowel Conditions</option>
                                    <option value="Musculoskeletal Conditions">Musculoskeletal Conditions</option>
                                    <option value="Neurological/Psychiatric Conditions">Neurological/Psychiatric Conditions</option>
                                </select>
                            </td>
                            <td><textarea class="form-control" name="health_condition_notes[]" cols="30" rows="2"></textarea></td>
                            <td><button type="button" class="btn btn-danger btn-sm delete-row">Delete</button></td>
                        </tr>`;
            $('#health_condition_table tbody').append(newRow);
        });
    
        // Delete Health Record Row
        $(document).on('click', '.delete-row', function () {
            $(this).closest('tr').remove();
        });
    </script>
    
    {% include 'kahama_template/datatable.html' %}     
{% endblock main_content %}
