{% extends 'kahama_template/base_template.html' %}

{% block title %}
Patient Health
{% endblock title %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block main_content %}
    {% load static %}             

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-header" style="background-color: #007bff; color: white; font-weight: bold; border-radius: 10px;">
                        <h4 style="margin-bottom: 0;">Patient Health Condition</h4>
                        <p style="font-size: 14px; margin-bottom: 0;">{{patient.first_name}} {{patient.middle_name}} {{patient.last_name}}</p>
                    </div>
                    <div class="card-body">
                        <form method="post" action="{% url 'save_patient_health_condition' patient.id %}">
                            {% csrf_token %}
                            <!-- Hidden Field for Patient ID -->
                            <input type="hidden" name="patient_id" value="{{ patient.id }}">
                            <!-- Health Condition Information -->
                            <div class="form-group">
                                <label for="health_condition"> Health Condition:</label>
                                <select class="form-control select2bs4" style="width: 100%;" id="health_condition" name="health_condition" required>
                                    <option value="" disabled selected>Select Health Condition</option>
                                    <option value="Allergies">Allergies</option>
                                    <option value="Eye Condition">Eye Condition</option>
                                    <option value="Ear, Nose, Throat">Ear, Nose, Throat</option>
                                    <option value="Respiratory Conditions">Respiratory Conditions</option>
                                    <option value="Cardiovascular Conditions">Cardiovascular Conditions</option>
                                    <option value="Urinary, Kidney, or Prostate Conditions">Urinary, Kidney, or Prostate Conditions</option>
                                    <option value="Stomach or Bowel Conditions">Stomach or Bowel Conditions</option>
                                    <option value="Musculoskeletal Conditions">Musculoskeletal Conditions</option>
                                    <option value="Neurological/Psychiatric Conditions">Neurological/Psychiatric Conditions</option>
                                </select>
                            </div>
                            
                            <div class="form-group">
                                <label for="health_condition_notes">Health Condition Notes:</label>
                                <textarea class="form-control" id="health_condition_notes" name="health_condition_notes" cols="2"></textarea>
                            </div>
                            <!-- End of Form -->
                            <div class="row mt-3">
                                <div class="col">
                                    <a href="{% url 'patients_list' %}" class="btn btn-secondary btn-block">Back to Patients List</a>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <button type="submit" name="save_and_return" class="btn btn-primary btn-block">Save & Return to Patients List</button>
                                </div>
                                <div class="col">
                                    <button type="submit" name="save_and_continue_add_another_health_record" class="btn btn-primary btn-block">Save & Add More</button>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <button type="submit" name="save_and_continue" class="btn btn-success btn-block">Add Family Health Info</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="form-row">
                            <div>
                                {% if messages %}
                                    <div class="col-12">
                                        {% for message in messages %}
                                            {% if message.tags == 'error' %}
                                                <div class="alert alert-danger">{{ message }}</div>
                                            {% elif message.tags == 'success' %}
                                                <div class="alert alert-primary">{{ message }}</div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}
