{% extends 'kahama_template/base_template.html' %}

{% block title %}
    Patient Discharging
{% endblock title %}

{% block breadcrumb %}
    {% include "kahama_template/modal_form.html" %}
{% endblock breadcrumb %}

{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-primary-600">
                    <h5 class="card-title text-center text-uppercase">Patient Discharging</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">                              
                                <div class="card-body">
                                    <div class="card">
                                        <div class="card-header">
                                            <label for="chief_complaints">Patient Information</label>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <b>PATIENT:</b> {{ patient.first_name }} {{ patient.middle_name }} {{ patient.last_name }}
                                                </div>
                                                <div class="col-md-3">
                                                    <b>DOB:</b> {{ patient.dob|date:'Y-m-d' }} [ Age: {% if patient.dob %}
                                                    <script>
                                                        var dob = new Date("{{ patient.dob|date:'Y-m-d' }}");
                                                        var now = new Date();
                                                        var ageMilliseconds = now - dob;
                                                        var ageSeconds = ageMilliseconds / 1000;
                                                        var ageYears = Math.floor(ageSeconds / (365.25 * 24 * 60 * 60));
                                                        document.write(ageYears + ' years');
                                                    </script>
                                                    {% else %}
                                                    {{ patient.age }}
                                                    {% endif %}]
                                                </div>
                                                <div class="col-md-3">
                                                    <b>SEX:</b> {{ patient.gender }}
                                                </div>
                                                <div class="col-md-3">
                                                    <b>FILE NO:</b> {{ patient.mrn }}
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <b>Company:</b> {{ patient.company }}
                                                </div>
                                                <div class="col-md-3">
                                                    <b>Visit Number:</b> {{ visit.vst }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="container">                        
                        <form method="POST" action="{% url 'kahamahmis:save_remote_discharges_notes' patient.id visit.id %}">
                            {% csrf_token %}
                            <div class="card">                           
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">                                     
                                                {{ form.media }}
                                                {{ form.as_p }}
                                            </div>
                                        </div>                 
                                    </div>  
                                </div>
                                <div class="card-footer">
                                    {% if messages %}
                                    <div class="row">
                                        <div class="col-12">
                                            {% for message in messages %}
                                            {% if message.tags == 'error' %}
                                            <div class="alert alert-danger">{{ message }}</div>
                                            {% elif message.tags == 'success' %}
                                            <div class="alert alert-primary">{{ message }}</div>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block mt-3">Save to proceed</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% include 'kahama_template/datatable.html' %}
{% endblock main_content %}
