{% extends 'kahama_template/base_template.html' %}

{% block title %}
   Update Family Medical History
{% endblock title %}
{% block breadcrumb %}
Update Family Medical History
{% endblock breadcrumb %}
{% block main_content %}
    {% load static %}             

    <div class="container">
        <!-- Patient Information Card -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row" style="font-size:13px;">
                            <div class="col-md-3"><b>PATIENT: {{ patient.first_name }} {{ patient.middle_name }}  {{ patient.last_name }}</b></div>
                            <div class="col-md-3"><b>Age: {{ patient.age }}</b></div>
                            <div class="col-md-3"><b>SEX: {{ patient.gender }}</b></div>
                            <div class="col-md-3"><b>FILE NO : {{ patient.mrn }}</b></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-3"><b>PAYMENT MODE: {{ patient.payment_form }}</b></div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <form method="post" action="{% url 'kahamahmis:family_health_info_edit' patient.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="patient_id" value="{{ patient.id }}">
                                <div class="form-group">
                                    <label for="family_medical_history">family medical history</label>
                                    <select class="form-control" id="family_medical_history" name="family_medical_history">
                                        <option value="no" {% if not family_medical_history  %} selected {% endif %}>No</option>
                                        <option value="yes" {% if family_medical_history %} selected {% endif %}>Yes</option>
                                    </select>
                                </div>
                                <!-- Family Medical History Table -->
                                <div class="table-responsive" id="family_medical_history_form_container" {% if patient.has_family_medical_history %} style="display: block;" {% else %} style="display: none;" {% endif %}>
                                    <table class="table table-bordered" id="family_medical_history_table">
                                        <thead>
                                            <tr>
                                                <th>Condition</th>
                                                <th>Relationship</th>
                                                <th>Comments</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for record in family_medical_history %}
                                            <tr>
                                                <td>
                                                    <select class="form-control select2bs4" style="width: 100%;" name="condition_{{ record.id }}">
                                                        <option value="" selected>Select Condition</option>
                                                        <option value="Allergies" {% if record.condition == 'Allergies' %} selected {% endif %}>Allergies</option>
                                                        <option value="Asthma" {% if record.condition == 'Asthma' %} selected {% endif %}>Asthma</option>
                                                        <option value="Lung Disease" {% if record.condition == 'Lung Disease' %} selected {% endif %}>Lung Disease</option>
                                                        <option value="Cancer" {% if record.condition == 'Cancer' %} selected {% endif %}>Cancer</option>
                                                        <option value="Diabetes" {% if record.condition == 'Diabetes' %} selected {% endif %}>Diabetes</option>
                                                        <option value="Hypertension" {% if record.condition == 'Hypertension' %} selected {% endif %}>Hypertension</option>
                                                        <option value="Heart Disease" {% if record.condition == 'Heart Disease' %} selected {% endif %}>Heart Disease</option>
                                                    </select>
                                                </td>
                                                <td><input type="text" class="form-control" name="relationship_{{ record.id }}" value="{{ record.relationship }}"></td>
                                                <td><textarea class="form-control" name="comments_{{ record.id }}" rows="3">{{ record.comments }}</textarea></td>
                                                <td><input type="checkbox" name="delete_record_{{ record.id }}"></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <!-- Add More Family Medical History Button -->
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary btn-block" id="add_family_medical_record">Add Family Medical Record</button>
                                    </div>
                                </div>
                                <!-- Submit Button -->
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <button type="submit" name="save_and_continue_add_another_family_record" class="btn btn-primary btn-block">Save &  continue</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <div class="form-row">
                                <div>
                                    {% if messages %}
                                    <div class="col-12">
                                        {% for message in messages %}
                                        {% if message.tags == 'error' %}
                                        <div class="alert alert-danger">{{ message }}</div>
                                        {% elif message.tags == 'success' %}
                                        <div class="alert alert-primary">{{ message }}</div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Initially show/hide the family medical history form based on patient's selection
        $(document).ready(function() {
            toggleFamilyMedicalHistoryForm($('#family_medical_history').val() === 'yes');
        });
    
        // Event listener for family medical history selection
        $('#family_medical_history').change(function() {
            toggleFamilyMedicalHistoryForm($(this).val() === 'yes');
        });
    
        // Function to toggle visibility of family medical history form
        function toggleFamilyMedicalHistoryForm(show) {
            if (show) {
                $('#family_medical_history_form_container').show();
            } else {
                $('#family_medical_history_form_container').hide();
            }
        }
    
        // JavaScript for Adding/Deleting Rows
        // Add Family Medical Record Row
        $('#add_family_medical_record').click(function () {
            var newRow = `<tr>
                            <td>
                                <select class="form-control select2bs4" style="width: 100%;" name="new_condition[]" required>
                                    <option value="" selected>Select Condition</option>
                                    <option value="Allergies">Allergies</option>
                                    <option value="Asthma">Asthma</option>
                                    <option value="Lung Disease">Lung Disease</option>
                                    <option value="Cancer">Cancer</option>
                                    <option value="Diabetes">Diabetes</option>
                                    <option value="Hypertension">Hypertension</option>
                                    <option value="Heart Disease">Heart Disease</option>
                                </select>
                            </td>
                            <td><input type="text" class="form-control" name="new_relationship[]"></td>
                            <td><textarea class="form-control" name="new_comments[]" rows="3"></textarea></td>
                            <td><button type="button" class="btn btn-danger btn-sm delete-row">Delete</button></td>
                        </tr>`;
            $('#family_medical_history_table tbody').append(newRow);
        });
    
        // Delete Family Medical Record Row
        $(document).on('click', '.delete-row', function () {
            $(this).closest('tr').remove();
        });
    </script>
    {% include 'kahama_template/datatable.html' %}    
{% endblock main_content %}
