{% extends 'kahama_template/base_template.html' %}

{% block title %}
    edit patient visit
{% endblock title %}
{% block breadcrumb %}
edit patient visit
{% endblock breadcrumb %}
{% block main_content %}
    {% load static %}             

    <div class="container">
        <!-- Patient Information Card -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row" style="font-size:13px;">
                            <div class="col-md-3"><b>PATIENT: {{ patient.first_name }} {{ patient.middle_name }}  {{ patient.last_name }}</b></div>
                            <div class="col-md-3"><b>Age: {{ patient.age }}</b></div>
                            <div class="col-md-3"><b>SEX: {{ patient.gender }}</b></div>
                            <div class="col-md-3"><b>FILE NO : {{ patient.mrn }}</b></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-3"><b>PAYMENT MODE: {{ patient.payment_form }}</b></div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>

<!-- Patient Visit Card -->
<div class="row justify-content-center mt-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Edit Patient Visit</div>
            <div class="card-body">
                <form  method="post" action="{% url 'kahamahmis:edit_patient_visit_save' patient.id %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="visit_type">Visit Type</label>
                                <select class="form-control select2bs4" style="width: 100%;" id="visit_type" name="visit_type">
                                    <option value="Normal" {% if patient_visit.visit_type == 'Normal' %} selected {% endif %}>Normal</option>
                                    <option value="Emergency" {% if patient_visit.visit_type == 'Emergency' %} selected {% endif %}>Emergency</option>
                                    <option value="Referral" {% if patient_visit.visit_type == 'Referral' %} selected {% endif %}>Referral</option>
                                    <option value="Follow up" {% if patient_visit.visit_type == 'Follow up' %} selected {% endif %}>Follow up</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Primary Service:</label>
                                <select class="form-control select2bs4" style="width: 100%;" id="primary_service" name="primary_service">
                                    <option value="Consultation" {% if patient_visit.primary_service == 'Consultation' %} selected {% endif %}>Consultation</option>
                                    <option value="Imaging" {% if patient_visit.primary_service == 'Imaging' %} selected {% endif %}>Imaging</option>
                                    <option value="Investigation" {% if patient_visit.primary_service == 'Investigation' %} selected {% endif %}>Investigation</option>
                                    <option value="Procedure" {% if patient_visit.primary_service == 'Procedure' %} selected {% endif %}>Procedure</option>
                                    <option value="Physiotherapy" {% if patient_visit.primary_service == 'Physiotherapy' %} selected {% endif %}>Physiotherapy</option>
                                    <option value="Ambulance" {% if patient_visit.primary_service == 'Ambulance' %} selected {% endif %}>Ambulance</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="messageContainer1"></div>
                    <div id="messageContainer2"></div>
                    <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
                </form>
            </div>
            <div class="card-footer">
                <div class="form-row">
                    <div>
                        {% if messages %}
                        <div class="col-12">
                            {% for message in messages %}
                            {% if message.tags == 'error' %}
                            <div class="alert alert-danger">{{ message }}</div>
                            {% elif message.tags == 'success' %}
                            <div class="alert alert-primary">{{ message }}</div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        
        
    </div>

    
 {% include 'kahama_template/datatable.html' %}     
{% endblock main_content %}
