{% extends 'kahama_template/base_template.html' %}

{% block title %}
Edit Life style behavior
{% endblock title %}


{% block breadcrumb %}
    <!-- Breadcrumb content can be added here if needed -->
    Edit Life style behavior
{% endblock breadcrumb %}

{% block main_content %}
    {% load static %}             

    <div class="container">
        <!-- Patient Information Card -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row" style="font-size:13px;">
                            <div class="col-md-3"><b>PATIENT: {{ patient.first_name }} {{ patient.middle_name }}  {{ patient.last_name }}</b></div>
                            <div class="col-md-3"><b>Age: {{ patient.age }}</b></div>
                            <div class="col-md-3"><b>SEX: {{ patient.gender }}</b></div>
                            <div class="col-md-3"><b>FILE NO : {{ patient.mrn }}</b></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-3"><b>PAYMENT MODE: {{ patient.payment_form }}</b></div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <form method="post" action="{% url 'kahamahmis:edit_patient_lifestyle_behavior' patient.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="patient_id" value="{{ patient.id }}">
                                <div class="form-group">
                                    <label for="lifestyle_behavior">lifestyle behavior</label>
                                    <select class="form-control" id="lifestyle_behavior" name="lifestyle_behavior">
                                        <option value="no" {% if  lifestyle_behavior_instance %} selected {% endif %}>No</option>
                                        <option value="yes" {% if lifestyle_behavior_instance %} selected {% endif %}>Yes</option>
                                    </select>
                                </div>
                                <div id="lifestyle_behavior_form_container">
                                    <div class="form-group mb-5">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="form-check-label" for="">Lifestyle Habit</label>                                           
                                            </div>
                                            <div class="col-md-6">                                      
                                                <label class="form-check-label" for="">Yes/No</label> 
                                            </div>
                                        </div>
                                    </div>   
                                    <hr>
                                    <br>                              
                                    <div class="form-group form-check">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="form-check-label" for="smoking">Smoking</label>                                           
                                            </div>
                                            <div class="col-md-6">                                      
                                                <input type="checkbox" class="form-check-input" id="smoking" name="smoking" {% if lifestyle_behavior_instance.smoking %} checked {% endif %}>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <br>
                                    <div class="form-group form-check">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="form-check-label" for="alcohol_consumption">Alcohol Consumption</label>                                            
                                            </div>
                                            <div class="col-md-6">                                      
                                                <input type="checkbox" class="form-check-input" id="alcohol_consumption" name="alcohol_consumption" {% if lifestyle_behavior_instance.alcohol_consumption %} checked {% endif %}>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <br>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="weekly_exercise_frequency" class="form-check-label">Weekly Exercise Frequency</label>
                                            </div>
                                            <div class="col-md-6">                                      
                                                <input type="text" class="form-control" id="weekly_exercise_frequency" name="weekly_exercise_frequency" value="{{ lifestyle_behavior_instance.weekly_exercise_frequency }}">
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <br>
                                    <div class="form-group form-check">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="form-check-label" for="healthy_diet">Healthy Diet</label>
                                            </div>
                                            <div class="col-md-6">                                      
                                                <input type="checkbox" class="form-check-input" id="healthy_diet" name="healthy_diet" {% if lifestyle_behavior_instance.healthy_diet %} checked {% endif %}>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <br>
                                    <div class="form-group form-check">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="form-check-label" for="stress_management">Stress Management</label>
                                            </div>
                                            <div class="col-md-6">                                      
                                                <input type="checkbox" class="form-check-input" id="stress_management" name="stress_management" {% if lifestyle_behavior_instance.stress_management %} checked {% endif %}>
                                            </div>
                                        </div>
                                    </div>  
                                    <hr>
                                    <br>                           
                                    <div class="form-group form-check">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="form-check-label" for="sufficient_sleep">Sufficient Sleep</label>
                                            </div>
                                            <div class="col-md-6">                                      
                                                <input type="checkbox" class="form-check-input" id="sufficient_sleep" name="sufficient_sleep" {% if lifestyle_behavior_instance.sufficient_sleep %} checked {% endif %}>
                                            </div>
                                        </div>
                                    </div>                         
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">Save to continue</button>
                            </form>
                        </div>
                        <div class="card-footer">
                            <div class="form-row">
                                <div>
                                    {% if messages %}
                                    <div class="col-12">
                                        {% for message in messages %}
                                        {% if message.tags == 'error' %}
                                        <div class="alert alert-danger">{{ message }}</div>
                                        {% elif message.tags == 'success' %}
                                        <div class="alert alert-primary">{{ message }}</div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
   
   
<script>
    // Initially show/hide the lifestyle behavior entry form based on patient's selection
    $(document).ready(function() {
        toggleLifestyleBehaviorForm($('#lifestyle_behavior').val() === 'yes');
    });

    // Event listener for lifestyle behavior selection
    $('#lifestyle_behavior').change(function() {
        toggleLifestyleBehaviorForm($(this).val() === 'yes');
    });

    // Function to toggle visibility of lifestyle behavior form
    function toggleLifestyleBehaviorForm(show) {
        if (show) {
            $('#lifestyle_behavior_form_container').show();
        } else {
            $('#lifestyle_behavior_form_container').hide();
        }
    }

    
</script>
    
    {% include 'kahama_template/datatable.html' %}     
{% endblock main_content %}
