{% extends 'kahama_template/base_template.html' %}

{% block title %}
    Import Drug Records
{% endblock title %}
{% block main_content %}
    {% load static %}
    <section class="content">
        <div class="container-fluid">     
                          <div class="row">
                            <div class="col-md-12">
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Import Drug Records</h3>
                                    </div>
                                    {% url 'kahamahmis:import_medicine_drug_records' as action_path %}
                                    {% include 'kahama_template/form_template.html' with messages=messages forms=forms action_path=action_path button_text="Import" %}
                                </div>
                            </div>
                        </div>        
                  
        </div><!-- /.container-fluid -->
    </section>
{% endblock main_content %}
