{% extends 'kahama_template/base_template.html' %}
{% block title %}
{{ patient.first_name }} {{ patient.middle_name }} {{ patient.last_name }}  Lab Result 
{% endblock title %}

{% block breadcrumb %}
{% include "kahama_template/modal_form.html" %}
<a class="btn btn-primary float-right" type="button" data-toggle="modal" data-target="#previousResultsModal">
    <i class="fas fa-eye"></i>  View Previous Lab result
</a>
{% endblock breadcrumb %}
{% block main_content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-primary-600">
                    <h5 class="card-title text-center text-uppercase">Patient Lab Result </h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header bg-primary-600">
                                    <h5 class="card-title text-center text-uppercase">Lab Result</h5>
                                </div>
                                <div class="card-body">
                                    <div class="card">
                                        <div class="card-header">
                                            <label for="chief_complaints">Patient Information</label>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <b>PATIENT:</b> {{ patient.first_name }} {{ patient.middle_name }} {{ patient.last_name }}
                                                </div>
                                                <div class="col-md-3">
                                                    <b>DOB:</b> {{ patient.dob|date:'Y-m-d' }} [ Age: {% if patient.dob %}
                                                    <script>
                                                        var dob = new Date("{{ patient.dob|date:'Y-m-d' }}");
                                                        var now = new Date();
                                                        var ageMilliseconds = now - dob;
                                                        var ageSeconds = ageMilliseconds / 1000;
                                                        var ageYears = Math.floor(ageSeconds / (365.25 * 24 * 60 * 60));
                                                        document.write(ageYears + ' years');
                                                    </script>
                                                    {% else %}
                                                    {{ patient.age }}
                                                    {% endif %}]
                                                </div>
                                                <div class="col-md-3">
                                                    <b>SEX:</b> {{ patient.gender }}
                                                </div>
                                                <div class="col-md-3">
                                                    <b>FILE NO:</b> {{ patient.mrn }}
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <b>Company:</b> {{ patient.company }}
                                                </div>
                                                <div class="col-md-3">
                                                    <b>Visit Number:</b> {{ visit.vst }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />                   
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="header-title text-center mt-0 mb-1 text-uppercase"> Add Lab Results </h4>
                </div>
                <div class="card-body">
                    <form method="post"  action="{% url "kahamahmis:save_laboratory" patient.id visit.id %}">
                        {% csrf_token %}
                        <div class="table-responsive">
                            <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm display" id="investigationTable{{ visit.id }}">
                                <thead>
                                    <tr>
                                        <th>Investigation Name</th>
                                        <th>Description result</th>                                  
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <select class="form-control select2bs4 investigation-name" style="width: 100%;" name="investigation_name[]" required>
                                                <option value="">Select Investigation</option>
                                                {% for lab in remote_service %}
                                                    <option value="{{ lab.id }}">{{ lab.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <textarea class="form-control description" name="description[]" placeholder="Enter investigation description" rows="5" required></textarea>
                                        </td>                                     
                                        <td><button type="button" class="btn btn-danger delete-row">Delete</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>                     
                        <div class="form-group mt-3">
                            <button type="button" class="btn btn-info btn-block" id="addRow{{ visit.id }}"><i class="fa fa-plus-square" aria-hidden="true"></i> Add Investigation</button>
                        </div>                    
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Save to Proceed</button>
                        </div>
                    </form>
                </div>
                 <!-- Card footer to display messages -->
                 <div class="card-footer">
                    {% if messages %}
                        <div class="row">
                            <div class="col-12">
                                {% for message in messages %}
                                    {% if message.tags == 'error' %}
                                        <div class="alert alert-danger">{{ message }}</div>
                                    {% elif message.tags == 'success' %}
                                        <div class="alert alert-primary">{{ message }}</div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>    
    <script>
        $(document).ready(function() {
            // Add row button functionality
            $('#addRow{{ visit.id }}').click(function() {
                var newRow = `
                    <tr>
                        <td>
                            <select class="form-control select2bs4 investigation-name" style="width: 100%;" name="investigation_name[]" required>
                                <option value="">Select Investigation</option>
                                {% for lab in remote_service %}
                                    <option value="{{ lab.id }}">{{ lab.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <textarea class="form-control description" name="description[]" placeholder="Enter investigation description" rows="5" required></textarea>
                        </td>
                        <td><button type="button" class="btn btn-danger delete-row">Delete</button></td>
                    </tr>`;
                $('#investigationTable{{ visit.id }} tbody').append(newRow);
            });
    
            // Delete row button functionality
            $(document).on('click', '.delete-row', function() {
                $(this).closest('tr').remove();
            });  
        });
    </script>    
</div>

<!-- Bootstrap modal for displaying previous results -->
<div class="modal fade" id="previousResultsModal" tabindex="-1" role="dialog" aria-labelledby="previousResultsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="previousResultsModalLabel">{{ patient.first_name }} {{ patient.middle_name }} {{ patient.last_name }} Previous Results</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm display" id="example">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Day</th>  
                                <th>Investigation Name</th>
                                <th>Description result</th>
                        
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Loop through previous results and populate the table -->
                            {% for result in previous_results %}
                            <tr>
                                 <!-- Display laboratory order data in table rows -->
                                 <td>{{ result.created_at.date|date:"d/m/Y"  }}</td>
                                 <td>{{ result.created_at.time }}</td>
                                 <td>{{ result.created_at|date:"l" }}</td>
                                <td>{{ result.name }}</td>
                                <td>{{ result.result }}</td>
                               
                            </tr>                           

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>           
            </div>
        </div>
    </div>
</div>

{% include 'kahama_template/datatable.html' %}    

{% endblock main_content %}
