{% extends 'kahama_template/base_template.html' %}
{% block title %}
Patient Lab Result 
{% endblock title %}

{% block breadcrumb %}
{% include "kahama_template/modal_form.html" %}

{% endblock breadcrumb %}
{% block main_content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-primary-600">
                    <h5 class="card-title text-center text-uppercase">Patient Lab Result </h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header bg-primary-600">
                                    <h5 class="card-title text-center text-uppercase">Lab Result</h5>
                                </div>
                                <div class="card-body">
                                    <div class="card">
                                        <div class="card-header">
                                            <label for="chief_complaints">Patient Information</label>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <b>PATIENT:</b> {{ patient.first_name }} {{ patient.middle_name }} {{ patient.last_name }}
                                                </div>
                                                <div class="col-md-3">
                                                    <b>DOB:</b> {{ patient.dob|date:'Y-m-d' }} [ Age: {% if patient.dob %}
                                                    <script>
                                                        var dob = new Date("{{ patient.dob|date:'Y-m-d' }}");
                                                        var now = new Date();
                                                        var ageMilliseconds = now - dob;
                                                        var ageSeconds = ageMilliseconds / 1000;
                                                        var ageYears = Math.floor(ageSeconds / (365.25 * 24 * 60 * 60));
                                                        document.write(ageYears + ' years');
                                                    </script>
                                                    {% else %}
                                                    {{ patient.age }}
                                                    {% endif %}]
                                                </div>
                                                <div class="col-md-3">
                                                    <b>SEX:</b> {{ patient.gender }}
                                                </div>
                                                <div class="col-md-3">
                                                    <b>FILE NO:</b> {{ patient.mrn }}
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <b>Company:</b> {{ patient.company }}
                                                </div>
                                                <div class="col-md-3">
                                                    <b>Visit Number:</b> {{ visit.vst }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />                   
                    
                </div>
            </div>
        </div>
    </div>
    <!-- remote_imaging_record_form.html -->
    <form method="POST" action="{% url 'kahamahmis:save_laboratory' patient.id visit.id %}" >
        {% csrf_token %}
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">                       
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="imaging">Lab  Service</label>
                                <select id="imaging"  class="form-control select2bs4" style="width: 100%;" name="imaging">
                                    {% for service in services %}
                                        <option value="{{ service.id }}" {% if service.id == laboratory_order.name   %} selected {% endif %}>{{ service.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="cost">Cost</label>
                                <input type="number" class="form-control" id="cost" name="cost" step="0.01" value="{{ laboratory_order.cost }}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control" id="description" name="description" rows="3">{{ laboratory_order.description }}</textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="result">Result</label>
                                <textarea class="form-control" id="result" name="result" rows="3">{{ laboratory_order.result }}</textarea>
                            </div>
                        </div>
                    </div>                                   
                    
                    <button type="submit" class="btn btn-primary btn-block">Save to proceed</button>
                </div>
                <div class="card-footer">
                    {% if messages %}
                    <div class="row">
                        <div class="col-12">
                            {% for message in messages %}
                            {% if message.tags == 'error' %}
                            <div class="alert alert-danger">{{ message }}</div>
                            {% elif message.tags == 'success' %}
                            <div class="alert alert-primary">{{ message }}</div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
</div>
{% include 'kahama_template/datatable.html' %}    

{% endblock main_content %}
