{% extends 'kahama_template/base_template.html' %}
{% block title %}
Adjustment   
{% endblock title %}

{% block page_title %}
Product Inventory Adjustment  
{% endblock page_title %}

{% block breadcrumb %}
{% include "kahama_template/modal_form.html" %}
 
    <a class="btn btn-primary float-right" type="button" data-toggle="modal" data-target="#registerModal">
        <i class="fas fa-plus"></i>new  adjustments
    </a>
   
   
{% endblock breadcrumb %}
{% block main_content %}

<div class="form-row">
    <div>
        {% if messages %}
            <div class="col-12">
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% elif message.tags == 'success' %}
                        <div class="alert alert-primary">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div> 
    <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="example">
        <thead>
            <tr>
                <th>Document#</th>
                <th>Date</th>
                <th>Reason</th>
                <th>Description</th>
                <th>Actions</th>
              </tr>
        </thead>
        <tbody>
            <tr>
                <td>ADJ-00046</td>
                <td>03 Dec, 2023</td>
                <td>Stock In</td>
                <td>RECEIVED FROM DIVINE HEART</td>
                <td>Actions Here</td>
              </tr>
              <tr>
                <td>ADJ-00045</td>
                <td>03 Dec, 2023</td>
                <td>Stock In</td>
                <td>RECEIVED FROM DIVINE</td>
                <td>Actions Here</td>
              </tr>
              <tr>
                <td>ADJ-00044</td>
                <td>03 Dec, 2023</td>
                <td>Stock In</td>
                <td>RECEIVED FROM DIVINE</td>
                <td>Actions Here</td>
              </tr>
              <tr>
                <td>ADJ-00043</td>
                <td>14 Nov, 2023</td>
                <td>Stock In</td>
                <td>DAR</td>
                <td>Actions Here</td>
              </tr>
              <tr>
                <td>ADJ-00046</td>
                <td>03 Dec, 2023</td>
                <td>Stock In</td>
                <td>RECEIVED FROM DIVINE HEART</td>
                <td>Actions Here</td>
              </tr>
              <tr>
                <td>ADJ-00045</td>
                <td>03 Dec, 2023</td>
                <td>Stock In</td>
                <td>RECEIVED FROM DIVINE</td>
                <td>Actions Here</td>
              </tr>
            <!-- ... add more rows as needed -->
        </tbody>
    </table>
</div>

   

    <script>
        function submitForm(checkbox) {
            checkbox.form.submit();
        }
    </script>

{% include 'kahama_template/datatable.html' %}
    

{% endblock main_content %}
