{% extends 'kahama_template/base_template.html' %}
{% block title %}
Lab result 
{% endblock title %}
{% block breadcrumb %}
{% include "kahama_template/modal_form.html" %}
    <a class="btn btn-success float-right mr-2" href="{% url 'kahamahmis:import_procedure_records' %}">
        <i class="fas fa-file-import"></i> Import Lab result
      </a>
{% endblock breadcrumb %}
{% block main_content %}
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="header-title text-center mt-0 mb-1 text-uppercase">All Lab result</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="example">
                            <thead>
                                <tr>
                                    <th>Patient</th>
                                    <th>Data Recorder</th>
                                    <th>Observation Notes</th>
                                    <th>Date</th>
                                    <th>Day</th>
                                    <th>Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for observation_record in observation_records %}
                                <tr>
                                    <td>{{ observation_record.patient }}</td>
                                    <td>{{ observation_record.data_recorder }}</td>
                                    <td>{{ observation_record.observation_notes|safe }}</td>
                                    <td>{{ observation_record.created_at|date:"Y-m-d" }}</td>
                                    <td>{{ observation_record.created_at|date:"l" }}</td>
                                    <td>{{ observation_record.created_at|date:"H:i:s" }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>                   
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
{% include 'kahama_template/datatable.html' %}   

{% endblock main_content %}
