{% extends 'kahama_template/base_template.html' %}
{% block title %}
{{ patient.first_name }} {{ patient.middle_name }}  {{ patient.last_name }} Radiology   
{% endblock title %}
{% block breadcrumb %}
{% include "kahama_template/modal_form.html" %}
    <a class="btn btn-success float-right mr-2" href="{% url 'import_patient_records' %}">
        <i class="fas fa-file-import"></i> Import Radiology
      </a>
{% endblock breadcrumb %}
{% block main_content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">               
                <div class="card-body">
                    <div class="row" style="font-size:13px;">
                        <div class="col-md-3">PATIENT: <b>{{ patient.first_name }} {{ patient.middle_name }}  {{ patient.last_name }}</b></div>
                        <div class="col-md-3">DOB: <b>{{ patient.dob|date:'Y-m-d' }} [ Age: {% if patient.dob %}
                            <script>
                                var dob = new Date("{{ patient.dob|date:'Y-m-d' }}");
                                var now = new Date();
                                var ageMilliseconds = now - dob;
                                var ageSeconds = ageMilliseconds / 1000;
                                var ageYears = Math.floor(ageSeconds / (365.25 * 24 * 60 * 60));
                                document.write(ageYears + ' years');
                            </script>
                            {% else %}
                            {{ patient.age }}
                            {% endif %}]</b></div>
                        <div class="col-md-3">SEX: <b>{{ patient.gender }}</b></div>
                        <div class="col-md-3">FILE NO : <b>{{ patient.mrn }}</b> </div>
                    </div>                       
                </div>         
              </div>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="header-title text-center mt-0 mb-1 text-uppercase">Radiology</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="example">
                            <thead>
                                <tr>
                                    <th>visit number</th>
                                    <th>Name</th>
                                    <th>Description</th>                                 
                                    <th>Result</th>
                                    <th>Image</th>
                                    <th>Cost</th>
                                    <th>Created At</th>
                                    <th>Updated At</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for observation in observations %}
                                    <tr>
                                        <td>{{ observation.visit.vst }}</td>
                                        <td>{{ observation.imaging }}</td>
                                        <td>{{ observation.description }}</td>                                  
                                        <td>{{ observation.result }}</td>                                  
                                        <td>{{ observation.image }}</td>                                  
                                        <td>{{ observation.cost }}</td>
                                        <td>{{ observation.created_at }}</td>
                                        <td>{{ observation.updated_at }}</td>
                                        <td>        
                                            <button class="btn btn-dark btn-sm" data-toggle="modal" data-target="#editObservation{{ observation.id }}"  data-toggle="tooltip" title="Edit">
                                            <i class="fa fa-edit text-white"></i>
                                        </button>
                                          <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteObservation{{ observation.id }}"  data-toggle="tooltip" title="Delete">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                          <!-- Add billing action link -->
                                        <a href="{% url 'kahamahmis:generate_billing' observation.id %}" class="btn btn-success btn-sm" data-toggle="tooltip" title="Generate Billing">
                                            <i class="fas fa-file-invoice"></i>
                                        </a>
                                    </td>
                                    </tr>                                                       
                                                   <!-- Modal for Editing Procedure -->
                                                   <div class="modal fade" id="editObservation{{ observation.id }}" tabindex="-1" role="dialog" aria-labelledby="editObservationModalLabel{{ observation.id }}" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="editObservationModalLabel{{ observation.id }}">Edit Observation</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form method="POST" enctype="multipart/form-data" id="editObservationForm{{ observation.id }}">
                                                                    {% csrf_token %}
                                                                    <div class="container">
                                                                        <div class="card">
                                                                            <div class="card-body">
                                                                                <div class="row">                       
                                                                                    <div class="col-md-6">
                                                                                        <div class="form-group">
                                                                                            <label for="imaging">Imaging Service</label>
                                                                                            <select id="imaging" class="form-control select2bs4" style="width: 100%;" name="imaging">
                                                                                                {% for patient_observation in patient_observations %}
                                                                                                <option value="{{ patient_observation.id }}" {% if patient_observation.id == observation.imaging %} selected {% endif %}>{{ patient_observation }}</option>
                                                                                                {% endfor %}
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <div class="form-group">
                                                                                            <label for="cost">Cost</label>
                                                                                            <input type="number" class="form-control" id="cost" name="cost" step="0.01" value="{{ observation.cost }}">
                                                                                            <input type="hidden" class="form-control" id="observation_id" name="observation_id"  value="{{ observation.id }}">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-md-6">
                                                                                        <div class="form-group">
                                                                                            <label for="description">Description</label>
                                                                                            <textarea class="form-control" id="description" name="description" rows="3">{{ observation.description }}</textarea>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <div class="form-group">
                                                                                            <label for="result">Result</label>
                                                                                            <textarea class="form-control" id="result" name="result" rows="3">{{ observation.result }}</textarea>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                {% if observation.image %}
                                                                                <div class="row">
                                                                                    <div class="col-md-6">
                                                                                        <div class="form-group">                             
                                                                                            <img src="{{ observation.image }}" class="img-thumbnail" alt="Observation Image">
                                                                                        </div>
                                                                                    </div>
                                                                                </div> 
                                                                                {% endif %}
                                                                                <div class="row">
                                                                                    <div class="col-md-6">
                                                                                        <div class="form-group">
                                                                                            <label for="new_image">Upload New Image</label>
                                                                                            <input type="file" class="form-control-file" id="new_image" name="new_image">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>              
                                                                        </div>
                                                                    </div>
                                                                    <button type="button" class="btn btn-primary btn-block" onclick="submitEditObservation({{ observation.id }})">Save to Proceed</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <script>
                                                    function submitEditObservation(observationId) {
                                                        var formData = new FormData(document.getElementById('editObservationForm' + observationId));
                                                
                                                        $.ajax({
                                                            url: '{% url "kahamahmis:edit_observation" %}',
                                                            type: 'POST',
                                                            data: formData,
                                                            contentType: false,
                                                            processData: false,
                                                            success: function(response) {
                                                                if (response.success) {
                                                                    $('#editObservation' + observationId).modal('hide'); // Close the modal
                                                                    location.reload(); // Reload the page
                                                                }
                                                            },
                                                            error: function(error) {
                                                                alert('An error occurred. Please try again.');
                                                            }
                                                        });
                                                    }
                                                </script>
                                                
                    
                                                    <!-- Modal for Confirming Deletion -->
                                        <div class="modal fade" id="deleteObservation{{ observation.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteObservationModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="deleteObservationModalLabel">Confirm Deletion</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                </div>
                                                <div class="modal-body">
                                                <p>Are you sure you want to delete the observation "{{ observation.imaging }}"?</p>
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                <button type="button" class="btn btn-danger" onclick="deleteObservation({{ observation.id }})">Delete</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                      
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>




  <!-- JavaScript to handle AJAX request for deleting observation -->
  <script>
  function deleteObservation(observationId) {
      // Make AJAX request for deleting observation
      $.ajax({
          url: '{% url 'kahamahmis:delete_observation' %}',  // Replace with your server delete endpoint
          type: 'POST',
          data: { observation_id: observationId },
          success: function(response) {
              alert(response.message);  // Display success or error message to the user           
              // Optionally, you may want to refresh the page or update the observation list after deletion
              if (response.success) {
                $('#deleteObservation' + observationId).modal('hide');  // Close the modal after deletion
                location.reload();  // Reload the page
            }
          },
          error: function(error) {
              alert('An error occurred. Please try again.');  // Display a generic error message
          }
      });
  }
  </script>
  
 
{% include 'kahama_template/datatable.html' %}    

{% endblock main_content %}
