{% extends 'kahama_template/base_template.html' %}

{% block title %}
   All company
{% endblock title %}
{% block breadcrumb %}
{% include "kahama_template/modal_form.html" %}
<a class="btn btn-primary float-right" type="button" data-toggle="modal" data-target="#companyModal">
    <i class="fas fa-plus"></i> New company
</a>
<!-- Add Import Staff link and modal trigger -->
<a class="btn btn-success float-right mr-2" href="{% url 'kahamahmis:import_companies' %}">
  <i class="fas fa-file-import"></i> Import company
</a>
{% endblock breadcrumb %}

{% load static %}
{% block main_content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6  class="header-title text-center mt-0 mb-1  text-uppercase">   List of all companies </h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm display" id="example" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Industry</th>
                                    <th>Sector</th>
                                    <th>Headquarters</th>
                                    <th>Founded</th>
                                    <th>Notes</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="insurance-company-table-body">
                                {% for company in companies %}
                                <tr>
                                    <td>{{ company.name }}</td>
                                    <td>{{ company.industry }}</td>
                                    <td>{{ company.sector }}</td>
                                    <td>{{ company.headquarters }}</td>
                                    <td>{{ company.Founded }}</td>
                                    <td>{{ company.Notes }}</td>
                                    <td>                  
                                        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteCompanyModal{{ company.id }}"  data-toggle="tooltip" title="Delete">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                        <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#editCompanyModal{{ company.id }}"  data-toggle="tooltip" title="Delete">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </td>
                                </tr>
                    
                    <!-- Delete Company Modal -->
                    <div class="modal fade" id="deleteCompanyModal{{ company.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteCompanyModal{{ company.id }}Label" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Delete Company: {{ company.name }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete this company? <span ><b>{{company}}</b></span></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-danger" id="confirmDelete{{ company.id }}">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <script>
                        $(document).ready(function() {
                            // Event listener for delete button click
                            $('#confirmDelete{{ company.id }}').click(function() {
                                // Send AJAX request to delete company
                                $.ajax({
                                    url: '/delete_remotecompany/{{ company.id }}/', // Update with the actual URL
                                    type: 'POST',
                                    success: function(response) {
                                        if (response.success) {
                                            // Company successfully deleted, you may want to update the UI accordingly
                                            // For example, remove the company row from the table
                                            $('#deleteCompanyModal{{ company.id }}').modal('hide');
                                            location.reload(true);
                                    
                                        } else {
                                            // Handle deletion failure
                                            alert('Failed to delete company:', response.error);
                                        }
                                    },
                                    error: function() {
                                       alert('AJAX request failed');
                                    }
                                });
                            });
                        });
                        
                    </script>
                    
                              <!-- Edit Company Modal -->
                              <div class="modal fade" id="editCompanyModal{{ company.id }}" tabindex="-1" role="dialog" aria-labelledby="editCompanyModal{{ company.id }}Label" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Edit Company: {{ company.name }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Edit Company Form -->
                                            <form method="post" id="editCompanyForm{{ company.id }}">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="editName{{ company.id }}">Name</label>
                                                            <input type="text" class="form-control" id="editName{{ company.id }}" name="name" value="{{ company.name }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="editIndustry{{ company.id }}">Industry</label>
                                                            <input type="text" class="form-control" id="editIndustry{{ company.id }}" name="industry" value="{{ company.industry }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="editSector{{ company.id }}">Sector</label>
                                                            <input type="text" class="form-control" id="editSector{{ company.id }}" name="sector" value="{{ company.sector }}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="editHeadquarters{{ company.id }}">Headquarters</label>
                                                            <input type="text" class="form-control" id="editHeadquarters{{ company.id }}" name="headquarters" value="{{ company.headquarters }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="editFounded{{ company.id }}">Founded</label>
                                                            <input type="text" class="form-control" id="editFounded{{ company.id }}" name="Founded" value="{{ company.Founded }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="editNotes{{ company.id }}">Notes</label>
                                                            <input type="text" class="form-control" id="editNotes{{ company.id }}" name="Notes" value="{{ company.Notes }}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="button" class="btn btn-primary btn-block" id="saveRemoteCompany{{ company.id }}">Save Changes</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <script>
                                $(document).ready(function () {
                                    $('#saveRemoteCompany{{ company.id }}').click(function () {
                                        // Capture form data
                                        var formData = $('#editCompanyForm{{ company.id }}').serialize();
                            
                                        // Send AJAX request
                                        $.ajax({
                                            url: '{% url "kahamahmis:edit_remote_company" company.id %}',
                                            type: 'POST',
                                            data: formData,
                                            success: function (response) {
                                                if (response.success) {
                                                    // Handle success (e.g., close the modal)
                                                    $('#editCompanyModal{{ company.id }}').modal('hide');
                                                    location.reload(true);
                                                } else {
                                                    // Handle error
                                                    alert('Failed to save company:', response.error);
                                                }
                                            },
                                            error: function () {
                                                alert('AJAX request failed');
                                            }
                                        });
                                    });
                                });
                            </script>
                    
                                <!-- End Edit Company Modal -->
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>






{% include 'kahama_template/datatable.html' %}
{% endblock main_content %}
