{% extends 'kahama_template/base_template.html' %}

{% block title %}
In Stock Items
{% endblock title %}

{% block page_title %}
In Stock Items
{% endblock page_title %}

{% block breadcrumb %}
{% include "kahama_template/modal_form.html" %}

{% endblock breadcrumb %}


{% load static %}
{% block main_content %}

{% comment %} <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css"> {% endcomment %}

<div class="">
    <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm  display" id="example"  style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Original Stock Level</th>
                <th>Purchase Date</th>
                <th>Purchase Price</th>                
                <th>Location in Storage</th>                           
                <th>Last Usage</th>                        
                <th>Action</th>              
            </tr>
        </thead>
        <tbody>
            {% for item in in_stock_items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.quantity }}</td>                                
                    <td>{{ item.purchase_date }}</td>
                    <td>{{ item.purchase_price }}</td>                   
                    <td>{{ item.location_in_storage }}</td>                                     
                    <td>{{ item.updated_at }}</td>
                    <td>                  
                   
                    <button  class="btn btn-primary btn-sm" data-toggle="modal" data-target="#viewInventoryItemModal{{ item.id }}"  data-toggle="tooltip" title="View">
                        <i class="fa fa-eye text-dark"></i>
                    </button>  
                              
                    </td>


<!-- Modal -->
<div class="modal fade" id="viewInventoryItemModal{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="viewInventoryItemModalLabel{{ item.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewInventoryItemModalLabel{{ item.id }}">Inventory Item Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Bootstrap card inside modal body -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <p class="card-text"><strong>Quantity:</strong> <span class="quantity-style">{{ item.quantity }}</span></p>
                        <p class="card-text"><strong>Category:</strong> {{ item.category.name }}</p>
                        <p class="card-text"><strong>Description:</strong> {{ item.description }}</p>
                        <p class="card-text"><strong>Supplier:</strong> {{ item.supplier.name }}</p>
                        <p class="card-text"><strong>Purchase Date:</strong> {{ item.purchase_date }}</p>
                        <p class="card-text"><strong>Purchase Price:</strong> {{ item.purchase_price }}</p>
                        <p class="card-text"><strong>Expiry Date:</strong> {{ item.expiry_date }}</p>
                        <p class="card-text"><strong>Location in Storage:</strong> {{ item.location_in_storage }}</p>
                        <p class="card-text"><strong>Min Stock Level:</strong> {{ item.min_stock_level }}</p>
                        <p class="card-text"><strong>Condition:</strong> {{ item.condition }}</p>
                        <p class="card-text"><strong>Remaining Quantity:</strong> {{ item.remain_quantity }}</p>
                        <p class="card-text"><strong>Created At:</strong> {{ item.created_at|date:'Y-m-d' }}</p>
                        <p class="card-text"><strong>Last Updated At:</strong> {{ item.updated_at|date:'Y-m-d' }}</p>
                        
                
                        <!-- Add more details as needed -->

                        <!-- You can also include an image if applicable -->
                        <!-- You can also include an image if applicable -->
                            {% if item.images_attachments %}
                            <img src="{{ item.images_attachments.url }}" class="card-img-top" alt="Inventory Item Image">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



                    
                </tr>



            {% endfor %}
        </tbody>
    </table>
</div>





  
  
<script>
    function submitForm(checkbox) {
        checkbox.form.submit();
    }
</script>

{% include 'kahama_template/datatable.html' %}
{% endblock main_content %}
