{% extends 'kahama_template/base_template.html' %}

{% block title %}
 Vital Information
{% endblock title %}

{% block breadcrumb %}
{% include "kahama_template/modal_form.html" %}

<a class="btn btn-success float-right mr-2" href="{% url 'kahamahmis:import_patient_vital_records' %}">
  <i class="fas fa-file-import"></i> Import Vital
</a>
{% endblock breadcrumb %}


{% load static %}
{% block main_content %}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="header-title text-center mt-0 mb-1 text-uppercase">All Vital Information</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed text-nowrap table-responsive-sm table-bordered table-striped table-sm  display" id="example"  style="width:100%">
                            <thead>
                                <tr>
                                    <th>Visit number</th>
                                    <th>Patient number</th>
                                    <th>Respiratory Rate</th>
                                    <th>Pulse Rate</th>
                                    <th>Blood Pressure</th>
                                    <th>AVPU</th>
                                    <th>SPO2</th>
                                    <th>Temperature</th>
                                    <th>GCS</th>
                                    <th>Date</th>
                                    <th>Day</th> <!-- New column for the day of the week -->
                                    <th>Time</th>                       
                                           
                                </tr>
                            </thead>
                            <tbody>
                                {% for vital in patient_vitals %}
                                    <tr>
                                        <td>{{ vital.visit.vst }}</td>
                                        <td>{{ vital.patient.mrn }}</td>
                                        <td>{{ vital.respiratory_rate }}</td>
                                        <td>{{ vital.pulse_rate }}</td>
                                        <td>{{ vital.blood_pressure }}</td>
                                        <td>{{ vital.avpu }}</td>
                                        <td>{{ vital.spo2 }}</td>
                                        <td>{{ vital.temperature }}</td>
                                        <td>{{ vital.gcs }}</td>
                                        <!-- Split recorded_at into date, day of the week, and time components -->
                                        <td>{{ vital.recorded_at|date:"Y-m-d" }}</td> <!-- Display date -->
                                        <td>{{ vital.recorded_at|date:"l" }}</td> <!-- Display day of the week -->
                                        <td>{{ vital.recorded_at|time:"H:i:s" }}</td><!-- Display time -->              
                    
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% comment %} <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                            <h5 class="header-title text-center mt-0 mb-1 text-uppercase">All Vital Information</h5>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}





{% include 'kahama_template/datatable.html' %}
{% endblock main_content %}
