{% extends 'kahama_template/download_base.html' %}
{% block title %}
{{ patient.first_name }} {{ patient.middle_name }}  {{ patient.last_name }} details
{% endblock title %}
{% block main_content %}
{% load static %}

<style>
      body {
            font-family: Arial, sans-serif;
        }
      /* CSS for the company logo */
.company-logo {
    max-width: 120px;
    height: 120px;
    border-radius: 50%;
}

/* Additional styling for the header */
.header {
    background-color: #344; /* Adjust background color to match the logo */
    color: #fff;
    padding: 20px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    color: #fff; /* Set text color for consistency */
}

.header p {
    margin-bottom: 0;
}

.header a {
    color: #fff;
}

.header-info {
    font-size: 14px; /* Adjust font size for header info */
    margin-bottom: 5px; /* Add some bottom margin for spacing */
}
         /* Specific Styles for Cards */
    .patient-details-card {
        margin-bottom: 20px;
    }

    .clinical-notes-card {
        margin-bottom: 20px;
    }

    .prescription-details-card {
        margin-bottom: 20px;
    }

    .assessment-data-card {
        margin-bottom: 20px;
    }
</style>


<div id="invoice">
    <div class="container">
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td class="mx-3">                                        <!-- Replace the company name with a logo -->
                                        <img src="{% static 'dist/img/resalogo.png' %}" alt="Company Logo" class="company-logo">
                                    </td>
                                    <td class="text-white">
                                        <h1>RESA MEDICAL CENTRE</h1>
                                        <p> Polyclinic and EMS Care</p>
                                        <p> P.O.BOX 54235 </p>
                                        <p> Silver Sands Road, Plot 45, Block A, House No. 45 Kunduchi, Kinondoni, Dar es Saalam</p>
                                        <p>info@resa.co.tz</p>
                                        <p>Tel: 255 657 008 008</p>
                                        <p><a href="https://www.resa.co.tz/" class="text-white">https://www.resa.co.tz/</a></p>
                                      <p class="mt-2 " style="font-family: ;"> Part of RESA Medical Group </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                   
                </div>
            </div>
        </header>
    </div>
    <main class="container py-5">
        
        <div class="row">
            <div class="col-12">
                <div class="card patient-details-card">
                    <div class="card-header bg-dark text-white">
                        <h2 class="card-title">Patient Details</h2>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th>Patient:</th>
                                    <td> {{ patient.first_name }} {{ patient.middle_name }}  {{ patient.last_name }}</td>
                                    <th>MRN:</th>
                                    <td> {{ patient.mrn }}</td>
                                    <th>Visit Number:</th>
                                    <td> {{ visits.vst }}</td>
                                </tr>
                                <tr>
                                    <th>Age:</th>
                                    <td> {{ patient.age }}</td>
                                    <th>Gender:</th>
                                    <td> {{ patient.gender }}</td>
                                    <th>Company:</th>
                                    <td> {{ patient.company }}</td>
                                </tr>
                                <tr>
                                    <th>Phone:</th>
                                    <td> {{ patient.phone }}</td>
                                    <th>Visit Date:</th>
                                    <td> {{ visits.created_at }}</td>
                                    <th>Visit Day:</th>
                                    <td>{{ visits.created_at|date:"l" }} at {{ visits.created_at|time:"H:i" }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    
      {% if consultation_notes %}
      <div class="row mt-5">
        <div class="col-12">
            <div class="card clinical-notes-card">
                <div class="card-header bg-dark text-white">
                    <h2 class="card-title">Clinical Notes</h2>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Chief Complaints:</th>
                                <td>
                                    <ul>
                                        {% for complaint in chief_complaints %}
                                            <li>{{ complaint.health_record }} - Duration: {{ complaint.duration }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>History Presenting Illness:</th>
                                <td>{{ consultation_notes.history_of_presenting_illness }}</td>
                            </tr>
                            <tr>
                                <th>Primary Physical Examination:</th>
                                <td>
                                    <ul>
                                        {% if primary_physical_examination %}
                                            {% if primary_physical_examination.airway %}
                                                <li><strong>Airway:</strong> {{ primary_physical_examination.airway }}</li>
                                            {% endif %}
                                            {% if primary_physical_examination.patent_airway %}
                                                <li><strong>Patent Airway:</strong> {{ primary_physical_examination.patent_airway }}</li>
                                            {% endif %}
                                            {% if primary_physical_examination.notpatient_explanation %}
                                                <li><strong>Explanation (if not patent airway):</strong> {{ primary_physical_examination.notpatient_explanation }}</li>
                                            {% endif %}
                                            {% if primary_physical_examination.breathing %}
                                                <li><strong>Breathing:</strong> {{ primary_physical_examination.breathing }}</li>
                                            {% endif %}
                                            {% if primary_physical_examination.normal_breathing %}
                                                <li><strong>Normal Breathing:</strong> {{ primary_physical_examination.normal_breathing }}</li>
                                            {% endif %}
                                            {% if primary_physical_examination.abnormal_breathing %}
                                                <li><strong>Abnormal Breathing:</strong> {{ primary_physical_examination.abnormal_breathing }}</li>
                                            {% endif %}
                                            {% if primary_physical_examination.circulating %}
                                                <li><strong>Circulating:</strong> {{ primary_physical_examination.circulating }}</li>
                                            {% endif %}
                                            {% if primary_physical_examination.normal_circulating %}
                                                <li><strong>Normal Circulating:</strong> {{ primary_physical_examination.normal_circulating }}</li>
                                            {% endif %}
                                            {% if primary_physical_examination.abnormal_circulating %}
                                                <li><strong>Abnormal Circulating:</strong> {{ primary_physical_examination.abnormal_circulating }}</li>
                                            {% endif %}
                                            {% if primary_physical_examination.gcs %}
                                                <li><strong>GCS:</strong> {{ primary_physical_examination.gcs }}</li>
                                            {% endif %}
                                            {% if primary_physical_examination.rbg %}
                                                <li><strong>RBG:</strong> {{ primary_physical_examination.rbg }}</li>
                                            {% endif %}
                                            {% if primary_physical_examination.pupil %}
                                                <li><strong>Pupil:</strong> {{ primary_physical_examination.pupil }}</li>
                                            {% endif %}
                                            {% if primary_physical_examination.pain_score %}
                                                <li><strong>Pain Score:</strong> {{ primary_physical_examination.pain_score }}</li>
                                            {% endif %}
                                            {% if primary_physical_examination.avpu %}
                                                <li><strong>AVPU:</strong> {{ primary_physical_examination.avpu }}</li>
                                            {% endif %}
                                            {% if primary_physical_examination.exposure %}
                                                <li><strong>Exposure:</strong> {{ primary_physical_examination.exposure }}</li>
                                            {% endif %}
                                            {% if primary_physical_examination.normal_exposure %}
                                                <li><strong>Normal Exposure:</strong> {{ primary_physical_examination.normal_exposure }}</li>
                                            {% endif %}
                                            {% if primary_physical_examination.abnormal_exposure %}
                                                <li><strong>Abnormal Exposure:</strong> {{ primary_physical_examination.abnormal_exposure }}</li>
                                            {% endif %}
                                        {% else %}
                                            <li>No primary physical examination recorded.</li>
                                        {% endif %}
                                    </ul>
                                </td>
                            </tr>                            
                            <tr>
                                <th>Secondary Physical Examination:</th>
                                <td>
                                    <ul>
                                        {% if secondary_physical_examination %}
                                                {% if secondary_physical_examination.heent %}
                                                    <li><strong>HEENT:</strong> {{ secondary_physical_examination.heent }}</li>
                                                {% endif %}
                                                {% if secondary_physical_examination.cns %}
                                                    <li><strong>CNS:</strong> {{ secondary_physical_examination.cns }}</li>
                                                {% endif %}
                                                {% if secondary_physical_examination.normal_cns %}
                                                    <li><strong>Normal CNS:</strong> {{ secondary_physical_examination.normal_cns }}</li>
                                                {% endif %}
                                                {% if secondary_physical_examination.abnormal_cns %}
                                                    <li><strong>Abnormal CNS:</strong> {{ secondary_physical_examination.abnormal_cns }}</li>
                                                {% endif %}
                                                {% if secondary_physical_examination.cvs %}
                                                    <li><strong>CVS:</strong> {{ secondary_physical_examination.cvs }}</li>
                                                {% endif %}
                                                {% if secondary_physical_examination.normal_cvs %}
                                                    <li><strong>Normal CVS:</strong> {{ secondary_physical_examination.normal_cvs }}</li>
                                                {% endif %}
                                                {% if secondary_physical_examination.abnormal_cvs %}
                                                    <li><strong>Abnormal CVS:</strong> {{ secondary_physical_examination.abnormal_cvs }}</li>
                                                {% endif %}
                                                {% if secondary_physical_examination.rs %}
                                                    <li><strong>RS:</strong> {{ secondary_physical_examination.rs }}</li>
                                                {% endif %}
                                                {% if secondary_physical_examination.normal_rs %}
                                                    <li><strong>Normal RS:</strong> {{ secondary_physical_examination.normal_rs }}</li>
                                                {% endif %}
                                                {% if secondary_physical_examination.abnormal_rs %}
                                                    <li><strong>Abnormal RS:</strong> {{ secondary_physical_examination.abnormal_rs }}</li>
                                                {% endif %}
                                                {% if secondary_physical_examination.pa %}
                                                    <li><strong>PA:</strong> {{ secondary_physical_examination.pa }}</li>
                                                {% endif %}
                                                {% if secondary_physical_examination.normal_pa %}
                                                    <li><strong>Normal PA:</strong> {{ secondary_physical_examination.normal_pa }}</li>
                                                {% endif %}
                                                {% if secondary_physical_examination.abnormal_pa %}
                                                    <li><strong>Abnormal PA:</strong> {{ secondary_physical_examination.abnormal_pa }}</li>
                                                {% endif %}
                                                {% if secondary_physical_examination.gu %}
                                                    <li><strong>GU:</strong> {{ secondary_physical_examination.gu }}</li>
                                                {% endif %}
                                                {% if secondary_physical_examination.normal_gu %}
                                                    <li><strong>Normal GU:</strong> {{ secondary_physical_examination.normal_gu }}</li>
                                                {% endif %}
                                                {% if secondary_physical_examination.abnormal_gu %}
                                                    <li><strong>Abnormal GU:</strong> {{ secondary_physical_examination.abnormal_gu }}</li>
                                                {% endif %}
                                                {% if secondary_physical_examination.mss %}
                                                    <li><strong>MSS:</strong> {{ secondary_physical_examination.mss }}</li>
                                                {% endif %}
                                                {% if secondary_physical_examination.normal_mss %}
                                                    <li><strong>Normal MSS:</strong> {{ secondary_physical_examination.normal_mss }}</li>
                                                {% endif %}
                                                {% if secondary_physical_examination.abnormal_mss %}
                                                    <li><strong>Abnormal MSS:</strong> {{ secondary_physical_examination.abnormal_mss }}</li>
                                                {% endif %}
                                    {% else %}
                                        <li>No secondary physical examination recorded.</li>
                                    {% endif %}
                                    </ul>
                                </td>
                            </tr>                          
                            <tr>
                                <th>Provisional Diagnosis:</th>
                                <td> <ul class="list-group">
                                    {% for diagnosis in consultation_notes.provisional_diagnosis.all %}
                                    <li class="list-group-item">{{ diagnosis.diagnosis_name }}</li>
                                    {% endfor %}
                                </ul></td>
                            </tr>
                            <tr>
                                <th>Final Diagnosis:</th>
                                <td> <ul class="list-group">
                                    {% for diagnosis in consultation_notes.final_diagnosis.all %}
                                    <li class="list-group-item">{{ diagnosis.diagnosis_name }}</li>
                                    {% endfor %}
                                </ul></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

      {% endif %}


     {% if prescriptions %}
           <!-- Prescription Details Section -->
           <div class="row mt-5">
            <div class="col-12">
                <div class="card prescription-details-card">
                    <div class="card-header bg-dark text-white">
                        <h2 class="card-title">Prescription Details</h2>
                    </div>
                    <div class="card-body">
                        <!-- Prescription Details Table -->
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Drug</th>
                                    <th>Dose</th>
                                    <th>Frequency</th>
                                    <th>Duration</th>
                                    <th>Quantity</th>
                                    <th>Unit Price</th>
                                    <th>Total Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for prescription in prescriptions %}
                                    <tr>
                                        <td>{{ prescription.id }}</td>
                                        <td>{{ prescription.medicine.name }}</td>
                                        <td>{{ prescription.dose }}</td>                                                       
                                        <td>{{ prescription.frequency }}</td>
                                        <td>{{ prescription.duration }}</td>
                                        <td>{{ prescription.quantity_used }}</td>
                                        <td>{{ prescription.medicine.unit_price }}</td>
                                        <td>{{ prescription.total_price }}</td>
                                    </tr>
                                {% endfor %}                         
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
     {% endif %}
    

     
     {% if vital %}
     <div class="row mt-5">
        <div class="col-12">
            <div class="card assessment-data-card">
                <div class="card-header bg-dark text-white">
                    <h2 class="card-title">Assessment Data</h2>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-bordered table-striped table-sm display" id="example6" style="width:100%">
                            <thead>
                                <tr>                                 
                                    <th>Respiratory Rate</th>
                                    <th>Pulse Rate</th>
                                    <th>Blood Pressure</th>
                                    <th>AVPU</th>
                                    <th>SPO2</th>
                                    <th>Temperature</th>
                                    <th>GCS</th>
                                    <th>Date</th>
                                    <th>Day</th> <!-- New column for the day of the week -->
                                    <th>Time</th>                                                           
                                </tr>
                            </thead>
                            <tbody>
                                {% for vital in previous_vitals %}
                                <tr>                                    
                                    <td>{{ vital.respiratory_rate }}</td>
                                    <td>{{ vital.pulse_rate }}</td>
                                    <td>{{ vital.blood_pressure }}</td>
                                    <td>{{ vital.avpu }}</td>
                                    <td>{{ vital.spo2 }}</td>
                                    <td>{{ vital.temperature }}</td>
                                    <td>{{ vital.gcs }}</td>
                                    <!-- Split recorded_at into date, day of the week, and time components -->
                                    <td>{{ vital.recorded_at|date:"Y-m-d" }}</td> <!-- Display date -->
                                    <td>{{ vital.recorded_at|date:"l" }}</td> <!-- Display day of the week -->
                                    <td>{{ vital.recorded_at|time:"H:i:s" }}</td><!-- Display time -->
                                    
                                </tr>
                               
                                {% endfor %}
                            </tbody>
                        </table>
                       </div>
                </div>
            </div>
        </div>
    </div>
     {% endif %}


     
     {% if procedures %}
     <div class="row mt-5">
        <div class="col-12">
            <div class="card assessment-data-card">
                <div class="card-header bg-dark text-white">
                    <h2 class="card-title">Procedure Data</h2>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-bordered table-striped" id="example">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>                            
                                    <th>Cost</th>
                                    <th>Date</th>
                                    <th>Day</th> <!-- New column for the day of the week -->
                                    <th>Time</th>  
                                    <th>Updated At</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for procedure in procedures %}
                                <tr>
                                    <td>{{ procedure.name }}</td>
                                    <td>{{ procedure.description }}</td>                        
                                    <td>{{ procedure.cost }}</td>
                                    <td>{{ procedure.created_at|date:"Y-m-d" }}</td> <!-- Display date -->
                                    <td>{{ procedure.created_at|date:"l" }}</td> <!-- Display day of the week -->
                                    <td>{{ procedure.created_at|time:"H:i:s" }}</td><!-- Display time -->
                                    <td>{{ procedure.updated_at }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                       </div>
                </div>
            </div>
        </div>
    </div>
     {% endif %}


     {% if lab_tests %}
     <div class="row mt-5">
        <div class="col-12">
            <div class="card assessment-data-card">
                <div class="card-header bg-dark text-white">
                    <h2 class="card-title">Lab Result Data</h2>
                </div>
                <div class="card-body">
                    <div  class="table-responsive">
                        <table  class="table table-hover text-nowrap table-bordered table-striped" id="example1">
                            <thead>
                                <tr>                                  
                                    <th>Name</th>
                                    <th>Description</th>                                 
                                    <th>Result</th>                                 
                                    <th>Cost</th>
                                    <th>Created At</th>
                                    <th>Updated At</th>
                                    <th>Action</th>
                          
                                </tr>
                            </thead>
                            <tbody>
                                {% for lab_test in lab_tests %}
                                <tr>                               
                                    <td>{{ lab_test.name }}</td>
                                    <td>{{ lab_test.description }}</td>                                  
                                    <td>{{ lab_test.result }}</td>                                  
                                    <td>{{ lab_test.cost }}</td>
                                    <td>{{ lab_test.created_at }}</td>
                                    <td>{{ lab_test.updated_at }}</td>
                         
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
     {% endif %}

     {% if observations %}
     <div class="row mt-5">
        <div class="col-12">
            <div class="card assessment-data-card">
                <div class="card-header bg-dark text-white">
                    <h2 class="card-title">Imaging Data</h2>
                </div>
                <div class="card-body">
                    <div  class="table-responsive">
                        <table  class="table table-hover text-nowrap table-bordered table-striped" id="example1">
                            <thead>
                                <tr>
                                    <th>visit number</th>
                                    <th>Name</th>
                                    <th>Description</th>                                 
                                    <th>Result</th>
                                    <th>Image</th>
                                    <th>Cost</th>
                                    <th>Created At</th>
                                    <th>Updated At</th>                          
                                </tr>
                            </thead>
                            <tbody>
                                {% for observation in observations %}
                                <tr>
                                    <td>{{ observation.visit.vst }}</td>
                                    <td>{{ observation.imaging }}</td>
                                    <td>{{ observation.description }}</td>                                  
                                    <td>{{ observation.result }}</td>                                  
                                    <td>{{ observation.image }}</td>                                  
                                    <td>{{ observation.cost }}</td>
                                    <td>{{ observation.created_at }}</td>
                                    <td>{{ observation.updated_at }}</td>
                                 </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
     {% endif %}
    </main>
</div>

<div class="btn-group btn-group-sm d-print-none"> <a href="javascript:window.print()" class="btn btn-light border text-black-50 shadow-none"><i class="fa fa-print"></i> Print</a> 
    <a href="{% url 'kahamahmis:generatePDF' patient.id visits.id %}" id="dwnload" class="btn btn-light border text-black-50 shadow-none"><i class="fa fa-download"></i> Download</a> </div>
  </footer> 

{% endblock main_content %}
