{% extends 'kahama_template/base_template.html' %}
{% block title %}
all Procedure    
{% endblock title %}
{% block breadcrumb %}
{% include "kahama_template/modal_form.html" %}
    <a class="btn btn-success float-right mr-2" href="{% url 'kahamahmis:import_procedure_records' %}">
        <i class="fas fa-file-import"></i> Import Procedure
      </a>
{% endblock breadcrumb %}
{% block main_content %}
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="header-title text-center mt-0 mb-1 text-uppercase">All Procedures</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="example">
                            <thead>
                                <tr>                
                                    <th>Patient MRN</th>
                                    <th>Procedure Name</th>                               
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <!-- Update the patient name field in your table -->
                                <tbody>
                                    {% for record in data %}
                                        <tr>
                                            <td>{{ record.mrn }}</td>  <!-- Use 'fullname' instead of 'name' -->
                                            <td>{{ record.procedure_name }}</td>                                    
                                            <td>
                                                <!-- Add more action links as needed -->
                                                <a href="{% url 'kahamahmis:patient_procedure_history_view_mrn' record.mrn %}" data-toggle="tooltip" title="View Procedure History">
                                                    <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-eye text-dark"></i></button>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>                    
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
{% include 'kahama_template/datatable.html' %}    

{% endblock main_content %}
