{% extends 'kahama_template/download_base.html' %}
{% block title %}
Patient Details 
{% endblock title %}
{% block main_content %}
{% load static %}

<style>
      body {
            font-family: Arial, sans-serif;
        }
      /* CSS for the company logo */
.company-logo {
    max-width: 120px;
    height: 120px;
    border-radius: 50%;
}

/* Additional styling for the header */
.header {
    background-color: #344; /* Adjust background color to match the logo */
    color: #fff;
    padding: 20px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    color: #fff; /* Set text color for consistency */
}

.header p {
    margin-bottom: 0;
}

.header a {
    color: #fff;
}

.header-info {
    font-size: 14px; /* Adjust font size for header info */
    margin-bottom: 5px; /* Add some bottom margin for spacing */
}
         /* Specific Styles for Cards */
    .patient-details-card {
        margin-bottom: 20px;
    }

    .clinical-notes-card {
        margin-bottom: 20px;
    }

    .prescription-details-card {
        margin-bottom: 20px;
    }

    .assessment-data-card {
        margin-bottom: 20px;
    }
</style>


<div id="invoice">
    <div class="container">
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td class="mx-3">
                                        <!-- Replace the company name with a logo -->
                                        <img src="{% static 'dist/img/resalogo.png' %}" alt="Company Logo" class="company-logo">
                                    </td>
                                    <td class="mx-3"></td>
                                    <td class="mx-3"></td>
                                    <td class="mx-3"></td>
                                    <td class="mx-3"></td>
                                    <td class="mx-3"></td>
                                    <td class="mx-3"></td>
                                    <td class="mx-3"></td>
                                    <td class="mx-3"></td>
                                    <td class="mx-3"></td>
                                    <td class="mx-3"></td>
                                    <td class="mx-3"></td>
                                    <td class="mx-3"></td>
                                    <td class="mx-3"></td>
                                    <td class="mx-3"></td>
                                    <td class="mx-3"></td>
                                    <td class="mx-3"></td>
                                    <td class="mx-3"></td>
                                    <td class="mx-3"></td>
                                    <td class="mx-3"></td>
                                    <td class="mx-3"></td>
                                    <td class="mx-3"></td>
                                    <td class="mx-3"></td>
                                    <td class="mx-3"></td>
                                    <td class="mx-3"></td>
                                    <td class="mx-3"></td>
                                    <td class="mx-3"></td>
                                  
                                    <td class="text-white"><p>ISOAF/WASCO Site clinic, Kahama.</p>
                                   <p>divine@resa.co.tz</p>
                                    <p>PHONE: 255692082068</p>
                                  <p> <a href="https://www.divineheart.or.tz/" class="text-white">https://www.divineheart.or.tz/</a></p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                   
                </div>
            </div>
        </header>
    </div>
    <main class="container py-5">
        
        <div class="row">
            <div class="col-12">
                <div class="card patient-details-card">
                    <div class="card-header bg-dark text-white">
                        <h2 class="card-title">Patient Details</h2>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th>Patient:</th>
                                    <td> {{ patient.first_name }} {{ patient.middle_name }}  {{ patient.last_name }}</td>
                                    <th>MRN:</th>
                                    <td> {{ patient.mrn }}</td>
                                    <th>Visit Number:</th>
                                    <td> {{ visits.vst }}</td>
                                </tr>
                                <tr>
                                    <th>Age:</th>
                                    <td> {{ patient.age }}</td>
                                    <th>Gender:</th>
                                    <td> {{ patient.gender }}</td>
                                    <th>Company:</th>
                                    <td> {{ patient.company }}</td>
                                </tr>
                                <tr>
                                    <th>Phone:</th>
                                    <td> {{ patient.phone }}</td>
                                    <th>Visit Date:</th>
                                    <td> {{ visits.created_at }}</td>
                                    <th>Visit Day:</th>
                                    <td>{{ visits.created_at|date:"l" }} at {{ visits.created_at|time:"H:i" }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    
      {% if consultation_notes %}
      <div class="row mt-5">
        <div class="col-12">
            <div class="card clinical-notes-card">
                <div class="card-header bg-dark text-white">
                    <h2 class="card-title">Clinical Notes</h2>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Chief Complaints:</th>
                                <td>{{ consultation_notes.chief_complaints }}</td>
                            </tr>
                            <tr>
                                <th>History Presenting Illness:</th>
                                <td>{{ consultation_notes.history_of_presenting_illness }}</td>
                            </tr>
                            <tr>
                                <th>Physical Examination:</th>
                                <td>{{ consultation_notes.physical_examination }}</td>
                            </tr>
                            <tr>
                                <th>Allergy to Medication:</th>
                                <td>{{ consultation_notes.allergy_to_medications }}</td>
                            </tr>
                            <tr>
                                <th>Provisional Diagnosis:</th>
                                <td> <ul class="list-group">
                                    {% for diagnosis in consultation_notes.provisional_diagnosis.all %}
                                    <li class="list-group-item">{{ diagnosis.diagnosis_name }}</li>
                                    {% endfor %}
                                </ul></td>
                            </tr>
                            <tr>
                                <th>Final Diagnosis:</th>
                                <td> <ul class="list-group">
                                    {% for diagnosis in consultation_notes.final_diagnosis.all %}
                                    <li class="list-group-item">{{ diagnosis.diagnosis_name }}</li>
                                    {% endfor %}
                                </ul></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

      {% endif %}


     {% if prescriptions %}
           <!-- Prescription Details Section -->
           <div class="row mt-5">
            <div class="col-12">
                <div class="card prescription-details-card">
                    <div class="card-header bg-dark text-white">
                        <h2 class="card-title">Prescription Details</h2>
                    </div>
                    <div class="card-body">
                        <!-- Prescription Details Table -->
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Drug</th>
                                    <th>Dose</th>
                                    <th>Frequency</th>
                                    <th>Duration</th>
                                    <th>Quantity</th>
                                    <th>Unit Price</th>
                                    <th>Total Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for prescription in prescriptions %}
                                                        <tr>
                                                            <td>{{ prescription.id }}</td>
                                                            <td>{{ prescription.medicine.name }}</td>
                                                            <td>{{ prescription.dose }}</td>                                                       
                                                            <td>{{ prescription.frequency }}</td>
                                                            <td>{{ prescription.duration }}</td>
                                                            <td>{{ prescription.quantity_used }}</td>
                                                            <td>{{ prescription.medicine.unit_price }}</td>
                                                            <td>{{ prescription.total_price }}</td>
                                                        </tr>
                                         {% endfor %}
                                <!-- Add additional prescription details rows here -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
     {% endif %}
    

     
     {% if vital %}
     <div class="row mt-5">
        <div class="col-12">
            <div class="card assessment-data-card">
                <div class="card-header bg-dark text-white">
                    <h2 class="card-title">Assessment Data</h2>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-bordered table-striped table-sm display" id="example6" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Visit number</th>
                                    <th>Respiratory Rate</th>
                                    <th>Pulse Rate</th>
                                    <th>Blood Pressure</th>
                                    <th>AVPU</th>
                                    <th>SPO2</th>
                                    <th>Temperature</th>
                                    <th>GCS</th>
                                    <th>Date</th>
                                    <th>Day</th> <!-- New column for the day of the week -->
                                    <th>Time</th>                                                           
                                </tr>
                            </thead>
                            <tbody>
                                {% for vital in previous_vitals %}
                                <tr>
                                    <td>{{ vital.visit.vst }}</td>
                                    <td>{{ vital.respiratory_rate }}</td>
                                    <td>{{ vital.pulse_rate }}</td>
                                    <td>{{ vital.blood_pressure }}</td>
                                    <td>{{ vital.avpu }}</td>
                                    <td>{{ vital.spo2 }}</td>
                                    <td>{{ vital.temperature }}</td>
                                    <td>{{ vital.gcs }}</td>
                                    <!-- Split recorded_at into date, day of the week, and time components -->
                                    <td>{{ vital.recorded_at|date:"Y-m-d" }}</td> <!-- Display date -->
                                    <td>{{ vital.recorded_at|date:"l" }}</td> <!-- Display day of the week -->
                                    <td>{{ vital.recorded_at|time:"H:i:s" }}</td><!-- Display time -->
                                    
                                </tr>
                               
                                {% endfor %}
                            </tbody>
                        </table>
                       </div>
                </div>
            </div>
        </div>
    </div>
     {% endif %}


     
     {% if procedures %}
     <div class="row mt-5">
        <div class="col-12">
            <div class="card assessment-data-card">
                <div class="card-header bg-dark text-white">
                    <h2 class="card-title">Procedure Data</h2>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-bordered table-striped" id="example">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Duration Time</th>
                                    <th>Equipments Used</th>
                                    <th>Cost</th>
                                    <th>Date</th>
                                    <th>Day</th> <!-- New column for the day of the week -->
                                    <th>Time</th>  
                                    <th>Updated At</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for procedure in procedures %}
                                <tr>
                                    <td>{{ procedure.name }}</td>
                                    <td>{{ procedure.description }}</td>
                                    <td>{{ procedure.duration_time }}</td>
                                    <td>{{ procedure.equipments_used }}</td>
                                    <td>{{ procedure.cost }}</td>
                                    <td>{{ procedure.created_at|date:"Y-m-d" }}</td> <!-- Display date -->
                                    <td>{{ procedure.created_at|date:"l" }}</td> <!-- Display day of the week -->
                                    <td>{{ procedure.created_at|time:"H:i:s" }}</td><!-- Display time -->
                                    <td>{{ procedure.updated_at }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                       </div>
                </div>
            </div>
        </div>
    </div>
     {% endif %}


     {% if lab_tests %}
     <div class="row mt-5">
        <div class="col-12">
            <div class="card assessment-data-card">
                <div class="card-header bg-dark text-white">
                    <h2 class="card-title">Lab Result Data</h2>
                </div>
                <div class="card-body">
                    <div  class="table-responsive">
                        <table  class="table table-hover text-nowrap table-bordered table-striped" id="example1">
                            <thead>
                                <tr>
                                    <th>Lab Number</th>
                                    <th>Patient</th>
                                    <th>Visit</th>
                                    <th>Consultation</th>
                                    <th>Diagnosis</th>
                                    <th>Test Name</th>
                                    <th>Result</th>
                          
                                </tr>
                            </thead>
                            <tbody>
                                {% for lab_test in lab_tests %}
                                <tr>
                                    <td>{{ lab_test.lab_number }}</td>
                                    <td>{{ lab_test.patient.mrn }}</td>
                                    <td>{{ lab_test.visit.vst }}</td>
                                    <td>{{ lab_test.consultation.consultation_number }}</td>
                                    <td>{{ lab_test.diagnosis }}</td>
                                    <td>{{ lab_test.test_name }}</td>
                                    <td>{{ lab_test.result }}</td>
                         
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
     {% endif %}
    </main>
</div>

<div class="btn-group btn-group-sm d-print-none"> <a href="javascript:window.print()" class="btn btn-light border text-black-50 shadow-none"><i class="fa fa-print"></i> Print</a> 
    <a href="{% url 'kahamahmis:generatePDF' patient.id visits.id %}" id="dwnload" class="btn btn-light border text-black-50 shadow-none"><i class="fa fa-download"></i> Download</a> </div>
  </footer> 



<script>
    window.onload = function(){
      document.getElementById("download")
      .addEventListener("click",()=> {
       const invoice = this.document.getElementById("invoice");
     var opt = {
      filename:     'OP/SUGDUE/mrisho',
      image:        { type: 'jpeg', quality: 0.98 },
      html2canvas:  { scale: 2 },
      jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' }
    };
       html2pdf().from(invoice).set(opt).save();
    
      })
    }
            
        </script>
{% endblock main_content %}
