{% extends 'kahama_template/base_template.html' %}
{% block title %}
Counseling Sessions
{% endblock title %}
{% block breadcrumb %}
{% include "kahama_template/modal_form.html" %}
{% endblock breadcrumb %}
{% block main_content %}
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="header-title text-center mt-0 mb-1 text-uppercase">Counseling Sessions</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="example">
                            <thead>
                                <tr>                                 
                                    <th>Description</th>
                                    <th>Patient</th>
                                    <th>Visit</th>
                                    <th>Counselor</th>
                                    <th>Date</th>
                                    <th>Day</th>
                                    <th>Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for counseling in counselings %}
                                <tr>                                  
                                    <td>{{ counseling.description|safe }}</td>
                                    <td>{{ counseling.patient }}</td>
                                    <td>{{ counseling.visit }}</td>
                                    <td>{{ counseling.counselor }}</td>
                                    <td>{{ counseling.created_at|date:"Y-m-d" }}</td>
                                    <td>{{ counseling.created_at|date:"l" }}</td>
                                    <td>{{ counseling.created_at|date:"H:i:s" }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>              
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
{% include 'kahama_template/datatable.html' %}   

{% endblock main_content %}
