{% extends 'kahama_template/base_template.html' %}

{% block title %}
List of  consultation    
{% endblock title %}

{% block page_title %}
List of  consultation    
{% endblock page_title %}

{% block breadcrumb %}
    <a class="btn btn-primary" href="{% url "add_consultation" %}">
        <i class="fas fa-plus"></i> New consultation
    </a>
{% endblock breadcrumb %}

{% block main_content %}
<div class="table-responsive">
    <!-- Any additional content or components can be placed here -->
    
<table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm" id="example">
    <thead>
        <tr>
            <th>Visit No.</th>
            <th>Patient</th>
            <th>Doctor</th>
            <th>Order Date</th>
            <th>Actions</th>
        </tr>
    </thead>

    <!-- Body -->
    <tbody>
        <tr>
            <td>VST-02080</td>
            <td>SAID ABDALLAH CHUNGUBWELELE</td>
            <td>Beatrice Anna Kivanda</td>
            <td>08-01-2024</td>
            <td>
                <a href="#" class="text-decoration-none">
                    <button type="button" class="btn btn-success border btn-sm">
                        <i class="fas fa-check" title="Attend"></i>
                    </button>
                </a>
                <a href="#" class="text-decoration-none">
                    <button type="button" class="btn btn-info border btn-sm">
                        <i class="fas fa-file-alt" title="Records"></i>
                    </button>
                </a>
                <a href="#" class="text-decoration-none">
                    <button type="button" class="btn btn-danger border btn-sm">
                        <i class="fas fa-trash-alt" title="Delete"></i>
                    </button>
                </a>
            </td>
        </tr>
        <tr>
            <td>VST-02080</td>
            <td>SAID ABDALLAH CHUNGUDEWELLE</td>
            <td>Beatrice Anna Kivanda</td>
            <td>08-01-2024</td>
            <td>
                <a href="#" class="text-decoration-none">
                    <button type="button" class="btn btn-success border btn-sm">
                        <i class="fas fa-check" title="Attend"></i>
                    </button>
                </a>
                <a href="#" class="text-decoration-none">
                    <button type="button" class="btn btn-info border btn-sm">
                        <i class="fas fa-file-alt" title="Records"></i>
                    </button>
                </a>
                <a href="#" class="text-decoration-none">
                    <button type="button" class="btn btn-danger border btn-sm">
                        <i class="fas fa-trash-alt" title="Delete"></i>
                    </button>
                </a>
            </td>
        </tr>
        <tr>
            <td>VST-02079</td>
            <td>AMRATH WILLIUM</td>
            <td>Angela Baligira</td>
            <td>08-01-2024</td>
            <td>
                <a href="#" class="text-decoration-none">
                    <button type="button" class="btn btn-success border btn-sm">
                        <i class="fas fa-check" title="Attend"></i>
                    </button>
                </a>
                <a href="#" class="text-decoration-none">
                    <button type="button" class="btn btn-info border btn-sm">
                        <i class="fas fa-file-alt" title="Records"></i>
                    </button>
                </a>
                <a href="#" class="text-decoration-none">
                    <button type="button" class="btn btn-danger border btn-sm">
                        <i class="fas fa-trash-alt" title="Delete"></i>
                    </button>
                </a>
            </td>
        </tr>
        <!-- Add more rows using the provided sample data -->
        <!-- ... -->
    </tbody>
</table>
</div>


<script>
    function submitForm(checkbox) {
        checkbox.form.submit();
    }
</script>
{% include 'kahama_template/datatable.html' %}
{% endblock main_content %}
