{% extends 'kahama_template/base_template.html' %}
{% block title %}
Patient Consultation   
{% endblock title %}

{% block page_title %}
Patient Consultation 
{% endblock page_title %}

{% block breadcrumb %}
{% include "kahama_template/modal_form.html" %}
    <a class="btn btn-primary float-right" type="button" data-toggle="modal" data-target="#editPatientVitalModal">
        <i class="fas fa-plus"></i> New Consultation
    </a>

{% endblock breadcrumb %}
{% block main_content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-primary-600">
                    <h5 class="card-title text-center text-uppercase">{{ patient.first_name }} {{ patient.middle_name }}  {{ patient.last_name }} [ AGE: {{ patient.age }} ] - Consultation</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <b>PATIENT: {{ patient.first_name }} {{ patient.middle_name }}  {{ patient.last_name }}</b>
                        </div>
                        <div class="col-md-3">
                            <b>DOB: 12/07/1975 [ Age: {{ patient.age }} ]</b>
                        </div>
                        <div class="col-md-3">
                            <b>SEX: {{ patient.gender }}</b>
                        </div>
                        <div class="col-md-3">
                            <b>FILE NO: {{ patient.mrn }}</b>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            <b>company: {{ patient.company }}</b>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Vitan No.</th>
                                            <th>BLOOD PRESSURE</th>
                                            <th>HEART RATE</th>
                                            <th>RESPIRATORY RATE</th>
                                            <th>SPO2</th>                                         
                                            <th>TEMPERATURE</th>
                                            <th>gcs</th>
                                            <th>avpu</th>
                                            <th>ACTION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ vital.unique_identifier }}</td>
                                            <td>{{ vital.blood_pressure }}</td>
                                            <td>{{ vital.pulse_rate }}</td>
                                            <td>{{ vital.respiratory_rate }}</td>
                                            <td>{{ vital.spo2 }}</td>                                            
                                            <td>{{ vital.temperature }}</td>
                                            <td>{{ vital.gcs }}</td>
                                            <td>{{ vital.avpu }}</td>
                                            <td>
                                                <a href="#" class="btn btn-info btn-xs btn-labeled" type="button" data-toggle="modal" data-target="#editPatientVitalModal"><b><i class="icon-pencil"></i></b> Update</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <form id="editConsultationForm{{ consultation_notes.id }}" method="post" >
                        {% csrf_token %}
                        <div class="container-fluid">
                            <!-- First row -->
                            <div class="row">
                                <!-- Doctor selection -->
                                <div class="col-md-4 form-group">
                                    <label for="doctor{{ consultation_notes.id }}">Doctor:</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="doctor{{ consultation_notes.id }}" name="doctor" required>
                                        <option value="">Select Doctor</option>
                                        {% for doctor in doctors %}
                                        <option value="{{ doctor.id }}" {% if consultation_notes.doctor.id == doctor.id %} selected {% endif %}>{{ doctor.admin.first_name }} {{ doctor.middle_name }} {{ doctor.admin.last_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                  <!-- Doctor plan -->
                                <div class="col-md-4 form-group">
                                    <label for="doctor_plan{{ consultation_notes.id }}">Doctor Plan:</label>
                                    <textarea class="form-control" id="doctor_plan{{ consultation_notes.id }}" name="doctor_plan">{{ consultation_notes.doctor_plan }}</textarea>
                                </div>

                                <!-- Chief complaints -->
                                <div class="col-md-4 form-group">
                                    <label for="chief_complaints{{ consultation_notes.id }}">Chief Complaints:</label>
                                    <textarea class="form-control" id="chief_complaints{{ consultation_notes.id }}" name="chief_complaints">{{ consultation_notes.chief_complaints }}</textarea>
                                </div>
                            </div>
                            <input type="hidden" class="form-control" id="visit_id" name="visit_id" value="{{ visits.id }}">
                            <input type="hidden" class="form-control" id="patient_id" name="patient_id" value="{{ patient.id }}">
                            <!-- Fourth row -->
                            <!-- Second row -->
                            <div class="row">
                                <!-- History of presenting illness -->
                                <div class="col-md-4 form-group">
                                    <label for="history_of_presenting_illness{{ consultation_notes.id }}">History of Presenting Illness:</label>
                                    <textarea class="form-control" id="history_of_presenting_illness{{ consultation_notes.id }}" name="history_of_presenting_illness">{{ consultation_notes.history_of_presenting_illness }}</textarea>
                                </div>

                                <!-- Physical examination -->
                                <div class="col-md-4 form-group">
                                    <label for="physical_examination{{ consultation_notes.id }}">Physical Examination:</label>
                                    <textarea class="form-control" id="physical_examination{{ consultation_notes.id }}" name="physical_examination">{{ consultation_notes.physical_examination }}</textarea>
                                </div>

                                <!-- Allergy to medications -->
                                <div class="col-md-4 form-group">
                                    <label for="allergy_to_medications{{ consultation_notes.id }}">Allergy to Medications:</label>
                                    <input type="text" class="form-control" id="allergy_to_medications{{ consultation_notes.id }}" name="allergy_to_medications" value="{{ consultation_notes.allergy_to_medications }}">
                                    <input type="hidden" class="form-control" id="notes_id{{ consultation_notes.id }}" name="notes_id" value="{{ consultation_notes.id }}">
                                </div>
                            </div>

                            <!-- Third row -->
                            <div class="row">
                                <!-- Provisional diagnosis -->
                                <div class="col-md-4 form-group">
                                    <label for="provisional_diagnosis{{ consultation_notes.id }}">Provisional Diagnosis:</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="provisional_diagnosis{{ consultation_notes.id }}" name="provisional_diagnosis" multiple>
                                        {% for diagnosis in provisional_diagnoses %}
                                        <option value="{{ diagnosis.id }}" {% if diagnosis in consultation_notes.provisional_diagnosis.all %} selected {% endif %}>{{ diagnosis.diagnosis_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <!-- Final diagnosis -->
                                <div class="col-md-4 form-group">
                                    <label for="final_diagnosis{{ consultation_notes.id }}">Final Diagnosis:</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="final_diagnosis{{ consultation_notes.id }}" name="final_diagnosis" multiple>
                                        {% for diagnosis in final_diagnoses %}
                                        <option value="{{ diagnosis.id }}" {% if diagnosis in consultation_notes.final_diagnosis.all %} selected {% endif %}>{{ diagnosis.diagnosis_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <!-- Pathology -->
                                <div class="col-md-4 form-group">
                                    <label for="pathology{{ consultation_notes.id }}">Pathology:</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="pathology{{ consultation_notes.id }}" name="pathology" multiple>
                                        {% for record in pathology_records %}
                                        <option value="{{ record.id }}" {% if record in consultation_notes.pathology.all %} selected {% endif %}>{{ record.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <!-- Fourth row -->
                            <div class="row">
                                <!-- Doctor plan -->
                                <div class="col-md-4 form-group">
                                    <label for="doctor_plan{{ consultation_notes.id }}">Doctor Plan:</label>
                                    <textarea class="form-control" id="doctor_plan{{ consultation_notes.id }}" name="doctor_plan">{{ consultation_notes.doctor_plan }}</textarea>
                                </div>
                            </div>
                        </div>                     
                        <div class="form-row">
                            <div class="col-md-4">
                                <button type="button" class="btn btn-primary" onclick="editConsultationNotes({{ consultation_notes.id }})">
                                    <i class="fas fa-edit"></i> Update Consultation
                                </button>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#service-modal">
                                    <i class="fas fa-shopping-cart"></i>Order
                                </button>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addPrescriptionModal">
                                    <i class="fas fa-prescription"></i> Prescription
                                </button>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function editConsultationNotes(consultationId) {
        var formId = "#editConsultationForm" + consultationId;
        var formData = $(formId).serialize();
        
        $.ajax({
            type: 'POST',
            url:'{% url "kahamahmis:save_remoteconsultation_notes" %}', // Replace 'your_server_url_here' with your actual server-side endpoint
            data: formData,
            success: function(response) {
                if (data.status === 'success') {                                                   
                    location.reload(true);
                    // Refresh the inventory item list or perform any other actions
                } else {
                    // Handle other status cases if needed
                    alert(data.message);
                }
            },
            error: function(xhr, status, error) {
                // Handle error response
                alert(xhr.responseText);
            }
        });
    }
</script>



<div class="modal fade" id="service-modal" tabindex="-1" role="dialog" aria-labelledby="service-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="service-modal-label">Request Services</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-md-6">
                                <select id="service-select" class="form-control select2bs4" style="width: 100%;">
                                    {% for service in remote_service %}
                                    <option value="{{ service.id }}">{{ service }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h4 class="card-title">Services</h4>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="patient-id" value="{{ patient.id }}" name="patient_id"> 
                            <input type="hidden" id="visit-id" name="visit_id" value="{{ visits.id }}">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm display mb-0" id="service-table">
                                        <thead>
                                            <tr>
                                                <th>Service</th>
                                                <th hidden>Price</th>
                                                <th hidden>Quantity</th>
                                                <th>Result</th>
                                                <th hidden>Total</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% comment %} <tr>
                                                <td>CONSULTATION</td>
                                                <td hidden><input type="number" class="form-control"></td>
                                                <td hidden><input type="number" class="form-control"></td>
                                                <td>-</td>
                                                <td><a href="#"><i class="text-success fa fa-check"></i></a></td>
                                            </tr> {% endcomment %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h4 class="card-title">Service Summary</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="box box-primary">
                                    <div class="box-body" style="min-height: 100px;">
                                        <div class="box box-primary" id="service-summary">
                                            <header>
                                                <h4 style="margin-bottom: 0px; width:80%;" class="card-title pt-3"> Services : <span id="cart" class="pull-right">1</span> &nbsp;&nbsp;&nbsp; Count : <span id="service-count">4.00</span></h4>
                                            </header>
                                            <div class="box-body" style="padding:0px;">
                                                <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm display mb-0">
                                                    <tr>
                                                        <td hidden>SubTotal</td>
                                                        <td align="right">
                                                            <input type="hidden" name="subtotal" id="subtotalvalue">
                                                            <span id="subtotal" hidden>1,500.00</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td hidden>Total</td>
                                                        <td align="right">
                                                            <input type="hidden" name="totalSaleAmount" id="total_value">
                                                            <span id="total" hidden>1,500.00</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="box box-primary">
                                            <div class="box-body" style="padding:0px;">
                                                <table class="table table-condensed table-striped">
                                                    <tbody>
                                                        <tr class="">
                                                            <input type="hidden" class="form-control" name="received" id="received" style=" font: 15px/100% sans-serif Bold;" placeholder="Amount Received" value="0.0">
                                                            <td><button type="submit" class="btn btn-outline-purple" style="width:100%;" id="save-continue-btn"><i class="fa fa-file-o"></i>Save and Continue</button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Handle select field change event
        $('#service-select').change(function () {
            var selectedService = $(this).find('option:selected').text();
            var newRow = '<tr>' +
                '<td>' + selectedService + '</td>' +
                '<td hidden><input type="number" class="form-control"></td>' +
                '<td hidden><input type="number" class="form-control"></td>' +
                '<td><input type="text" class="form-control"></td>' +
                '<td><button class="btn btn-danger delete-row"><i class="fas fa-trash"></i></button></td>' +
                '</tr>';
            $('#service-table tbody').append(newRow);

            // Update service count and total count
            updateServiceSummary();
        });

        // Handle delete button click event
        $(document).on('click', '.delete-row', function () {
            $(this).closest('tr').remove();

            // Update service count and total count
            updateServiceSummary();
        });

        // Function to update service count and total count
        function updateServiceSummary() {
            var serviceCount = $('#service-table tbody tr').length;
            $('#cart').text(serviceCount);

            // Calculate total count based on the number of services
            var totalCount = parseFloat(serviceCount * 4).toFixed(2);
            $('#service-count').text(totalCount);
        }
    });
</script>

<script>
    $(document).ready(function () {
        // Handle Save and Continue button click event
        $('#save-continue-btn').click(function () {
            // Gather service request details
            var patientId = $('#patient-id').val(); // Retrieve patient ID from the hidden input field
            var visitId = $('#visit-id').val(); // Retrieve patient ID from the hidden input field
            var serviceRequests = [];
            $('#service-table tbody tr').each(function () {
                var serviceName = $(this).find('td:first').text();
                var result = $(this).find('td:nth-child(4) input').val(); // Assuming the result is inputted in the fourth column
                serviceRequests.push({ service: serviceName, result: result });
            });

            // Send AJAX request to save service requests
            $.ajax({
                type: 'POST',
                url: '{% url "kahamahmis:save_service_requests" %}', // Replace with your endpoint URL
                data: JSON.stringify({ patient_id: patientId, service_requests: serviceRequests, visit_id:visitId }), // Include patient ID in the data
                contentType: 'application/json',
                success: function (response) {
                    if (response.status === 'success') {
                        $('#service-modal').modal('hide');
                        location.reload(true);
                        // Refresh the category list or perform any other actions
                    } else {
                        // Handle other status cases if needed
                        alert(data.message);
                    }
                },
                error: function (error) {
                    // Handle error response
                    
                    alert(error);
                }
            });
        });
    });
</script>


<div class="modal fade" id="addPrescriptionModal" tabindex="-1" role="dialog" aria-labelledby="addPrescriptionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPrescriptionModalLabel">Add Prescription for visit {{ visits.vst }} and patient {{ patient }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addPrescriptionModalForm{{ visit.id }}" method="post">
                    {% csrf_token %}
                    <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm  display" id="prescriptionTable{{ visit.id }}">
                        <thead>
                            <tr>
                                <th>Drug</th>
                                <th>Dose</th>
                                <th>Frequency</th>
                                <th>Duration</th>
                                <th>Quantity</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> <select class="form-control select2bs4" style="width: 100%;" id="medicine" name="medicine[]" required>
                                    <option value="">Select Medicine</option>
                                    {% for medicine in medicines %}
                                      <option value="{{ medicine.id }}" {% if medicine.id == prescription.medicine.id  %} selected {% endif %}>{{ medicine.name }}</option>
                                    {% endfor %}
                                  </select></td>
                                <td><input type="text" class="form-control" name="dose[]" value="0"></td>
                                <td><select class="form-control select2bs4" style="width: 100%;" id="frequency" name="frequency[]">                                
                                        <option value="PRN">PRN</option>
                                        <option value="QID">QID</option>
                                        <option value="TID">TID</option>
                                        <option value="BID">BID</option>
                                        <option value="STAT">STAT</option>
                                        <option value="OD">OD</option>                                    
                                </select></td></td>
                                <td> <select class="form-control select2bs4" style="width: 100%;" id="duration" name="duration[]">
                                    {% for rate in range_31 %}
                                        <option value="{{ rate }}">{{ rate }}</option>
                                    {% endfor %}
                                </select></td>
                                <td><input type="text" class="form-control" name="quantity[]" value="1"></td>
                                <td><button type="button" class="btn btn-danger delete-row">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="hidden" class="form-control" id="visit_id" name="visit_id" value="{{ visits.id }}">
                    <input type="hidden" class="form-control" id="patient_id" name="patient_id" value="{{ patient.id }}">
                    <button type="button" class="btn btn-success" id="addRow{{ visit.id }}">Add Row</button>
                    <button type="button" class="btn btn-primary"  onclick="addPrescription()">Save Prescriptions</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        // Add row button functionality
        $('#addRow{{ visit.id }}').click(function() {
            var newRow = `
                <tr>
                    <td> <select class="form-control select2bs4" style="width: 100%;" id="medicine" name="medicine[]" required>
                        <option value="">Select Medicine</option>
                        {% for medicine in medicines %}
                          <option value="{{ medicine.id }}" {% if medicine.id == prescription.medicine.id  %} selected {% endif %}>{{ medicine.name }}</option>
                        {% endfor %}
                      </select></td>
                    <td><input type="text" class="form-control" name="dose[]" value="0"></td>
                    <td><select class="form-control select2bs4" style="width: 100%;" id="frequency" name="frequency[]">                                
                        <option value="PRN">PRN</option>
                        <option value="QID">QID</option>
                        <option value="TID">TID</option>
                        <option value="BID">BID</option>
                        <option value="STAT">STAT</option>
                        <option value="OD">OD</option>                                    
                </select></td></td>
                <td> <select class="form-control select2bs4" style="width: 100%;" id="duration" name="duration[]">
                    {% for rate in range_31 %}
                        <option value="{{ rate }}">{{ rate }}</option>
                    {% endfor %}
                </select></td>
                    <td><input type="text" class="form-control" name="quantity[]" value="1"></td>
                    <td><button type="button" class="btn btn-danger delete-row">Delete</button></td>
                </tr>`;
            $('#prescriptionTable{{ visit.id }} tbody').append(newRow);
        });

        // Delete row button functionality
        $(document).on('click', '.delete-row', function() {
            $(this).closest('tr').remove();
        });

        // Trigger modal only when button is clicked
        $('.add-prescription').click(function() {
            var visitId = $(this).data('visit-id');
            $('#addPrescriptionModal' + visitId).modal('show');
        });
    });
</script>

<script>
    // Handle form submission using AJAX
    function addPrescription() {
        $.ajax({
            type: 'POST',
            url: '{% url "kahamahmis:add_remoteprescription" %}',  // Replace with your URL
            data: $('#addPrescriptionModalForm').serialize(),
            success: function (data) {
                if (data.status === 'success') {
                    $('#addPrescriptionModal').modal('hide');
                    location.reload(true);
                    // Refresh the inventory item list or perform any other actions
                } else {
                    // Handle other status cases if needed
                    alert(data.message);
                }
            },
            error: function (error) {
                alert(error);
                // Handle errors if necessary
            }
        });
    }
</script>



<div class="modal fade" id="editPatientVitalModal" tabindex="-1" aria-labelledby="patientVitalModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editPatientVitalModalLabel">Edit Patient Vital</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="editPatientVitalForm" method="post">
            <!-- Patient ID (hidden input) -->
            <input type="hidden" name="patient_id" id="edit_patient_id" value="{{ patient.id }}">
            <input type="hidden" name="vital_id" id="edit_vital_id" value="{{ vital.id }}">
            <input type="hidden" class="form-control" id="visit_id" name="visit_id" value="{{ visits.id }}">           
        
            <div class="row">
              <!-- Column 1 -->
              <div class="col-md-4">
                <div class="mb-3 form-group">
                    <label for="edit_respiratoryRate" class="form-label">Respiratory Rate (bpm)</label>
                    <select class="form-control select2bs4" style="width: 100%;" id="edit_respiratoryRate" name="respiratory_rate">
                        {% for rate in range_51 %}
                            <option value="{{ rate }}" {% if rate == vital.respiratory_rate  %} selected{% endif %}>{{ rate }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3 form-group">
                    <label for="edit_pulseRate" class="form-label">Pulse Rate (bpm)</label>
                    <select class="form-control select2bs4" style="width: 100%;" id="edit_pulseRate" name="pulse_rate">
                        {% for rate in range_301 %}
                            <option value="{{ rate }}" {% if rate == vital.pulse_rate  %} selected{% endif %}>{{ rate }}</option>
                        {% endfor %}
                    </select>
                </div>
              </div>
              <!-- Column 2 -->
              <div class="col-md-4">
                <div class="mb-3 form-group">
                  <label for="edit_bloodPressure" class="form-label">Blood Pressure</label>
                  <input type="text" class="form-control" id="edit_bloodPressure" name="blood_pressure" value="{{ vital.blood_pressure }}">
                </div>
                <div class="mb-3 form-group">
                    <label for="edit_spo2" class="form-label">SPO2 (%)</label>
                    <select class="form-control select2bs4" style="width: 100%;" id="edit_spo2" name="spo2">
                        {% for percentage in range_101 %}
                            <option value="{{ percentage }}" {% if percentage == vital.spo2  %} selected{% endif %}>{{ percentage }}%</option>
                        {% endfor %}
                    </select>
                </div>
              </div>
              <!-- Column 3 -->
              <div class="col-md-4">
                <div class="mb-3 form-group">
                    <label for="edit_temperature" class="form-label">Temperature (°C)</label>
                    <select class="form-control select2bs4" style="width: 100%;" id="edit_temperature" name="temperature">
                        {% for temp in range_51 %}
                            <option value="{{ temp }}" {% if temp == vital.temperature  %} selected{% endif %}>{{ temp }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3 form-group">
                    <label for="edit_gcs" class="form-label">Glasgow Coma Scale</label>
                    <select class="form-control select2bs4" style="width: 100%;" id="edit_gcs" name="gcs">
                        {% for score in range_15  %}
                            <option value="{{ score }}" {% if score == vital.gcs  %} selected{% endif %}>{{ score }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3 form-group">
                    <label for="edit_avpu" class="form-label">AVPU Scale</label>
                    <select class="form-control select2bs4" style="width: 100%;" id="edit_avpu" name="avpu">
                        <option value="Alert" {% if vital.avpu == 'Alert' %}selected{% endif %}>Alert</option>
                        <option value="Verbal" {% if vital.avpu == 'Verbal' %}selected{% endif %}>Verbal</option>
                        <option value="Pain" {% if vital.avpu == 'Pain' %}selected{% endif %}>Pain</option>
                        <option value="Unresponsive" {% if vital.avpu == 'Unresponsive' %}selected{% endif %}>Unresponsive</option>
                    </select>
                </div>
              </div>
            </div>
            <div class="form-row">
                <div class="col-md-12">
                    <button  type="button" class="btn btn-primary float-lg-right"  onclick="addRemotePatientVital()">Update Patient Vital</button>  
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    // Handle form submission using AJAX
    function addRemotePatientVital() {
        $.ajax({
            type: 'POST',
            url: '{% url "kahamahmis:save_remotepatient_vital" %}',  // Replace with your URL
            data: $('#editPatientVitalForm').serialize(),
            success: function (data) {
                if (data.status === 'success') {
                    $('#editPatientVitalModal').modal('hide');
                    location.reload(true);
                    // Refresh the inventory vital list or perform any other actions
                } else {
                    // Handle other status cases if needed
                    alert(data.message);
                }
            },
            error: function (error) {
                alert(error);
                // Handle errors if necessary
            }
        });
    }
</script>
<style>
    /* Reset default margin and padding */
.navigation {
    padding-left: 0;
    list-style: none;
}

/* Style for the header */
.navigation-header {
    background-color: #f0f0f0; /* Header background color */
    color: #333; /* Header text color */
    font-weight: bold;
    padding: 10px; /* Add padding to the header */
    border-radius: 5px; /* Add border radius */
    margin-bottom: 10px; /* Add space between header and links */
}

/* Style for each list item */
.navigation li {
    margin-bottom: 5px;
}

/* Style for each link */
.navigation li a {
    color: #333; /* Default text color */
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

/* Style for the active link */
.navigation li.active a {
    background-color: #007bff; /* Active background color */
    color: #fff; /* Active text color */
}

/* Style for link hover */
.navigation li a:hover {
    background-color: #e0e0e0; /* Hover background color */
    color: #000; /* Change text color on hover */
}

    
</style>
<style>
    /* styles.css */

/* Add custom styles for the container */
.container {
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

/* Add styles for the card */
.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Add styles for the table */
.table {
    width: 100%;
}

/* Add styles for table headers */
.table th {
    background-color: #007bff;
    color: #fff;
}

/* Add styles for table rows */
.table tbody tr {
    background-color: #f9f9f9;
}

/* Add styles for buttons */
.btn {
    border-radius: 5px;
    margin-right: 5px;
}

/* Add more styles as needed */

</style>
 

{% include 'kahama_template/datatable.html' %}
    

{% endblock main_content %}
