{% extends 'kahama_template/base_template.html' %}

{% block title %}
Expired medicine
{% endblock title %}

{% block page_title %}
Expired medicine
{% endblock page_title %}

{% block breadcrumb %}
{% include "kahama_template/modal_form.html" %}
{% endblock breadcrumb %}

{% load static %}
{% block main_content %}

{% comment %} <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css"> {% endcomment %}

<div class="table-responsive">
    <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm  display" id="example"  style="width:100%">
        <thead>
            <tr>
                <th>Medicine Name</th>
                <th>Expiration Date</th>
                <th>Days Remaining</th>
            </tr>
        </thead>
        <tbody>
            {% for medicine in medicines %}
                <tr>
                    <td>{{ medicine.name }}</td>
                    <td>{{ medicine.expiration_date|date:"F d, Y" }}</td>
                    <td id="days-remaining-{{ forloop.counter }}">{{ medicine.days_remaining }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    // JavaScript to calculate and display remaining days dynamically
    document.addEventListener('DOMContentLoaded', function () {
        const rows = document.querySelectorAll('tbody tr');

        rows.forEach(row => {
            const daysRemainingCell = row.querySelector('[id^="days-remaining-"]');
            const daysRemaining = parseInt(daysRemainingCell.textContent);

            if (daysRemaining === 0) {
                daysRemainingCell.style.color = 'red';
                daysRemainingCell.textContent = 'Expired';
            } else if (daysRemaining < 0) {
                daysRemainingCell.style.color = 'red';
                daysRemainingCell.textContent = 'Expired';
            } else {
                daysRemainingCell.style.color = 'green';
            }
        });
    });
</script>
<script>
    function submitForm(checkbox) {
        checkbox.form.submit();
    }
</script>

{% include 'kahama_template/datatable.html' %}
{% endblock main_content %}
