{% extends 'kahama_template/base_template.html' %}

{% block title %}
Prescription 
{% endblock title %}
{% block breadcrumb %}
{% include "kahama_template/modal_form.html" %}

<!-- Add Import insurance link and modal trigger -->
<a class="btn btn-success float-right mr-2" href="{% url 'kahamahmis:import_prescription_records' %}">
  <i class="fas fa-file-import"></i> Import Prescription
</a>
{% endblock breadcrumb %}


{% load static %}
{% block main_content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3  class="header-title text-center mt-0 mb-1  text-uppercase"> Prescription </h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm display" id="example" style="width:100%">
                            <thead>
                                <tr> 
                                    <th>Date</th>     
                                    <th>Visit Number</th>
                                    <th>Patient</th>              
                                    <th>Billing Amount</th> 
                                    <th>Verified</th>  <!-- Add this column -->
                                    <th>Issued</th>   <!-- Add this column -->
                                    <th>Status</th>   <!-- Add this column -->
                                    <th>Action</th>               
                                </tr>
                            </thead>
                            <tbody>
                                {% for visit_total in visit_total_prices %}
                                    <tr>  
                                        <td>{{ visit_total.visit__created_at|date:"d/m/Y" }}</td> <!-- Format date as dd/mm/yyyy -->
                                        <td>{{ visit_total.visit__vst }}</td> <!-- Display visit number -->
                                        <td>{{ visit_total.visit__patient__first_name }} {{ visit_total.visit__patient__middle_name }}  {{ visit_total.visit__patient__last_name }}</td> <!-- Display patient name -->
                                        <td>{{ visit_total.total_price }}</td> <!-- Display total price for the visit -->
                                        
                                        <td>
                                            <p  {% if visit_total.verified == 'verified' %}   style="background-color: #308829;color: white;" {% else %}  style="background-color: #DD0000;color: white;" {% endif %}>
                                                {{ visit_total.verified }}
                                            </p>
                                          
                                        </td>  <!-- Display verified field -->
                                        
                                        <td>
                                            <p  {% if visit_total.issued == 'issued' %}   style="background-color: #308829;color: white;" {% else %}  style="background-color: #DD0000;color: white;" {% endif %}> {{ visit_total.issued }}</p>
                                           
                                        </td>   <!-- Display issued field -->
                                        
                                        <td >
                                           <p {% if visit_total.status == 'Paid' %}   style="background-color: #308829;color: white;" {% else %}  style="background-color: #DD0000;color: white;" {% endif %}> {{ visit_total.status }}</p>
                                        </td>   <!-- Display payment status field -->
                                        
                                        <td>
                                            <a class="btn btn-primary" href="{% url 'kahamahmis:prescription_detail' visit_total.visit__vst visit_total.visit__patient__id %}">
                                                <i class="fas fa-eye-slash"></i> View Prescription
                                            </a>   
                                        </td>        
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>                        
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'kahama_template/datatable.html' %}
{% endblock main_content %}
