{% extends 'kahama_template/base_template.html' %}
{% block title %}
   List of all service    
{% endblock title %}

{% block breadcrumb %}
{% include "kahama_template/modal_form.html" %}
<a class="btn btn-primary float-right" type="button" data-toggle="modal" data-target="#addServiceModal">
    <i class="fas fa-plus"></i> New service
</a>
<!-- Add Import Staff link and modal trigger -->
<a class="btn btn-success float-right mr-2" href="{% url 'kahamahmis:import_disease_recode' %}">
  <i class="fas fa-file-import"></i> Import service
</a>
{% endblock breadcrumb %}
{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card">
                    <div class="card-header">
                        <h4 class="header-title text-center mt-0 mb-1 text-uppercase">   List of all service  </h4>
                    </div>
                    <div class="card-body">                                                
                        <div class="table-responsive">
                            <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="example">
                                <thead>
                                    <tr>  
                                    <th scope="col">Service Name</th>   
                                    <th scope="col">coverage</th>  
                                    <th scope="col">Cash Cost</th>       
                                    <th scope="col">Insurance Cost</th>       
                                    <th scope="col">NHIF Cost</th>       
                                    <th scope="col">Type of Service</th>
                                    <th scope="col">Description</th>             
                                    <th scope="col">Created At</th>
                                    <th scope="col">Action</th>
                                
                                    </tr>
                                </thead>
                                <tbody>
                                {% for service in services %}
                                <tr>
                                    <td>{{ service.name }}</td>
                                    <td>{{ service.coverage }}</td>
                                    <td>{{ service.cash_cost }}</td>            
                                    <td>{{ service.insurance_cost }}</td>            
                                    <td>{{ service.nhif_cost }}</td>            
                                    <td>{{ service.type_service }}</td>            
                                    <td class="wrap-text">{{ service.description }}</td>             
                                    <td>{{ service.created_at }}</td>
                                    <td>
                                        <button class="btn btn-dark btn-sm" data-toggle="modal" data-target="#editServiceModal{{ service.id }}" data-toggle="tooltip" title="Edit">
                                            <i class="fa fa-edit text-white"></i>
                                        </button>
                                        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteServiceModal{{ service.id }}" data-toggle="tooltip" title="Delete">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                
                                <style>
                                /* CSS to make text wrap */
                                .wrap-text {
                                    white-space: normal;
                                }
                                </style>    


                                </tr>
                                <!-- Bootstrap Modal for Adding Service -->
<div class="modal fade" id="editServiceModal{{ service.id }}" tabindex="-1" role="dialog" aria-labelledby="editServiceModalLabel{{ service.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editServiceModalLabel{{ service.id }}">Edit Service</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editServiceForm{{ service.id }}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" id="name" name="name" value="{{ service.name }}" required>
                                <input type="hidden" id="service_id" name="service_id" value="{{ service.id }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="type_service">Type of Service:</label>
                                <select class="form-control select2bs4" style="width: 100%;" id="type_service{{ service.id }}" name="type_service">
                                    <option value="Procedure" {% if service.type_service == 'Procedure' %} selected {% endif %}>Procedure</option>
                                    <option value="Laboratory" {% if service.type_service == 'Laboratory' %} selected {% endif %}>Laboratory</option>
                                    <option value="Imaging" {% if service.type_service == 'Imaging' %} selected {% endif %}>Imaging</option>
                                    <option value="Drugs" {% if service.type_service == 'Drugs' %} selected {% endif %}>Drugs</option>
                                    <option value="Test" {% if service.type_service == 'Test' %} selected {% endif %}>Test</option>
                                    <option value="Consultation" {% if service.type_service == 'Consultation' %} selected {% endif %}>Consultation</option>
                                    <option value="Education" {% if service.type_service == 'Education' %} selected {% endif %}>Education</option>
                                    <option value="Examination" {% if service.type_service == 'Examination' %} selected {% endif %}>Examination</option>
                                    <option value="Vaccination" {% if service.type_service == 'Vaccination' %} selected {% endif %}>Vaccination</option>
                                    <option value="Medication" {% if service.type_service == 'Medication' %} selected {% endif %}>Medication</option>
                                    <option value="Therapy" {% if service.type_service == 'Therapy' %} selected {% endif %}>Therapy</option>
                                    <option value="Rehabilitation" {% if service.type_service == 'Rehabilitation' %} selected {% endif %}>Rehabilitation</option>
                                    <option value="Rental" {% if service.type_service == 'Rental' %} selected {% endif %}>Rental</option>
                                    <option value="Plan" {% if service.type_service == 'Plan' %} selected {% endif %}>Plan</option>
                                </select>
                            </div>
                        </div>             
                    </div>
                    <div class="row">                     
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="coverage">Coverage:</label>
                                <select class="form-control select2bs4" style="width: 100%;" id="coverage{{ service.id }}" name="coverage" >
                                    <option value="cash" {% if service.coverage == 'cash' %} selected {% endif %}>Cash</option>
                                    <option value="Insurance" {% if service.coverage == 'Insurance' %} selected {% endif %}>Insurance</option>
                                </select>
                            </div>
                        </div>                       
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="nhif_cost">NHIF Cost:</label>
                                <input type="number" class="form-control" id="nhif_cost" name="nhif_cost" value="{{ service.nhif_cost }}">
                            </div>
                        </div>
                        <div class="col-md-4"  >
                            <div class="form-group">
                                <label for="insurance_cost">Insurance Cost:</label>
                                <input type="number" class="form-control" id="insurance_cost{{ service.id }}" name="insurance_cost" value="{{ service.insurance_cost }}">
                            </div>
                        </div>                 
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="cash_cost">Cash Cost:</label>
                                <input type="number" class="form-control" id="cash_cost{{ service.id }}" name="cash_cost" value="{{ service.cash_cost }}" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="description">Description:</label>
                                <textarea class="form-control" id="description{{ service.id }}" name="description">{{ service.description }}</textarea>
                            </div>
                        </div>  
                    </div>                
                    <div class="row">
                        <div class="col-md-12">
                            <div id="messageContainers{{ service.id }}"></div>
                        </div>
                    </div> 
                    <button type="submit" class="btn btn-primary btn-block">Update Service</button>
                </form>
            </div>
        </div>
    </div>
</div>

                                {% endfor %}
                                <script>                                    
                                    $(document).ready(function() {
                                        // Handle form submission for editing service
                                        $('form[id^="editServiceForm"]').submit(function(event) {
                                            event.preventDefault();
                                            var formId = $(this).attr('id');
                                            var serviceId = formId.replace('editServiceForm', '');
                                            var formData = $(this).serialize();
                                
                                            $.ajax({
                                                url: '{% url "kahamahmis:add_service" %}',  // Update with your actual URL
                                                type: 'POST',
                                                data: formData,
                                                success: function(response) {
                                                    if (response.success) {
                                                        $('#messageContainers' + serviceId).html('<div class="alert alert-success">' + response.message + '</div>');
                                                        location.reload(true)
                                                    } else {
                                                        $('#messageContainers' + serviceId).html('<div class="alert alert-danger">' + response.message + '</div>');
                                                    }
                                                },
                                                error: function(xhr, status, error) {
                                                    console.error('Error:', error);
                                                }
                                            });
                                        });
                                    });
                                </script>
                                </tbody>
                            </table>
                        </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
<!-- Bootstrap Modal for Adding Service -->
<div class="modal fade" id="addServiceModal" tabindex="-1" role="dialog" aria-labelledby="addServiceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addServiceModalLabel">Add Service</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addServiceForm">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" id="name" name="name" required>
                                <input type="hidden" id="service_id" name="service_id" value="{{ service.id }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="type_service">Type of Service:</label>
                                <select class="form-control select2bs4" style="width: 100%;" id="type_service" name="type_service">
                                    <option value="Procedure">Procedure</option>
                                    <option value="Laboratory">Laboratory</option>
                                    <option value="Imaging">Imaging</option>
                                    <option value="Drugs">Drugs</option>
                                    <option value="Test">Test</option>
                                    <option value="Consultation">Consultation</option>
                                    <option value="Education">Education</option>
                                    <option value="Examination">Examination</option>
                                    <option value="Vaccination">Vaccination</option>
                                    <option value="Medication">Medication</option>
                                    <option value="Therapy">Therapy</option>
                                    <option value="Rehabilitation">Rehabilitation</option>
                                    <option value="Rental">Rental</option>
                                    <option value="Plan">Plan</option>
                                </select>
                            </div>
                        </div>                                          
                    </div>
                    <div class="row">                      
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="coverage">Coverage:</label>
                                <select class="form-control select2bs4" style="width: 100%;" id="coverage" name="coverage">
                                    <option value="cash">Cash</option>
                                    <option value="Insurance">Insurance</option>
                                </select>
                            </div>
                        </div>                 
                          <div class="col-md-4"  id="nhifCostField">
                            <div class="form-group">
                                <label for="nhif_cost">NHIF Cost:</label>
                                <input type="number" class="form-control" id="nhif_cost" name="nhif_cost">
                            </div>
                        </div>
                        <div class="col-md-4"  id="insuranceCostField">
                            <div class="form-group">
                                <label for="insurance_cost">Insurance Cost:</label>
                                <input type="number" class="form-control" id="insurance_cost" name="insurance_cost">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="cash_cost">Cash Cost:</label>
                                <input type="number" class="form-control" id="cash_cost" name="cash_cost" required>
                            </div>
                        </div>    
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="description">Description:</label>
                                <textarea class="form-control" id="description" name="description"></textarea>
                            </div>
                        </div>    
                    </div>
                   
                    <div class="row">
                        <div class="col-md-12">
                            <div id="messageContainer"></div>
                        </div>
                    </div> 
                    <button type="submit" class="btn btn-primary btn-block">Add Service</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {          
            
        $('#addServiceForm').submit(function(event) {
            event.preventDefault();
            var formData = $(this).serialize();
            
            $.ajax({
                url: '{% url "kahamahmis:add_service" %}',  // Update with your actual URL
                type: 'POST',
                data: formData,
                success: function(response) {
                    if (response.success) {
                        $('#messageContainer').html('<div class="alert alert-success">' + response.message + '</div>');
                        location.reload(true)
                       
                    } else {
                        // Handle error
                        $('#messageContainer').html('<div class="alert alert-danger">' + response.message + '</div>');
                    }
                },
                error: function(xhr, status, error) {
                    // Handle error response
                    console.error('Error:', error);
                }
            });
        });
    });
</script>

<!-- Bootstrap Modal for Deleting Service -->
{% for service in services %}
<div class="modal fade" id="deleteServiceModal{{ service.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteServiceModalLabel{{ service.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteServiceModalLabel{{ service.id }}">Delete Service</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the service "{{ service.name }}"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" onclick="deleteService('{{ service.id }}')">Delete</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<script>
    function deleteService(serviceId) {
        $.ajax({
            url: '{% url "kahamahmis:delete_service" %}',  // Update with your actual URL
            type: 'POST',
            data: {
                service_id: serviceId,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
                if (response.success) {
                            location.reload();
                } else {
                    // Handle error
                    console.error('Delete service error:', response.message);
                }
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
            }
        });
    }
</script>


{% include 'kahama_template/datatable.html' %}
    

{% endblock main_content %}
