{% extends 'kahama_template/base_template.html' %}

{% block title %}
In Stock Medicines
{% endblock title %}

{% block page_title %}
In Stock Medicinesines
{% endblock page_title %}

{% block breadcrumb %}
{% include "kahama_template/modal_form.html" %}
   
{% endblock breadcrumb %}
{% load static %}
{% block main_content %}


{% comment %} <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css"> {% endcomment %}

<div class="">
    <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm  display" id="example"  style="width:100%">
        <thead>
            <tr>
                <th>Medicine Name</th>
                <th>Original Stock Level</th>              
                <th>Remaining Quantity</th>              
                <th>When it last used</th>
                
            </tr>
        </thead>
        <tbody>
            {% for inventory in in_stock_medicines   %}
                <tr>
                    <td>{{ inventory.medicine.name }}</td>
                    <td>{{ inventory.quantity }}</td>   
                    <td>{{ inventory.remain_quantity }}</td>                
                    <td>{{ inventory.updated_at }}</td>
                    </tr>

            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function submitForm(checkbox) {
        checkbox.form.submit();
    }
</script>


{% include 'kahama_template/datatable.html' %}
{% endblock main_content %}
