<div class="table-responsive">
    <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="example">
        <thead>
            <tr>
                <th>Patient Type</th>
                <th>January</th>
                <th>February</th>
                <th>March</th>
                <th>April</th>
                <th>May</th>
                <th>June</th>
                <th>July</th>
                <th>August</th>
                <th>September</th>
                <th>October</th>
                <th>November</th>
                <th>December</th>
            </tr>
        </thead>
        <tbody>
            {% for patient_type, patient_counts in patient_type_reports.items %}
                <tr>
                    <td>{{ patient_type }}</td>
                    {% for count in patient_counts %}
                        <td>{{ count }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>     
    </table>
</div>

{% include 'kahama_template/datatable.html' %}   


