{% extends 'kahama_template/base_template.html' %}
{% load customfilter %}
{% block title %}
Prescription List
{% endblock title %}

{% block breadcrumb %}
{% include "kahama_template/modal_form.html" %}
Prescription List
{% endblock breadcrumb %}

{% load static %}
{% block main_content %}
<style>
    .total-payment {
        font-family: 'Roboto', sans-serif; /* Use a custom font */
        font-weight: bold;
        font-size: 24px;
        color: #2c3e50; /* Text color */
        background-color: #f1c40f; /* Background color */
        padding: 10px 20px; /* Padding around the text */
        border-radius: 10px; /* Rounded corners */
        border: 2px solid #e67e22; /* Border */
        display: inline-block; /* Display as inline block */
        margin-bottom: 20px; /* Bottom margin for spacing */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow */
        transition: background-color 0.3s ease; /* Smooth background color transition */
    }
    
    .total-payment:hover {
        background-color: #e67e22; /* Change background color on hover */
        color: #fff; /* Change text color on hover */
    }
    
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
               
                <div class="card-body">
                    <div class="row text-uppercase" style="font-size:13px;">
                        <div class="col-md-3">PATIENT: <b>{{ patient.first_name }} {{ patient.middle_name }}  {{ patient.last_name }}</b></div>
                        <div class="col-md-3">DOB: <b>{{ patient.dob|date:'Y-m-d' }} [ Age: {% if patient.dob %}
                            <script>
                                var dob = new Date("{{ patient.dob|date:'Y-m-d' }}");
                                var now = new Date();
                                var ageMilliseconds = now - dob;
                                var ageSeconds = ageMilliseconds / 1000;
                                var ageYears = Math.floor(ageSeconds / (365.25 * 24 * 60 * 60));
                                document.write(ageYears + ' years');
                            </script>
                            {% else %}
                            {{ patient.age }}
                            {% endif %}]</b></div>
                        <div class="col-md-3">SEX: <b>{{ patient.gender }}</b></div>
                        <div class="col-md-3">FILE NO : <b>{{ patient.mrn }}</b> </div>
                    </div>
                        <div class="row mt-3">
                            <div class="col-md-3">COMPANY: <b>{{ patient.company }}</b></div>
                            <div class="col-md-3">VISIT NUMBER: <b>{{ visit_number }}</b></div>
                            <div class="col-md-6">PRESCRIBED BY: <b>{{prescriber.role}} - {{ prescriber }}</b></div>
                        </div>
                </div>           
            
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
           <div class="card">
                <div class="card-header">
                    <h4 class="header-title text-center mt-0 mb-1 text-uppercase">  {{ patient.first_name }} Prescription</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm  display" id="example5"  style="width:100%">
                            <thead>
                                <tr>                                  
                                    <th>Drug</th>                                                      
                                    <th>Dose</th>
                                    <th>Frequency</th>
                                    <th>Duration</th>
                                    <th>Quantity</th>
                                    <th>Unit Price</th>
                                    <th>Total Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for prescription in prescriptions %}
                                <tr>                                                             
                                    <td>{{ prescription.medicine.drug_name }}</td>
                                    <td>{{ prescription.dose }}</td>                                                       
                                    <td>{{ prescription.frequency }}</td>
                                    <td>{{ prescription.duration }}</td>
                                    <td>{{ prescription.quantity_used }}</td>
                                    <td>{{ prescription.total_price|divide:prescription.quantity_used }}</td>
                                    <td>{{ prescription.total_price }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
           </div>
        </div>
    </div>   

     <!-- Action Buttons -->
<div class="row mt-3">
    <div class="col-md-12">
        <div class="">
           <div class="row">
            <div class="col-md-4">
                <!-- Verify Button -->
                {% if verification_status %}
                    {% if verification_status == 'verified' %}
                        <button class="btn btn-danger btn-block" onclick="toggleVerification('{{ visit_number }}', 'unverify')">Unverify</button>
                    {% else %}
                        <button class="btn btn-success btn-block" onclick="toggleVerification('{{ visit_number }}', 'verify')">Verify</button>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-md-4">
                {% if issued_status  and verification_status == 'verified' %}
                    {% if issued_status == 'issued' %}
                        <button class="btn btn-danger btn-block" onclick="toggleIssued('{{ visit_number }}', 'unissue')">Unissue</button>
                    {% else %}
                        <button class="btn btn-primary btn-block" onclick="toggleIssued('{{ visit_number }}', 'issue')">Issue</button>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-md-4">                
                {% if payment_status and verification_status == 'verified' and issued_status == 'issued' %}
                    {% if payment_status == 'Paid' %}
                        <button class="btn btn-danger btn-block" onclick="togglePayment('{{ visit_number }}', 'unpay')">Unpay</button>
                    {% else %}
                        <button class="btn btn-info btn-block" onclick="togglePayment('{{ visit_number }}', 'pay')">Pay</button>
                    {% endif %}
                {% endif %}
            </div>
            
           </div>           
         </div>
    </div>
</div>

</div>

<script>

// Function to toggle verification status
function toggleVerification(visitNumber, action) {
    var url = action === 'verify' ? '{% url "kahamahmis:verify_prescriptions" %}' : '{% url "kahamahmis:unverify_prescriptions" %}';
    
    // Perform AJAX request to toggle verification status
    $.ajax({
        url: url,
        type: 'POST',
        data: { visit_number: visitNumber },
        success: function(response) {
            // Handle success response
            alert('Prescriptions verification status updated successfully.');
            // Optionally, reload the page or update the UI
            location.reload(); // Reload the page to reflect changes
        },
        error: function(xhr, status, error) {
            // Handle error response
            console.error('Error toggling verification status:', error);
            alert('Error toggling verification status. Please try again.');
        }
    });
}

// Function to toggle issue status
function toggleIssued(visitNumber, action) {
    var url = action === 'issue' ? '{% url "kahamahmis:issue_prescriptions" %}' : '{% url "kahamahmis:unissue_prescriptions" %}';
    
    // Perform AJAX request to toggle issue status
    $.ajax({
        url: url,
        type: 'POST',
        data: { visit_number: visitNumber },
        success: function(response) {
            // Handle success response
            alert('Prescriptions issue status updated successfully.');
            // Optionally, reload the page or update the UI
            location.reload(); // Reload the page to reflect changes
        },
        error: function(xhr, status, error) {
            // Handle error response
            console.error('Error toggling issue status:', error);
            alert('Error toggling issue status. Please try again.');
        }
    });
}

// Function to toggle payment status
function togglePayment(visitNumber, action) {
    var url = action === 'pay' ? '{% url "kahamahmis:pay_prescriptions" %}' : '{% url "kahamahmis:unpay_prescriptions" %}';
    
    // Perform AJAX request to toggle payment status
    $.ajax({
        url: url,
        type: 'POST',
        data: { visit_number: visitNumber },
        success: function(response) {
            // Handle success response
            alert('Prescriptions payment status updated successfully.');
            // Optionally, reload the page or update the UI
            window.location.href = '{% url "kahamahmis:prescription_list" %}';
        },
        error: function(xhr, status, error) {
            // Handle error response
            console.error('Error toggling payment status:', error);
            alert('Error toggling payment status. Please try again.');
        }
    });
}



</script>

{% include 'hod_template/datatable.html' %}
{% endblock main_content %}
