{% extends 'kahama_template/base_template.html' %}
{% block title %}
all Procedure    
{% endblock title %}
{% block breadcrumb %}
{% include "kahama_template/modal_form.html" %}
{% endblock breadcrumb %}
{% block main_content %}
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="header-title text-center mt-0 mb-1 text-uppercase">All Procedures</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="example">
                            <thead>
                                <tr>
                                    <th>Procedure</th>
                                    <th>January</th>
                                    <th>February</th>
                                    <th>March</th>
                                    <th>April</th>
                                    <th>May</th>
                                    <th>June</th>
                                    <th>July</th>
                                    <th>August</th>
                                    <th>September</th>
                                    <th>October</th>
                                    <th>November</th>
                                    <th>December</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for procedure, counts in procedure_reports.items %}
                                <tr>
                                    <td>{{ procedure }}</td>
                                    {% for count in counts %}
                                    <td>{{ count }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>             
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
{% include 'kahama_template/datatable.html' %}    

{% endblock main_content %}
