{% extends 'kahama_template/base_template.html' %}
{% block title %}
Patient procedure   
{% endblock title %}

{% block page_title %}
Patient procedure 
{% endblock page_title %}

{% block breadcrumb %}
{% include "kahama_template/modal_form.html" %}

{% endblock breadcrumb %}
{% block main_content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-primary-600">
                    <h5 class="card-title text-center text-uppercase">Patient procedure </h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header bg-primary-600">
                                    <h5 class="card-title text-center text-uppercase">Procedure</h5>
                                </div>
                                <div class="card-body">
                                    <div class="card">
                                        <div class="card-header">
                                            <label for="chief_complaints">Patient Information</label>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <b>PATIENT:</b> {{ patient.first_name }} {{ patient.middle_name }} {{ patient.last_name }}
                                                </div>
                                                <div class="col-md-3">
                                                    <b>DOB:</b> {{ patient.dob|date:'Y-m-d' }} [ Age: {% if patient.dob %}
                                                    <script>
                                                        var dob = new Date("{{ patient.dob|date:'Y-m-d' }}");
                                                        var now = new Date();
                                                        var ageMilliseconds = now - dob;
                                                        var ageSeconds = ageMilliseconds / 1000;
                                                        var ageYears = Math.floor(ageSeconds / (365.25 * 24 * 60 * 60));
                                                        document.write(ageYears + ' years');
                                                    </script>
                                                    {% else %}
                                                    {{ patient.age }}
                                                    {% endif %}]
                                                </div>
                                                <div class="col-md-3">
                                                    <b>SEX:</b> {{ patient.gender }}
                                                </div>
                                                <div class="col-md-3">
                                                    <b>FILE NO:</b> {{ patient.mrn }}
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <b>Company:</b> {{ patient.company }}
                                                </div>
                                                <div class="col-md-3">
                                                    <b>Visit Number:</b> {{ visit.vst }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />                   
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title text-center">Remote Procedure</h5>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{% url 'kahamahmis:save_remoteprocedure' patient.id visit.id %}">
                            {% csrf_token %}                         
                            <div class="form-group row">
                                <label for="name" class="col-md-4 col-form-label">Name</label>
                                <div class="col-md-12">
                                    <select id="name"  class="form-control select2bs4" style="width: 100%;" name="name">
                                        {% for procedure in procedures %}
                                            <option value="{{ procedure.id }}" {% if procedure.id == existing_procedure.name %} selected {% endif %}>{{ procedure.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>                            
                            <div class="form-group row">
                                <label for="description" class="col-md-4 col-form-label">Description</label>
                                <div class="col-md-12">
                                    <textarea id="description" class="form-control" name="description" rows="3">{{ existing_procedure.description }}</textarea>
                                </div>
                            </div>
    
                            <div class="form-group row">
                                <label for="cost" class="col-md-4 col-form-label">Cost</label>
                                <div class="col-md-12">
                                    <input type="number" id="cost" class="form-control" name="cost" step="0.01" value="{{ existing_procedure.cost }}">
                                </div>
                            </div>
    
                            <div class="form-group row mb-0">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary btn-block">Save to proceed</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        {% if messages %}
                        <div class="row">
                            <div class="col-12">
                                {% for message in messages %}
                                {% if message.tags == 'error' %}
                                <div class="alert alert-danger">{{ message }}</div>
                                {% elif message.tags == 'success' %}
                                <div class="alert alert-primary">{{ message }}</div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'kahama_template/datatable.html' %}    

{% endblock main_content %}
