<div class="table-responsive">
    <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="example">
        <thead>
            <tr>
                <th>NURSING PROCEDURES</th>
                <th>January</th>
                <th>February</th>
                <th>March</th>
                <th>April</th>
                <th>May</th>
                <th>June</th>
                <th>July</th>
                <th>August</th>
                <th>September</th>
                <th>October</th>
                <th>November</th>
                <th>December</th>
            </tr>
        </thead>
        <tbody>
            {% for procedure, counts in procedure_reports.items %}
            <tr>
                <td>{{ procedure }}</td>
                {% for count in counts %}
                <td>{{ count }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>             
    </table>
</div>
{% include 'kahama_template/datatable.html' %}    

