{% extends 'kahama_template/base_template.html' %}

{% block title %}
   All Referral
{% endblock title %}
{% block breadcrumb %}
{% include "kahama_template/modal_form.html" %}
{% endblock breadcrumb %}
{% load static %}
{% block main_content %}

<div class="row">
    <div class="col-md">
        <div class="card">
            <div class="card-header">
                <h6  class="header-title text-center mt-0 mb-1  text-uppercase">   List of all referral </h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm  display" id="example"  style="width:100%">
                        <thead>
                            <tr>
                              <th>Date</th>
                              <th>Patient</th>
                              <th>Age</th>
                              <th>Sex</th>
                              <th>Nationality</th>
                              <th>Company</th>
                              <th>Patient Category</th>
                              <th>Med Evac</th>
                              <th>Transport Mode</th>
                              <th>Destination</th>
                              <th>Diagnosis</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for referral in referrals %}
                            <tr>
                              <td>{{ referral.created_at }}</td>
                              <td>{{ referral.patient.first_name }} {{ referral.patient.last_name }}</td>
                              <td>
                                 {% if referral.patient.dob %}
                                    <script>
                                        var dob = new Date("{{ referral.patient.dob|date:'Y-m-d' }}");
                                        var now = new Date();
                                        var ageMilliseconds = now - dob;
                                        var ageSeconds = ageMilliseconds / 1000;
                                        var ageYears = Math.floor(ageSeconds / (365.25 * 24 * 60 * 60));
                                        document.write(ageYears + ' years');
                                    </script>
                                {% else %}
                                {{ referral.patient.age }}
                                {% endif %}
                            
                              </td>
                              <td>{{ referral.patient.gender }}</td>
                              <td>{{ referral.patient.nationality }}</td>
                              <td>{{ referral.patient.company }}</td>
                              <td>{{ referral.patient.patient_type }}</td>
                              <td>{{ referral.notes|safe }}</td>
                              <td>{{ referral.transport_mode }}</td>
                              <td>{{ referral.destination_location }}</td>
                              <td>
                                {% for diagnosis_record in referral.patient.remotepatientdiagnosisrecord_set.all %}
                                    <ul>
                                        {% for diagnosis in diagnosis_record.final_diagnosis.all %}
                                        <li class="list-group-item">{{ diagnosis.diagnosis_name }}{% if not forloop.last %}, {% endif %}</li>
                                    {% endfor %}
                                       
                                    </ul>                                  
                                {% endfor %}                               
                            </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'kahama_template/datatable.html' %}
{% endblock main_content %}
