{% extends 'kahama_template/base_template.html' %}

{% block title %}
   All Drugs
{% endblock title %}
{% block breadcrumb %}
{% include "kahama_template/modal_form.html" %}
<a class="btn btn-primary float-right" type="button" data-toggle="modal" data-target="#addDrugModal">
    <i class="fas fa-plus"></i> New Drug
</a>

<!-- Add Import Staff link and modal trigger -->
<a class="btn btn-success float-right mr-2" href="{% url 'kahamahmis:import_medicine_drug_records' %}">
    <i class="fas fa-file-import"></i> Import Drugs
</a>

{% endblock breadcrumb %}
{% load static %}
{% block main_content %}       

<div class="container-fluid">
    <div class="row">
        <div class="col-md">
            <div class="card">
                <div class="card-header">
                    <h6  class="header-title text-center mt-0 mb-1  text-uppercase">   List of all Drugs </h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm  display" id="example"  style="width:100%">
                            <thead>
                                <tr>
                                    <th>Drug Name</th>
                                    <th>Drug Type</th>
                                    <th>Formulation Unit</th>
                                    <th>Manufacturer</th>
                                    <th>Remain Quantity</th>
                                    <th>Quantity</th>
                                    <th>Dividable</th>
                                    <th>Batch Number</th>
                                    <th>Expiration Date</th>
                                    <th>Unit Cost</th>
                                    <th>Buying Price</th>
                                    <th>Total buying Price</th>
                                    <th>Created At</th>
                                    <th>Updated At</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody >
                                {% for medicine in medicines %}
                                <tr>
                                    <td>{{ medicine.drug_name }}</td>
                                    <td>{{ medicine.drug_type }}</td>
                                    <td>{{ medicine.formulation_unit }}</td>
                                    <td>{{ medicine.manufacturer }}</td>
                                    <td>{{ medicine.remain_quantity }}</td>
                                    <td>{{ medicine.quantity }}</td>
                                    <td>{{ medicine.dividable }}</td>
                                    <td>{{ medicine.batch_number }}</td>
                                    <td>{{ medicine.expiration_date }}</td>
                                    <td>{{ medicine.unit_cost }}</td>
                                    <td>{{ medicine.buying_price }}</td>
                                    <td>{{ medicine.total_buying_price }}</td>
                                    <td>{{ medicine.created_at }}</td>
                                    <td>{{ medicine.updated_at }}</td>          
                                     <td class="text-center">
                                        <button  class="btn btn-success btn-sm" data-toggle="modal" data-target="#editDrugModal{{ medicine.id }}"  data-toggle="tooltip" title="View">
                                            <i class="fa fa-eye text-dark"></i>
                                        </button>                                      
                                        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteDrugModal{{ medicine.id }}"  data-toggle="tooltip" title="Delete">
                                            <i class="fas fa-trash"></i>
                                        </button>                                                                  
                                       </td>                                 
                                  
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap Modal -->
<div class="modal fade" id="addDrugModal" tabindex="-1" role="dialog" aria-labelledby="addDrugModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addDrugModalLabel">Add Remote Medicine</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Bootstrap Card -->
                <div class="card">
                    <form id="addDrugForm" method="post">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="drug_name">Drug Name</label>
                                        <input type="text" class="form-control" id="drug_name" name="drug_name">
                                        <input type="hidden" class="form-control" id="drug_id" name="drug_id" value="">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="drug_type">Drug Type</label>
                                        <select class="form-control select2bs4"  style="width: 100%;" id="drug_type" name="drug_type">
                                            <option value="Tablet">Tablet</option>
                                            <option value="Capsule">Capsule</option>
                                            <option value="Syrup">Syrup</option>
                                            <option value="Injection">Injection</option>
                                            <option value="Ointment">Ointment</option>
                                            <option value="Drops">Drops</option>
                                            <option value="Inhaler">Inhaler</option>
                                            <option value="Patch">Patch</option>
                                            <option value="Liquid">Liquid</option>
                                            <option value="Cream">Cream</option>
                                            <option value="Gel">Gel</option>
                                            <option value="Suppository">Suppository</option>
                                            <option value="Powder">Powder</option>
                                            <option value="Lotion">Lotion</option>
                                            <option value="Suspension">Suspension</option>
                                            <option value="Lozenge">Lozenge</option>
                                        </select>
                                    </div>
                                </div>                                
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="formulation_unit">Formulation Unit</label>
                                        <input type="text" class="form-control" id="formulation_unit" name="formulation_unit">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="manufacturer">Manufacturer</label>
                                        <input type="text" class="form-control" id="manufacturer" name="manufacturer">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="quantity">Quantity</label>
                                        <input type="number" class="form-control" id="quantity" name="quantity">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="batch_number">Batch Number</label>
                                        <input type="text" class="form-control" id="batch_number" name="batch_number">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="dividable">Dividable</label>
                                        <select class="form-control select2bs4"  style="width: 100%;" id="dividable" name="dividable">
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                    </div>
                                </div>                                
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="expiration_date">Expiration Date</label>
                                        <input type="date" class="form-control" id="expiration_date" name="expiration_date">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="unit_cost">Unit Cost</label>
                                        <input type="number" class="form-control" id="unit_cost" name="unit_cost">
                                    </div>
                                </div>
                            </div>
                            <div class="row">                               
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="buying_price">Buying Price</label>
                                        <input type="number" class="form-control" id="buying_price" name="buying_price">
                                    </div>
                                </div>
                                <!-- Add other form fields in a similar manner -->
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="responseMessage">

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary btn-block">Save and continue</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

  <script>
    $(document).ready(function() {
      // Function to handle form submission
      $('#addDrugModal').on('shown.bs.modal', function () {
        $('#addDrugForm').on('submit', function(e) {
          e.preventDefault(); // Prevent default form submission
  
          // Serialize form data
          var formData = $(this).serialize();
  
          // Send POST request to server
          $.ajax({
            type: "POST",
            url: "{% url "kahamahmis:add_remote_medicine" %}", // Replace with your server endpoint
            data: formData,
            success: function(response) {
              // Display success message if response is true
              if (response.success) {
                $('#responseMessage').html('<div class="alert alert-success" role="alert">Success: ' + response.message + '</div>');
                    location.reload(true);
              } else {
                // Display error message if response is false
                $('#responseMessage').html('<div class="alert alert-danger" role="alert">Error: ' + response.message + '</div>');
              }
            },
            error: function(xhr, status, error) {
              // Display error message if request fails
              $('#responseMessage').html('<div class="alert alert-danger" role="alert">Error: ' + error + '</div>');
            }
          });
        });
      });
  
      // Clear response message when modal is closed
      $('#addDrugModal').on('hidden.bs.modal', function () {
        $('#responseMessage').empty();
      });
    });
  </script>

  {% for medicine in medicines %}
    <!-- Bootstrap Modal -->
<div class="modal fade" id="editDrugModal{{ medicine.id }}" tabindex="-1" role="dialog" aria-labelledby="editDrugModalLabel{{ medicine.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editDrugModalLabel{{ medicine.id }}">Edit Remote Medicine</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Bootstrap Card -->
                <div class="card">
                    <form id="editDrugForm{{ medicine.id }}" method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="drug_name">Drug Name</label>
                                        <input type="text" class="form-control" id="drug_name" name="drug_name" value="{{ medicine.drug_name }}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="drug_type{{ medicine.id }}">Drug Type</label>
                                        <select class="form-control select2bs4"  style="width: 100%;" id="drug_type{{ medicine.id }}" name="drug_type">
                                            <option value="Tablet" {% if medicine.drug_type == 'Tablet' %} selected {% endif %}>Tablet</option>
                                            <option value="Capsule" {% if medicine.drug_type == 'Capsule' %} selected {% endif %}>Capsule</option>
                                            <option value="Syrup" {% if medicine.drug_type == 'Syrup' %} selected {% endif %}>Syrup</option>
                                            <option value="Injection" {% if medicine.drug_type == 'Injection' %} selected {% endif %}>Injection</option>
                                            <option value="Ointment" {% if medicine.drug_type == 'Ointment' %} selected {% endif %}>Ointment</option>
                                            <option value="Drops" {% if medicine.drug_type == 'Drops' %} selected {% endif %}>Drops</option>
                                            <option value="Inhaler" {% if medicine.drug_type == 'Inhaler' %} selected {% endif %}>Inhaler</option>
                                            <option value="Patch" {% if medicine.drug_type == 'Patch' %} selected {% endif %}>Patch</option>
                                            <option value="Liquid" {% if medicine.drug_type == 'Liquid' %} selected {% endif %}>Liquid</option>
                                            <option value="Cream" {% if medicine.drug_type == 'Cream' %} selected {% endif %}>Cream</option>
                                            <option value="Gel" {% if medicine.drug_type == 'Gel' %} selected {% endif %}>Gel</option>
                                            <option value="Suppository" {% if medicine.drug_type == 'Suppository' %} selected {% endif %}>Suppository</option>
                                            <option value="Powder" {% if medicine.drug_type == 'Powder' %} selected {% endif %}>Powder</option>
                                            <option value="Lotion" {% if medicine.drug_type == 'Lotion' %} selected {% endif %}>Lotion</option>
                                            <option value="Suspension" {% if medicine.drug_type == 'Suspension' %} selected {% endif %}>Suspension</option>
                                            <option value="Lozenge" {% if medicine.drug_type == 'Lozenge' %} selected {% endif %}>Lozenge</option>
                                        </select>
                                    </div>
                                </div>                                
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="formulation_unit">Formulation Unit</label>
                                        <input type="text" class="form-control" id="formulation_unit" name="formulation_unit" value="{{ medicine.formulation_unit }}">
                                        <input type="hidden" class="form-control" id="drug_id" name="drug_id" value="{{ medicine.id }}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="manufacturer">Manufacturer</label>
                                        <input type="text" class="form-control" id="manufacturer" name="manufacturer" value="{{ medicine.manufacturer }}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="quantity">Quantity</label>
                                        <input type="number" class="form-control" id="quantity" name="quantity" value="{{ medicine.quantity }}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="batch_number">Batch Number</label>
                                        <input type="text" class="form-control" id="batch_number" name="batch_number" value="{{ medicine.batch_number }}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="dividable{{ medicine.id }}">Dividable</label>
                                        <select class="form-control select2bs4"  style="width: 100%;" id="dividable{{ medicine.id }}" name="dividable">
                                            <option value="true" {% if medicine.dividable == 'true' %} selected {% endif %}>Yes</option>
                                            <option value="false" {% if medicine.dividable == 'false' %} selected {% endif %}>No</option>
                                        </select>
                                    </div>
                                </div>                               
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="expiration_date">Expiration Date</label>
                                        <input type="date" class="form-control" id="expiration_date" name="expiration_date" value="{{ medicine.expiration_date|date:'Y-m-d' }}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="unit_cost">Unit Cost</label>
                                        <input type="number" class="form-control" id="unit_cost" name="unit_cost" value="{{ medicine.unit_cost }}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">                               
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="buying_price">Buying Price</label>
                                        <input type="number" class="form-control" id="buying_price" name="buying_price" value="{{ medicine.buying_price }}">
                                    </div>
                                </div>
                                <!-- Add other form fields in similar manner -->
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                   <div id="successMessage"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary btn-block">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
  {% endfor %}
  <!-- JavaScript/jQuery -->
  <script>
    $(document).ready(function() {
        $('form[id^="editDrugForm"]').on('submit', function(e) {
            e.preventDefault();
            var form = $(this);
            var medicineId = form.attr('id').replace('editDrugForm', ''); // Extract medicine ID from form ID
            var formData = form.serialize();

            $.ajax({
                url: "{% url 'kahamahmis:add_remote_medicine' %}",
                method: 'POST',
                data: formData,
                success: function(response) {
                    if (response.success) {
                        // Display success message to user
                        $('#successMessage' + medicineId).text(response.message).show();
                        location.reload(true)
                    } else {
                        // Display error message to user
                        $('#errorMessage' + medicineId).text(response.message).show();
                    }
                },
                error: function(xhr, status, error) {
                    // Handle AJAX errors
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>


    {% for medicine in medicines %}
    <!-- Bootstrap Modal for Delete -->
    <div class="modal fade" id="deleteDrugModal{{ medicine.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteDrugModalLabel{{ medicine.id }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteDrugModalLabel{{ medicine.id }}">Delete Drug</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this drug?</p>
                    <input type="hidden" id="deleteDrugId{{ medicine.id }}" value="{{ medicine.id }}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" onclick="confirmDelete({{ medicine.id }})">Delete</button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<script>
    function confirmDelete(medicineId) {
        // Send AJAX request to delete the drug
        $.ajax({
            url: '{% url "kahamahmis:delete_drug" %}',
            type: 'POST',
            data: {
                'medicine_id': medicineId,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                if (response.success) {
                    // Display success message
                    $('#deleteSuccessMessage').text(response.message);
                    $('#deleteSuccessModal').modal('show');
                    location.reload(true);
                } else {
                    // Display error message
                    $('#deleteErrorMessage').text(response.message);
                    $('#deleteErrorModal').modal('show');
                }
            },
            error: function(xhr, errmsg, err) {
                // Handle error
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
    }
</script>

{% include 'kahama_template/datatable.html' %}
{% endblock main_content %}
