{% extends 'kahama_template/base_template.html' %}
{% block title %}
all patients    
{% endblock title %}

{% block page_title %}
Patients Details Reports   
{% endblock page_title %}

{% block breadcrumb %}

   
{% endblock breadcrumb %}
{% block main_content %}


    <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="example">
        <thead>
            <tr>              
                <th>Patient number</th>
                <th>Patient Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Mobile</th>
                <th>Company</th>             
                <th>Payment Mode</th>
              
             
            </tr>
        </thead>
        <tbody>
                      
        {% for patient in patients %}
                <tr>
                <td>{{ patient.mrn }}</td>
                <td>{{ patient.first_name }} {{ patient.middle_name }}  {{ patient.last_name }}</td>                
                <td>{{ patient.gender }}</td>
                <td>{{ patient.age }}</td>
                <td>{{ patient.phone }}</td>
                <td>{{ patient.company }}</td>               
                         
                <td>{{ patient.insurance }}</td> 
                </tr>                
            {% endfor %}
          
            <!-- ... add more rows as needed -->
        </tbody>
    </table>
</div>

   

    <script>
        function submitForm(checkbox) {
            checkbox.form.submit();
        }
    </script>

{% include 'kahama_template/datatable.html' %}
    

{% endblock main_content %}
