{% extends 'kahama_template/base_template.html' %}
{% block title %}
Visits Reports    
{% endblock title %}
{% block breadcrumb %}   
{% endblock breadcrumb %}
{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6  class="header-title text-center mt-0 mb-1  text-uppercase">Visits Reports </h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="example">
                            <thead>
                                <tr>
                                    <th>Patient Number</th>
                                    <th>Visit number</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Day</th>
                                    <th>Full Name</th>
                                    <th>Age</th>
                                    <th>Gender</th>           
                                    <th>Company</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for visit in visits %}
                                <tr>
                                    <td>{{ visit.patient.mrn }}</td>
                                    <td>{{ visit.vst }}</td>
                                    <td>{{ visit.created_at|date:"Y-m-d" }}</td>
                                    <td>{{ visit.created_at|time:"H:i:s" }}</td>
                                    <td>{{ visit.created_at|date:"l" }}</td>
                                    <td>{{ visit.patient.first_name }} {{ visit.patient.middle_name }} {{ visit.patient.last_name }}</td>
                                    <td>{{ visit.patient.age }}</td>
                                    <td>{{ visit.patient.gender }}</td>          
                                    <td>{{ visit.patient.company }}</td>
                                </tr>
                                {% endfor %}
                            </tbody> 
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
{% include 'kahama_template/datatable.html' %}  

{% endblock main_content %}
