{% extends 'kahama_template/base_template.html' %}
{% block title %}
Visits Reports    
{% endblock title %}

{% block page_title %}
Patient Visits Reports 
{% endblock page_title %}

{% block breadcrumb %}

   
{% endblock breadcrumb %}
{% block main_content %}


<table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="example">
    <thead>
        <tr>
            <th>Patient Number</th>
            <th>Visit number</th>
            <th>Date</th>
            <th>Time</th>
            <th>Day</th>
            <th>Full Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>SPO2</th>
            <th>Temperature</th>
            <th>Pulse Rate</th>
            <th>Respiratory Rate</th>
            <th>blood pressure</th>        
            <th>gcs</th>
            <th>avpu</th>
            <th>Chief Complaints</th>
            <th>History of Presenting Illness</th>
            <th>Allergy to Medications</th>
            <th>Provisional Diagnosis</th>
            <th>Final Diagnosis</th>
            <th>Doctor Plan</th>
            <th>Company</th>
        </tr>
    </thead>

    <tbody>
        {% for visit in visits %}
        <tr>
            <td>{{ visit.patient.mrn }}</td>
            <td>{{ visit.vst }}</td>
            <td>{{ visit.created_at|date:"Y-m-d" }}</td>
            <td>{{ visit.created_at|time:"H:i:s" }}</td>
            <td>{{ visit.created_at|date:"l" }}</td>
            <td>{{ visit.patient.first_name }} {{ visit.patient.middle_name }} {{ visit.patient.last_name }}</td>
            <td>{{ visit.patient.age }}</td>
            <td>{{ visit.patient.gender }}</td>
            <td>{{ visit.remotepatientvital.spo2 }}</td>
            <td>{{ visit.remotepatientvital.temperature }}</td>
            <td>{{ visit.remotepatientvital.pulse_rate }}</td>
            <td>{{ visit.remotepatientvital.respiratory_rate }}</td>
            <td>{{ visit.remotepatientvital.blood_pressure }}</td>
            <td>{{ visit.remotepatientvital.gcs }}</td>
            <td>{{ visit.remotepatientvital.avpu }}</td>
            <td>{{ visit.remoteconsultationnotes.chief_complaints }}</td>
            <td>{{ visit.remoteconsultationnotes.history_of_presenting_illness }}</td>
            <td>{{ visit.remoteconsultationnotes.allergy_to_medications }}</td>
            <td>
                {% for diagnosis in visit.remoteconsultationnotes.provisional_diagnosis.all %}
                    {{ diagnosis.diagnosis_name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for diagnosis in visit.remoteconsultationnotes.final_diagnosis.all %}
                    {{ diagnosis.diagnosis_name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>{{ visit.remoteconsultationnotes.doctor_plan }}</td>
            <td>{{ visit.patient.company }}</td>
        </tr>
        {% endfor %}
    </tbody> 
</table>


   

    <script>
        function submitForm(checkbox) {
            checkbox.form.submit();
        }
    </script>

{% include 'kahama_template/datatable.html' %}
    

{% endblock main_content %}
