{% extends 'kahama_template/base_template.html' %}
{% block title %}
{{ patient.first_name }} {{ patient.middle_name }}  {{ patient.last_name }} Visits Reports    
{% endblock title %}
{% block breadcrumb %}
{% endblock breadcrumb %}
{% block main_content %}
    <style>
        .patient-info-container {
            background-color: #f0f0f0;
            padding: 15px;
            border-radius: 10px;
            margin-bottom: 20px;
        }
        
        .patient-details {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        
        .company-name {
            font-size: 16px;
            margin-bottom: 0;
        }
        
        .company-name span {
            color: #3498db; /* Blue color for emphasis */
        }
        
        .add-visit-btn {
            background-color: #2ecc71; /* Green button color */
            border: none;
        }
        
        .add-visit-btn:hover {
            background-color: #27ae60; /* Darker green on hover */
        }
        
    </style>
    {% include "kahama_template/modal_form.html" %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card"> 
                <div class="card-header">
                    <label for="">patient information </label>
                </div>              
                <div class="card-body">
                    <div class="row" style="font-size:13px;">
                        <div class="col-md-3"><b>PATIENT: {{ patient.first_name }} {{ patient.middle_name }}  {{ patient.last_name }}</b></div>
                        <div class="col-md-3"><b>Age: {{ patient.age }}</b></div>
                        <div class="col-md-3"><b>SEX: {{ patient.gender }}</b></div>
                        <div class="col-md-3"><b>FILE NO : {{ patient.mrn }}</b> </div>
                    </div>                       
                </div>          
             </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6  class="header-title text-center mt-0 mb-1  text-uppercase"> Patient Visits Reports  </h6>
                </div>
                <div class="card-body">
                    
            <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="example">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Visit No</th>
                        <th scope="col">Visit Date</th>
                        <th scope="col">Visit Time</th>
                        <th scope="col">Center</th>                              
                    </tr>
                </thead>
                <tbody>
                    {% for visit in patient_visits %}
                        <tr>
                            <td>{{ visit.vst }}</td>
                            <td>{{ visit.created_at|date:"m/d/Y" }}</td>
                            <td>{{ visit.created_at|time:"H:i" }}</td>
                            <td>{{ visit.primary_service }}</td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
                </div>
            </div>
        </div>
    </div>  
</div>    
{% include 'kahama_template/datatable.html' %}  
{% endblock main_content %}
