{% extends 'kahama_template/base_template.html' %}

{% block title %}
   All patient
{% endblock title %}
{% block breadcrumb %}
{% include "kahama_template/modal_form.html" %}
{% endblock breadcrumb %}
{% load static %}
{% block main_content %}
        
   

{% comment %} 
<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="card">
                <div class="card-header">
                    <h3  class="header-title text-center mt-0 mb-1  text-uppercase">   List of all patients </h3>
                </div>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div>
</div> 
{% endcomment %}
<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="card">
                <div class="card-header">
                    <h6  class="header-title text-center mt-0 mb-1  text-uppercase">   List of all patients </h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm  display" id="example"  style="width:100%">
                            <thead>
                                <tr>
                                    <th>MRN</th>
                                    <th>Name</th>           
                                    <th>Gender</th>
                                    <th>Age</th>
                                    <th>Company</th>
                                    <th>Phone</th>
                                    <th>Created At</th>              
                                    <th>Patient Type</th>               
                             
                                </tr>
                            </thead>
                            <tbody id="student-table-body">
                                {% for patient in patients %}
                                <tr>
                                    <td>{{ patient.mrn }}</td>
                                    <td>{{ patient.first_name }} {{ patient.middle_name }}  {{ patient.last_name }}</td>                
                                    <td>{{ patient.gender }}</td>
                                    <td>{{ patient.age }}</td>
                                    <td>{{ patient.company }}</td>
                                    <td>{{ patient.phone }}</td>
                                    <td>{{ patient.created_at }}</td>              
                                    <td>{{ patient.patient_type }}</td>             
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'kahama_template/datatable.html' %}
{% endblock main_content %}
