{% extends 'kahama_template/base_template.html' %}
{% block title %}
Visits Reports    
{% endblock title %}
{% block breadcrumb %}   
{% endblock breadcrumb %}
{% block main_content %}

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="card">
                <div class="card-header">
                    <h6  class="header-title text-center mt-0 mb-1  text-uppercase"> Patient Visits Reports   </h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="example">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Patient number</th>
                                    <th>Patient Name</th>
                                    <th>Gender</th>
                                    <th>Age</th>                                
                                    <th>Company</th>
                                    <th>Total Visit</th>                               
                                    <th>Action</th>                               
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in patients_with_visit_counts %}
                                <tr>
                                    <td>{{ item.patient.mrn }}</td>
                                    <td>{{ item.patient.first_name }} {{ item.patient.middle_name }}  {{ item.patient.last_name }}</td>                
                                    <td>{{ item.patient.gender }}</td>
                                    <td>{{ item.patient.age }}</td>
                                    <td>{{ item.patient.company }}</td>  
                                    <td>{{ item.total_visits }}</td>
                                    <td><a href="{% url "kahamahmis:individual_visit" item.patient.id %}"   data-toggle="tooltip" title="View">
                                        <button type="button" class="btn btn-light border btn-sm"  ><i class="fa fa-eye text-dark"></i></button>
                                    </a></td>
                                </tr>                
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'kahama_template/datatable.html' %}   

{% endblock main_content %}
