{% extends 'kahama_template/base_template.html' %}
{% block title %}
Visits Reports    
{% endblock title %}

{% block page_title %}
Patient Visits Reports  
{% endblock page_title %}

{% block breadcrumb %}

{% endblock breadcrumb %}
{% block main_content %}
    <style>
        .patient-info-container {
            background-color: #f0f0f0;
            padding: 15px;
            border-radius: 10px;
            margin-bottom: 20px;
        }
        
        .patient-details {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        
        .company-name {
            font-size: 16px;
            margin-bottom: 0;
        }
        
        .company-name span {
            color: #3498db; /* Blue color for emphasis */
        }
        
        .add-visit-btn {
            background-color: #2ecc71; /* Green button color */
            border: none;
        }
        
        .add-visit-btn:hover {
            background-color: #27ae60; /* Darker green on hover */
        }
        
    </style>
    {% include "kahama_template/modal_form.html" %}
        <div class="card">
            <div class="card-body">
                <div class="row patient-info-container">
                    <div class="col-md-8 patient-info">
                        <p class="patient-details">PATIENT: MOSHI ARON | AGE: 33 | SEX: Male | FILE NO: PAT-00104</p>
                        <p class="company-name">COMPANY: <span>No Company Information</span></p>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary add-visit-btn float-right"  data-toggle="modal" data-target="#visitModal">ADD VISIT</button>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="example">
                            <thead class="thead-dark">
                                <tr>
                                  <th scope="col">Visit No</th>
                                  <th scope="col">Visit Date</th>
                                  <th scope="col">Visit Time</th>
                                  <th scope="col">Center</th>
                                  <th scope="col">Actions</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>VST-01853</td>
                                  <td>7/12/2023</td>
                                  <td>16:12</td>
                                  <td>DIVINE HEART EMS</td>
                                  <td>
                                    <a href="#" class="text-primary">HEALTH RECORDS</a>
                                    <a href="#" class="text-danger">DELETE</a>
                                  </td>
                                </tr>
                                <tr>
                                  <td>VST-01556</td>
                                  <td>27/10/2023</td>
                                  <td>12:05</td>
                                  <td>DIVINE HEART EMS</td>
                                  <td>
                                    <a href="#" class="text-primary">HEALTH RECORDS</a>
                                    <a href="#" class="text-danger">DELETE</a>
                                  </td>
                                </tr>
                                <tr>
                                  <td>VST-01519</td>
                                  <td>23/10/2023</td>
                                  <td>11:37</td>
                                  <td>DIVINE HEART EMS</td>
                                  <td>
                                    <a href="#" class="text-primary">HEALTH RECORDS</a>
                                    <a href="#" class="text-danger">DELETE</a>
                                  </td>
                                </tr>
                                <tr>
                                    <td>VST-01853</td>
                                    <td>7/12/2023</td>
                                    <td>16:12</td>
                                    <td>DIVINE HEART EMS</td>
                                    <td>
                                      <a href="#" class="text-primary">HEALTH RECORDS</a>
                                      <a href="#" class="text-danger">DELETE</a>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>VST-01556</td>
                                    <td>27/10/2023</td>
                                    <td>12:05</td>
                                    <td>DIVINE HEART EMS</td>
                                    <td>
                                      <a href="#" class="text-primary">HEALTH RECORDS</a>
                                      <a href="#" class="text-danger">DELETE</a>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>VST-01519</td>
                                    <td>23/10/2023</td>
                                    <td>11:37</td>
                                    <td>DIVINE HEART EMS</td>
                                    <td>
                                      <a href="#" class="text-primary">HEALTH RECORDS</a>
                                      <a href="#" class="text-danger">DELETE</a>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>VST-01336</td>
                                    <td>23/9/2023</td>
                                    <td>12:03</td>
                                    <td>DIVINE HEART EMS</td>
                                    <td>
                                      <a href="#" class="text-primary">HEALTH RECORDS</a>
                                      <a href="#" class="text-danger">DELETE</a>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>VST-01276</td>
                                    <td>10/9/2023</td>
                                    <td>08:18</td>
                                    <td>DIVINE HEART EMS</td>
                                    <td>
                                      <a href="#" class="text-primary">HEALTH RECORDS</a>
                                      <a href="#" class="text-danger">DELETE</a>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>VST-01231</td>
                                    <td>2/9/2023</td>
                                    <td>16:00</td>
                                    <td>DIVINE HEART EMS</td>
                                    <td>
                                      <a href="#" class="text-primary">HEALTH RECORDS</a>
                                      <a href="#" class="text-danger">DELETE</a>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>VST-01172</td>
                                    <td>23/8/2023</td>
                                    <td>14:10</td>
                                    <td>DIVINE HEART EMS</td>
                                    <td>
                                      <a href="#" class="text-primary">HEALTH RECORDS</a>
                                      <a href="#" class="text-danger">DELETE</a>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>VST-01164</td>
                                    <td>22/8/2023</td>
                                    <td>11:32</td>
                                    <td>DIVINE HEART EMS</td>
                                    <td>
                                      <a href="#" class="text-primary">HEALTH RECORDS</a>
                                      <a href="#" class="text-danger">DELETE</a>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>VST-00993</td>
                                    <td>31/7/2023</td>
                                    <td>15:19</td>
                                    <td>DIVINE HEART EMS</td>
                                    <td>
                                      <a href="#" class="text-primary">HEALTH RECORDS</a>
                                      <a href="#" class="text-danger">DELETE</a>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>VST-00918</td>
                                    <td>20/6/2023</td>
                                    <td>11:54</td>
                                    <td>DIVINE HEART EMS</td>
                                    <td>
                                      <a href="#" class="text-primary">HEALTH RECORDS</a>
                                      <a href="#" class="text-danger">DELETE</a>
                                    </td>
                                  </tr>
                                <!-- Add more rows for the provided data -->
                                <!-- ... (repeat this block for the remaining rows) ... -->
                              </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

   
</div>

   

    <script>
        function submitForm(checkbox) {
            checkbox.form.submit();
        }
    </script>

{% include 'kahama_template/datatable.html' %}
    

{% endblock main_content %}
