{% extends 'kahama_template/base_template.html' %}
{% block title %}
patients  reports  
{% endblock title %}
{% block breadcrumb %}
{% include "kahama_template/modal_form.html" %}
{% endblock breadcrumb %}
{% block main_content %}
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">                             
                                <form id="reports_form" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="report_type">Report Type:</label>
                                                <select class="form-control select2bs4" name="report_type" id="report_type">
                                                    <option value="patient_type_reports">Patient Type Report</option>
                                                    <option value="patient_company_wise_reports">Consult. Per Status Report</option>
                                                    <option value="patient_lab_result_reports">Laboratory Tests Report</option>
                                                    <option value="patient_procedure_reports">Nursing Procedure Report</option>
                                                    <option value="patient_referral_reports">Referral & MedEvac Report</option>
                                                    <option value="patient_pathology_reports">Consult. Per Pathology</option>
                                                    <!-- Add more options for other report types here -->
                                                </select>
                                            </div>                                      
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="year">Year:</label>
                                                <select class="form-control select2bs4" id="year" name="year">
                                                    {% for year in year_range %}
                                                        <option value="{{ year }}">{{ year }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>&nbsp;</label>
                                                <button type="submit" class="btn btn-primary btn-block">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h6 id="report_heading" class="header-title text-center mt-0 mb-1  text-uppercase"></h6>
                    </div>
                    <div class="card-body">
                        <div id="report_table"></div> <!-- This is where the server response will be displayed -->
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

<script>
    $(document).ready(function(){
        $('#reports_form').on('submit', function(e){
            e.preventDefault(); // Prevent the form from submitting normally
            
            // Serialize form data
            var formData = $(this).serialize();
            
            // Send AJAX request to the server
            $.ajax({
                type: 'POST',
                url: '{% url "kahamahmis:search_report" %}',
                data: formData,
                success: function(response){
                    $('#report_table').html(response.html_result); // Update the table content with the response HTML
                    updateHeading(); // Update the heading dynamically
                },
                error: function(xhr, status, error){
                    console.error(xhr.responseText); // Log any errors to the console
                }
            });
        });
    });

    function updateHeading() {
        var reportType = $('#report_type option:selected').text();
        var year = $('#year option:selected').text();
        var title = reportType + ' - ' + year;
        $('#report_heading').text(title);
        $('title').text('SITE NAME: | ' + title);
    }
</script>
{% include 'kahama_template/datatable.html' %}    

{% endblock main_content %}
