{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
      <img src="{% static 'dist/img/resalogo.png' %}" alt="resa Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Resa Clinic </span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar"> 
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
              {% if doctor.profile_pic %}
                  <img src="" class="img-circle elevation-2" alt="User Image">
              {% else %}
                  <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
              {% endif %}
          </div>
          <div class="info">
              {% url 'kahamahmis:admin_profile' as admin_profile %}
              <a href="#" class="d-block">{{user.username}}</a>
          </div>
      </div> 

      <!-- Sidebar Menu -->
      <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <!-- Home Section -->
              <li class="nav-item">
                  {% url 'dashboard' as dashboard %}
                  <a href="{% url "kahamahmis:dashboard" %}" class="nav-link {% if request.path == dashboard %} active {% endif %}">
                      <i class="nav-icon fas fa-th"></i>
                      <p>HOME</p>
                  </a>
              </li> 

              <!-- Clinic Section -->
              <li class="nav-item has-treeview">
                  <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-hospital"></i>
                      <p>Clinic <i class="fas fa-angle-left right"></i></p>
                  </a>
                  <ul class="nav nav-treeview">                    
                      <li class="nav-item">
                        {% url 'kahamahmis:prescription_list' as prescription_list_url %}
                        <a href="{% url "kahamahmis:prescription_list" %}" class="nav-link{% if request.path == prescription_list_url %} active {% endif %}">
                            <i class="nav-icon fas fa-prescription-bottle"></i>
                            <p>Prescriptions</p>
                        </a>
                    </li>
                      <li class="nav-item">
                        {% url 'kahamahmis:patients_list' as patients_list %}
                          <a href="{% url "kahamahmis:patients_list" %}" class="nav-link{% if request.path == patients_list %} active {% endif %}">
                              <i class="nav-icon fas fa-users"></i>
                              <p>Patients</p>
                          </a>
                      </li>             
                                 
                      <li class="nav-item">
                        {% url 'kahamahmis:patient_vital_all_list' as patient_vital_all_list %}
                        <a href="{% url 'kahamahmis:patient_vital_all_list'  %}" class="nav-link{% if request.path == patient_vital_all_list %} active {% endif %}">
                            <i class="nav-icon fas fa-heartbeat"></i>
                            <p>All Vital Signs</p> 
                        </a>
                    </li>                    
                    
                    <li class="nav-item">
                        {% url 'kahamahmis:generate_comprehensive_report' as generate_comprehensive_report %}
                        <a href="{% url 'kahamahmis:generate_comprehensive_report'  %}" class="nav-link{% if request.path == generate_comprehensive_report %} active {% endif %}">
                            <i class="nav-icon fas fa-x-ray"></i> <!-- Replace 'fa-x-ray' with the appropriate Font Awesome icon class for radiology -->
                            <p>Comprehensive reports</p> 
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        {% url 'kahamahmis:patient_laboratory_view' as patient_laboratory_view %}
                        <a href="{% url 'kahamahmis:patient_laboratory_view'  %}" class="nav-link{% if request.path == patient_laboratory_view %} active {% endif %}">
                            <i class="nav-icon fas fa-flask"></i> <!-- Replace 'fa-flask' with the appropriate Font Awesome icon class for laboratory -->
                            <p>Lab Investigation</p> 
                        </a>
                    </li>               
                               
                    <li class="nav-item">
                        {% url 'kahamahmis:patient_procedure_view' as patient_procedure_view %}
                          <a href="{% url "kahamahmis:patient_procedure_view" %}" class="nav-link{% if request.path == patient_procedure_view %} active {% endif %}">
                            <i class="nav-icon fas fa-hospital"></i>
                              <p>Medical Procedure</p>
                          </a>
                      </li>                    
                                        
                   <li class="nav-item">
                        {% url 'kahamahmis:manage_referral' as manage_referral %}
                        <a href="{% url 'kahamahmis:manage_referral' %}" class="nav-link{% if request.path == manage_referral %} active {% endif %}">
                            <i class="nav-icon fas fa-handshake"></i>
                            <p>Referral</p>
                        </a>
                    </li>
                   
                  <li class="nav-item">
                        {% url 'kahamahmis:appointment_list' as appointment_list %}
                          <a href="{% url "kahamahmis:appointment_list" %}" class="nav-link{% if request.path == appointment_list %} active {% endif %}">
                            <i class="nav-icon fas fa-calendar"></i>
                              <p>All Appointment</p>
                          </a>
                      </li>
                      <li class="nav-item">
                        {% url 'kahamahmis:counseling_list' as counseling_list %}
                        <a href="{% url 'kahamahmis:counseling_list' %}" class="nav-link{% if request.path == counseling_list %} active {% endif %}">
                            <i class="nav-icon fas fa-user-friends"></i>
                            <p>Counseling</p>
                        </a>
                    </li>                     
                    <li class="nav-item">
                        {% url 'kahamahmis:discharge_notes_list' as discharge_notes_list %}
                        <a href="{% url 'kahamahmis:discharge_notes_list' %}" class="nav-link{% if request.path == discharge_notes_list %} active {% endif %}">
                            <i class="nav-icon fas fa-notes-medical"></i>
                            <p>Discharge Notes</p>
                        </a>
                    </li>                     
                    <li class="nav-item">
                        {% url 'kahamahmis:observation_record_list' as observation_record_list %}
                        <a href="{% url 'kahamahmis:observation_record_list' %}" class="nav-link{% if request.path == observation_record_list %} active {% endif %}">
                            <i class="nav-icon fas fa-stethoscope"></i>
                            <p>Observation Records</p>
                        </a>
                    </li>                   
                      <li class="nav-item">
                        {% url 'kahamahmis:consultation_notes' as consultation_notes %}
                          <a href="{% url "kahamahmis:consultation_notes" %}" class="nav-link{% if request.path == consultation_notes %} active {% endif %}">
                            <i class="nav-icon fas fa-calendar"></i>
                              <p>consultation</p>
                          </a>
                      </li>                     
                  
                      <li class="nav-item">
                        {% url 'kahamahmis:resa_report' as resa_report %}
                          <a href="{% url "kahamahmis:resa_report" %}" class="nav-link{% if request.path == resa_report %} active {% endif %}">
                              <i class="nav-icon fas fa-file-alt"></i>
                              <p>Reports</p>
                          </a>
                      </li>            
                  </ul>
              </li>

              <!-- Settings Section -->
              <li class="nav-header">Settings</li>
              <li class="nav-item has-treeview">
                  <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-cog"></i>
                      <p>                    
                          <i class="fas fa-angle-left right"></i>
                      </p>
                  </a>
                  <ul class="nav nav-treeview">
                      <!-- Insurance Link -->
                      <li class="nav-item">  
                        {% url 'kahamahmis:manage_insurance' as manage_insurance %}                  
                          <a href="{% url "kahamahmis:manage_insurance" %}" class="nav-link{% if request.path == manage_insurance %} active {% endif %}">
                              <i class="nav-icon fas fa-shield-alt"></i>
                              <p>Insurance</p>
                          </a>
                      </li>                 

                    <li class="nav-item"> 
                        {% url 'kahamahmis:inventory_list' as inventory_list_url %}                   
                        <a href="{% url 'kahamahmis:inventory_list' %}" class="nav-link{% if request.path == inventory_list_url %} active {% endif %}">
                            <i class="nav-icon fas fa-box"></i>
                            <p>Inventory</p>

                            <span id="minStockNotification" class="badge badge-danger" title="Items Below Minimum Stock Level"></span> <!-- Notification badge -->
                        </a>
                    </li>
                 <li class="nav-item"> 
                        {% url 'kahamahmis:in_stock_items' as in_stock_items %}                   
                        <a href="{% url 'kahamahmis:in_stock_items' %}" class="nav-link{% if request.path == in_stock_items %} active {% endif %}">
                            <i class="nav-icon fas fa-box-open"></i>
                            <p>Available Items</p>
                        </a>
                    </li>  
                 <li class="nav-item"> 
                        {% url 'kahamahmis:out_of_stock_items' as out_of_stock_items %}                   
                        <a href="{% url 'kahamahmis:out_of_stock_items' %}" class="nav-link{% if request.path == out_of_stock_items %} active {% endif %}">
                            <i class="nav-icon fas fa-exclamation-triangle"></i>
                            <p>Stock Alerts</p>
                            <span id="outOfStockNotification" class="badge badge-danger"  title="Items out  Stock"></span> <!-- Notification badge -->
                        </a>
                    </li>
                 <li class="nav-item"> 
                        {% url 'kahamahmis:usage_history_list' as usage_history_list_url %}                   
                        <a href="{% url 'kahamahmis:usage_history_list' %}" class="nav-link{% if request.path == usage_history_list_url %} active {% endif %}">
                            <i class="nav-icon fas fa-history"></i>
                            <p>Usage History</p>
                        </a>
                    </li>
                    
                      <!-- Other Settings Links -->
                      <li class="nav-item"> 
                        {% url 'kahamahmis:manage_disease' as manage_disease %}                    
                          <a href="{% url "kahamahmis:manage_disease" %}" class="nav-link{% if request.path == manage_disease %} active {% endif %}">                     
                              <i class="nav-icon fas fa-biohazard"></i>
                              <p>Diseases</p>
                          </a>
                      </li>                   
                      <li class="nav-item"> 
                        {% url 'kahamahmis:manage_country' as manage_country %}                    
                        <a href="{% url 'kahamahmis:manage_country' %}" class="nav-link{% if request.path == manage_country %} active {% endif %}">                     
                            <i class="nav-icon fas fa-globe"></i> <!-- Font Awesome icon for globe -->
                            <p>Country</p> 
                        </a>
                    </li>
                    <li class="nav-item"> 
                        {% url 'kahamahmis:remotemedicine_list' as remotemedicine_list %}                    
                        <a href="{% url 'kahamahmis:remotemedicine_list' %}" class="nav-link{% if request.path == remotemedicine_list %} active {% endif %}">                     
                            <i class="nav-icon fas fa-pills"></i> <!-- Font Awesome icon for pills/medicine -->
                            <p>Medicine/Drug</p>
                        </a>
                    </li>
                    <li class="nav-item"> 
                        {% url 'kahamahmis:health_record_list' as health_record_list_url %}
                        <a href="{{ health_record_list_url }}" class="nav-link{% if request.path == health_record_list_url %} active {% endif %}">                     
                            <i class="nav-icon fas fa-notes-medical"></i> 
                            <p>Health Records</p>
                        </a>
                    </li>                    
                  
                      <li class="nav-item"> 
                        {% url 'kahamahmis:manage_company' as manage_company %}                       
                          <a href="{% url "kahamahmis:manage_company" %}" class="nav-link{% if request.path == manage_company %} active {% endif %} ">
                              <i class="nav-icon fas fa-building"></i>
                              <p>Companies</p>
                          </a>
                      </li>                      
                      <li class="nav-item"> 
                        {% url 'kahamahmis:manage_pathodology' as manage_pathodology %}                     
                          <a href="{% url "kahamahmis:manage_pathodology" %}" class="nav-link{% if request.path == manage_pathodology %} active {% endif %}  ">
                              <i class="nav-icon fas fa-vial"></i>
                              <p>Pathology</p>
                          </a>
                      </li>                      
                      <li class="nav-item">                   
                          <a href="{% url "kahamahmis:manage_staff" %}" class="nav-link">
                              <i class="nav-icon fas fa-users"></i>
                              <p>Staffs</p>
                          </a>
                      </li>                    
                      <li class="nav-item"> 
                        {% url 'kahamahmis:remoteservice_list' as remoteservice_list %}                    
                          <a href="{% url 'kahamahmis:remoteservice_list' %}" class="nav-link{% if request.path == remoteservice_list %} active {% endif %}">
                              <i class="nav-icon fas fa-medkit"></i>
                              <p>Services</p>
                          </a>
                      </li>
                      <li class="nav-item"> 
                        {% url 'kahamahmis:add_clinc_company' as company_registration_view %}                    
                        <a href="{% url 'kahamahmis:add_clinc_company' %}" class="nav-link{% if request.path == company_registration_view %} active {% endif %}">
                            <i class="nav-icon fas fa-building"></i>
                            <p>Clinic Register</p>
                        </a>
                    </li>
                  </ul>
              </li>
          </ul>
      </nav>
      <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

<script>
    function updateOutOfStockNotification() {
        $.ajax({
            type: 'GET',
            url: '/get_out_of_stock_count/',
            dataType: 'json',
            success: function(data) {
                var count = data.count;
                $('#outOfStockNotification').text(count); // Update the notification element
            },
            error: function(error) {
                console.log(error);
            }
        });
    }

    function updateNotificationCount() {
        $.ajax({
            url: '/api/out-of-stock-medicines/', // Replace with your API endpoint URL
            method: 'GET',
            dataType: 'json',
            success: function(data) {
                var count = data.count;
                // Update the notification count with the count received from the backend
                $('#notification-count').text(count);
            },
            error: function(xhr, status, error) {
                console.error('Error fetching notification count:', error);
            }
        });
    }

    function ReagentOutNotificationCount() {
        $.ajax({
            url: '/api/out-of-stock-reagent-count/', // Replace with your API endpoint URL
            method: 'GET',
            dataType: 'json',
            success: function(data) {
                var count = data.count;
                // Update the notification count with the count received from the backend
                $('#notification-count-reagent').text(count);
            },
            error: function(xhr, status, error) {
                console.error('Error fetching notification count:', error);
            }
        });
    }  
    
    $(document).ready(function() {
        // Update the notification when the page loads
        updateOutOfStockNotification();
        updateNotificationCount();
        ReagentOutNotificationCount();
    
        // Periodically update the notification (e.g., every 5 seconds)
        setInterval(updateOutOfStockNotification, 60000);
    });
    
</script>

{% comment %} <script>
    function getItemsBelowMinStock() {
        $.ajax({
            type: 'GET',
            url: '/get_items_below_min_stock/',
            success: function(data) {
                var count = data.count;
                if (count > 0) {
                    $('#minStockNotification').html('<span class="badge badge-danger">' + count + '</span>');
                } else {
                    $('#minStockNotification').empty();
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
    }
    
    // Periodically check for items below minimum stock level
    $(document).ready(function() {
        getItemsBelowMinStock(); // Initial check
        setInterval(getItemsBelowMinStock, 60000); // Check every minute
    });
    
</script> {% endcomment %}