{% extends "hod_template/base_template.html" %}
{% block title %}
   Delete Subject
{% endblock title %}
{% block main_content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Delete Subject</h5>
        </div>
        <div class="card-body">
            <p>Are you sure you want to delete these Subject "{{ subject }}"?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
                <a href="{% url 'manage_subject' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock main_content %}
