{% extends 'pharmacist_template/base_template.html' %}

{% block title %}
    Ambulance Profile
{% endblock title %}

{% block breadcrumb %}
    Ambulance Profile
{% endblock breadcrumb %}

{% block main_content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                       
                        <div class="card-body">
                            <div class="row" style="font-size:13px;">
                                <div class="col-md-3"><b>PATIENT: {{ patient.first_name }} {{ patient.middle_name }}  {{ patient.last_name }}</b></div>
                                <div class="col-md-3"><b>DOB: {{ patient.dob|date:'Y-m-d' }} [ Age: {% if patient.dob %}
                                    <script>
                                        var dob = new Date("{{ patient.dob|date:'Y-m-d' }}");
                                        var now = new Date();
                                        var ageMilliseconds = now - dob;
                                        var ageSeconds = ageMilliseconds / 1000;
                                        var ageYears = Math.floor(ageSeconds / (365.25 * 24 * 60 * 60));
                                        document.write(ageYears + ' years');
                                    </script>
                                    {% else %}
                                    {{ patient.age }}
                                    {% endif %}]</b></div>
                                <div class="col-md-3"><b>SEX: {{ patient.gender }}</b></div>
                                <div class="col-md-3"><b>FILE NO : {{ patient.mrn }}</b> </div>
                            </div>
                                <div class="row mt-3">
                                    <div class="col-md-3"><b>PAYMENT MODE: {{ patient.payment_form }}</b></div>
                                    <div class="col-md-3"><b>visit number: {{ visit.vst }}</b></div>
                                </div>
                        </div>           
                    
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-row">
                        <div>
                            {% if messages %}
                            <div class="col-12">
                                {% for message in messages %}
                                {% if message.tags == 'error' %}
                                <div class="alert alert-danger">{{ message }}</div>
                                {% elif message.tags == 'success' %}
                                <div class="alert alert-primary">{{ message }}</div>
                                {% endif %}
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
          <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header"></div>
                    <div class="card-body">
                        <form id="ambulanceForm" method="post" action="{% if ambulance_order %}{% url 'edit_ambulance_order' patient_id=patient.id visit_id=visit.id ambulance_id=ambulance_order.id %}{% else %}{% url 'save_ambulance_order' patient_id=patient.id visit_id=visit.id %}{% endif %}">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="service">Service</label>
                                    <input type="text" class="form-control" id="service" name="service" value="{{ ambulance_order.service }}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="from_location">From Location</label>
                                    <input type="text" class="form-control" id="from_location" name="from_location" value="{{ ambulance_order.from_location }}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="to_location">To Location</label>
                                    <input type="text" class="form-control" id="to_location" name="to_location" value="{{ ambulance_order.to_location }}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="age">Age</label>
                                    <input type="text" class="form-control" id="age" name="age" value="{{ ambulance_order.age }}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="condition">Condition</label>
                                    <input type="text" class="form-control" id="condition" name="condition" value="{{ ambulance_order.condition }}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="intubation">Intubation</label>
                                    <input type="text" class="form-control" id="intubation" name="intubation" value="{{ ambulance_order.intubation }}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="pregnancy">Pregnancy</label>
                                    <input type="text" class="form-control" id="pregnancy" name="pregnancy" value="{{ ambulance_order.pregnancy }}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="oxygen">Oxygen</label>
                                    <input type="text" class="form-control" id="oxygen" name="oxygen" value="{{ ambulance_order.oxygen }}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="ambulance_type">Ambulance Type</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="ambulance_type" name="ambulance_type">
                                        <option value="Type A" {% if ambulance_order.ambulance_type == 'Type A' %} selected {% endif %}>Type A</option>
                                        <option value="Type B" {% if ambulance_order.ambulance_type == 'Type B' %} selected {% endif %}>Type B</option>
                                        <option value="Type C" {% if ambulance_order.ambulance_type == 'Type C' %} selected {% endif %}>Type C</option>
                                        <option value="Type D" {% if ambulance_order.ambulance_type == 'Type D' %} selected {% endif %}>Type D</option>
                                        <!-- Add more options as needed -->
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="cost">Cost</label>
                                    <input type="text" class="form-control" id="cost" name="cost" value="{{ ambulance_order.cost }}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="payment_mode">Payment Mode</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="payment_mode" name="payment_mode">
                                        <option value="Insurance" {% if ambulance_order.payment_mode == 'Insurance' %} selected {% endif %}>Insurance</option>
                                        <option value="Cash" {% if ambulance_order.payment_mode == 'Cash' %} selected {% endif %}>Cash</option>
                                        <option value="Mpesa" {% if ambulance_order.payment_mode == 'Mpesa' %} selected {% endif %}>Mpesa</option>
                                        <option value="Tigo Pesa" {% if ambulance_order.payment_mode == 'Tigo Pesa' %} selected {% endif %}>Tigo Pesa</option>
                                        <option value="Bank" {% if ambulance_order.payment_mode == 'Bank' %} selected {% endif %}>Bank</option>
                                    </select>
                                </div>                                
                                <div class="form-group col-md-4">
                                    <label for="duration_hours">Duration Hours</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="duration_hours" name="duration_hours">
                                        {% for rate in days %}
                                            <option value="{{ rate }}" {% if ambulance_order.duration_hours == rate %} selected {% endif %}>{{ rate }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="duration_days">Duration Days</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="duration_days" name="duration_days">
                                        {% for rate in days %}
                                            <option value="{{ rate }}" {% if ambulance_order.duration_days == rate %} selected {% endif %}>{{ rate }}</option>
                                        {% endfor %}
                                    </select>
                                </div>                                
                                <!-- Add more form rows for additional attributes -->
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-md btn-primary btn-block" id="submitBtn">Save and Continue <i class="mdi mdi-forward"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                   </div>
            </div>
          </div>
        </div><!-- /.container-fluid -->
    </section>
{% endblock main_content %}
