{% extends 'pharmacist_template/base_template.html' %}
{% block title %}
Patient Details 
{% endblock title %}
{% block main_content %}
{% load static %}

<!-- Link to custom CSS file -->
<link rel="stylesheet" type="text/css" href="{% static 'css/invoice_style.css' %}">

<div class="container">
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td class="mx-3">
                                    <!-- Replace the company name with a logo -->
                                    <img src="{% static 'dist/img/resalogo.png' %}" alt="Company Logo" class="company-logo">
                                </td>
                                <td class="text-white">
                                    <p>RESA SPECIALIZED MEDICAL CLINIC,</p>
                                    <p> kunduchi-kinondoni, Dar es Saalam</p>
                                    <p>divine@resa.co.tz</p>
                                    <p>PHONE: 255692082068</p>
                                    <p><a href="https://www.divineheart.or.tz/" class="text-white">https://www.divineheart.or.tz/</a></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>                   
            </div>
        </div>
    </header>
</div>

<main class="container py-5">       
    <div class="row">
        <div class="col-12">
            <div class="card patient-details-card">                    
                <div class="card-body">
                    <!-- Billing Information -->
                    <div class="row">                           
                        <div class="col-md-9">
                            <h3>Billing to</h3>
                            <p> {{ order.patient }}</p>
                            <p><strong></strong> {{ order.patient.phone }}</p>                                       
                        </div>
                        <div class="col-md-3">
                            <h3>Order Details</h3>
                            <p><strong>Order Number:</strong> {{ order.order_number }}</p>
                            <p><strong>Order Date:</strong> {{ order.order_date }}</p>
                        </div>
                    </div>

                    <!-- Order Service -->
                    <div class="row mt-4">
                        <div class="col-md-12">                               
                            <div class="table-responsive">
                                <table class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th>Service/Description</th>                                               
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td> {{ order.order_type }}</td>
                                            <td> {{ order.cost }}</td>                                            
                                        </tr>                                            
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- Invoice Total -->
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td class="text-right" colspan="2">
                                            <strong>Total:  {{ order.cost }}</strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>                               
                        </div>
                    </div>

                    <!-- Thank You Message -->
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <div class="thank-you">
                                <p class="text-center">Thank you for your business!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</main>

<div class="btn-group btn-group-sm d-print-none"> 
    <a href="javascript:window.print()" class="btn btn-light border text-black-50 shadow-none">
        <i class="fa fa-print"></i> Print
    </a> 
    <a href="#" id="download" class="btn btn-light border text-black-50 shadow-none">
        <i class="fa fa-download"></i> Download
    </a> 
</div>

{% endblock main_content %}
