{% extends 'pharmacist_template/base_template.html' %}

{% block title %}
Patient - Health Record
{% endblock title %}

{% block page_title %}
Patient - Health Record
{% endblock page_title %}

{% block breadcrumb %}
{% include "pharmacist_template/modal_form.html" %}
    <a href="{% url 'pharmacist_manage_patients' %}" class="btn btn-success float-right" type="button">
        <i class="fas fa-arrow-left"></i> Back to Patient List
    </a>


{% endblock breadcrumb %}


{% load static %}
{% block main_content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">            
                <div class="card-body">
                    <ul class="navigation list-group">
                        <li class="list-group-item navigation-header">Navigation</li>
                        <li class="list-group-item active">
                            <a href="#health" data-toggle="tab" aria-expanded="true">
                                <i class="fas fa-heartbeat"></i> Health Records
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#investigation" data-toggle="tab" aria-expanded="false">
                                <i class="far fa-file"></i> Orders Request
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#lab_result" data-toggle="tab" aria-expanded="false">
                                <i class="far fa-file-alt"></i> Lab Result
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#procedure_result" data-toggle="tab" aria-expanded="false">
                                <i class="fas fa-file-medical"></i> Procedures Result
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#prescription" data-toggle="tab" aria-expanded="false">
                                <i class="fas fa-file-prescription"></i> Prescriptions
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#radiology" data-toggle="tab" aria-expanded="false">
                                <i class="fas fa-x-ray"></i> Radiology
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#notes" data-toggle="tab" aria-expanded="false">
                                <i class="far fa-clipboard"></i> Consultation
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">                       
                        <div class="card-body">
                            <div class="row" style="font-size:13px;">
                                <div class="col-md-3 text-uppercase">PATIENT: <b>{{ patient.first_name }} {{ patient.middle_name }}  {{ patient.last_name }}</b></div>
                                <div class="col-md-3 text-uppercase">DOB: <b>{{ patient.dob|date:'Y-m-d' }} [ Age: {% if patient.dob %}
                                    <script>
                                        var dob = new Date("{{ patient.dob|date:'Y-m-d' }}");
                                        var now = new Date();
                                        var ageMilliseconds = now - dob;
                                        var ageSeconds = ageMilliseconds / 1000;
                                        var ageYears = Math.floor(ageSeconds / (365.25 * 24 * 60 * 60));
                                        document.write(ageYears + ' years');
                                    </script>
                                    {% else %}
                                    {{ patient.age }}
                                    {% endif %}]</b></div>
                                <div class="col-md-3 text-uppercase" >SEX: <b>{{ patient.gender }}</b></div>
                                <div class="col-md-3 text-uppercase">FILE NO : <b>{{ patient.mrn }}</b> </div>
                            </div>
                                <div class="row mt-3">
                                    <div class="col-md-6 text-uppercase">PAYMENT MODE: <b>{{ patient.payment_form }}</b></div>
                                    <div class="col-md-6">
                                        Visit number: <b> {{ visit.vst }}</b>
                                    </div>
                                </div>
                        </div>        
                    
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane fade active" id="health">
                                    <div class="panel panel-flat">                                     
                                        <div class="panel-body">
                                            <div class="tabbable">
                                                <!-- Navigation tabs with additional styles -->
                                             <div class="container mb-3 ">
                                                <ul class="nav nav-tabs nav-tabs-highlight custom-tabs">
                                                    <li class="list-inline-item active"><a href="#left-icon-tab1" data-toggle="tab" aria-expanded="true" onclick="changeActiveTab(event, 'left-icon-tab1')"><i class="icon-menu7 position-left"></i> Vital Sign</a></li>
                                                    <li class="list-inline-item"><a href="#left-icon-tab2" data-toggle="tab" aria-expanded="true" onclick="changeActiveTab(event, 'left-icon-tab2')">Diagnosis</a></li>
                                                </ul>
                                             </div>
                                                                                            
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="left-icon-tab1">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="card">
                                                                        <div class="card-header">
                                                                            <h5 class="header-title text-center mt-0 mb-1 text-uppercase">vital information</h5>
                                                                        </div>
                                                                        <div class="card-body">
                                                                            <div class="table-responsive">
                                                                                <table class="table table-hover text-nowrap table-bordered table-striped table-sm display" id="example6" style="width:100%">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>Visit number</th>
                                                                                            <th>Respiratory Rate</th>
                                                                                            <th>Pulse Rate</th>
                                                                                            <th>Blood Pressure</th>
                                                                                            <th>AVPU</th>
                                                                                            <th>SPO2</th>
                                                                                            <th>Temperature</th>
                                                                                            <th>Weight</th>
                                                                                            <th>GCS</th>
                                                                                            <th>Date</th>
                                                                                            <th>Day</th> <!-- New column for the day of the week -->
                                                                                            <th>Time</th>                                                           
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        {% for vital in previous_vitals %}
                                                                                        <tr>
                                                                                            <td>{{ vital.visit.vst }}</td>
                                                                                            <td>{{ vital.respiratory_rate }}</td>
                                                                                            <td>{{ vital.pulse_rate }}</td>
                                                                                            <td>{{ vital.blood_pressure }}</td>
                                                                                            <td>{{ vital.avpu }}</td>
                                                                                            <td>{{ vital.spo2 }}</td>
                                                                                            <td>{{ vital.temperature }}</td>
                                                                                            <td>{{ vital.weight }}</td>
                                                                                            <td>{{ vital.gcs }}</td>
                                                                                            <!-- Split recorded_at into date, day of the week, and time components -->
                                                                                            <td>{{ vital.recorded_at|date:"Y-m-d" }}</td> <!-- Display date -->
                                                                                            <td>{{ vital.recorded_at|date:"l" }}</td> <!-- Display day of the week -->
                                                                                            <td>{{ vital.recorded_at|time:"H:i:s" }}</td><!-- Display time -->
                                                                                            
                                                                                        </tr>
                                                                                       
                                                                                        {% endfor %}
                                                                                    </tbody>
                                                                                </table>
                                                                               </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                
                                                    <div class="tab-pane" id="left-icon-tab2">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="card">
                                                                        <div class="card-header">
                                                                            <h5 class="header-title text-center mt-0 mb-1 text-uppercase">Diagnosis information</h5>
                                                                        </div>
                                                                        <div class="card-body">
                                                                            <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm  display"  style="width:100%">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <th>Preliminary Diagnosis</th>
                                                                                        <th>Final Diagnosis</th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <ul class="list-group">
                                                                                                {% for diagnosis in consultation_notes.provisional_diagnosis.all %}
                                                                                                <li class="list-group-item">{{ diagnosis.diagnosis_name }}</li>
                                                                                                {% endfor %}
                                                                                            </ul>
                                                                                        </td>
                                                                                        <td>
                                                                                            <ul class="list-group">
                                                                                                {% for diagnosis in consultation_notes.final_diagnosis.all %}
                                                                                                <li class="list-group-item">{{ diagnosis.diagnosis_name }}</li>
                                                                                                {% endfor %}
                                                                                            </ul>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="tab-pane fade" id="investigation">
                                    <h5 class="panel-title">Orders Request</h5>                                    <!-- Content for Orders Request tab -->
                                    <div class="panel panel-flat">
                                        <div class="panel-body">
                                            <a class="btn btn-default" href="{% url 'pharmacist_patient_consultation_detail' patient.id visit.id %}">Consultation</a>
                                            <a class="btn btn-default" href="{% url 'pharmacist_save_laboratory' patient.id visit.id %}">Laboratory</a>
                                            <a class="btn btn-default" href="{% url 'pharmacist_save_observation' patient.id visit.id %}">Imaging</a>
                                            <a class="btn btn-default" href="{% url 'pharmacist_save_remoteprocedure' patient.id visit.id %}">Procedure</a>
                                            <a class="btn btn-default" href="#">Physiotherapy</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="lab_result">                                   
                                    <div class="panel panel-flat">                                   
                                        <div class="panel-body">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h5 class="header-title text-center mt-0 mb-1 text-uppercase">Lab Result and total amount <span style="background-color: red;">{{lab_tests_cost}}</span></h5>                                  
                                                            </div>
                                                            <div class="card-body">
                                                                <div  class="table-responsive">
                                                                    <table  class="table table-hover text-nowrap table-bordered table-striped" id="example4">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Doctor</th>                                                        
                                                                                <th>Lab Number</th>                                                       
                                                                                                                  
                                                                                <th>Test Name</th>
                                                                                <th>Description</th>
                                                                                <th>Order Date</th>
                                                                                <th>Test Result</th>
                                                                                <th>Cost</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for order in lab_results %}
                                                                            <tr>
                                                                                <td>{{ order.doctor }}</td>                                                        
                                                                                <td>{{ order.lab_number }}</td>                                                        
                                                                                                                                      
                                                                                <td>{{ order.name }}</td>
                                                                                <td>{{ order.description }}</td>
                                                                                <td>{{ order.order_date }}</td>
                                                                                <td>{{ order.result }}</td>
                                                                                <td>{{ order.cost }}</td>
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade active in" id="procedure_result">                                    
                                    <div class="panel panel-flat">                                       
                                        <div class="panel-body">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h5 class="header-title text-center mt-0 mb-1 text-uppercase">Procedures and total amount <span style="background-color: red;">{{total_procedure_cost}}</span></h5>                                   
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="table-responsive">
                                                                    <table class="table table-hover text-nowrap table-bordered table-striped" id="example">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Doctor</th>
                                                                                <th>Name</th>
                                                                                <th>Description</th>
                                                                                <th>Duration Time</th>
                                                                                <th>Equipments Used</th>
                                                                                <th>Cost</th>
                                                                                <th>Created At</th>
                                                                     
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for procedure in procedures %}
                                                                            <tr>
                                                                                <td>{{ procedure.doctor }}</td>
                                                                                <td>{{ procedure.name }}</td>
                                                                                <td>{{ procedure.description }}</td>
                                                                                <td>{{ procedure.duration_time }}</td>
                                                                                <td>{{ procedure.equipments_used }}</td>
                                                                                <td>{{ procedure.cost }}</td>
                                                                                <td>{{ procedure.created_at }}</td>
                                                                            
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                   </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="tab-pane fade active in" id="prescription">                                   
                                    <div class="panel panel-flat">                                     
                                        <div class="panel-body">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h5 class="header-title text-center mt-0 mb-1 text-uppercase">Prescription and total amount <span style="background-color: red;">{{total_price}}</span></h5>
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="table-responsive">
                                                                    <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm  display" id="example5"  style="width:100%">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Prescriber</th>
                                                                                <th>Drug</th>                                                      
                                                                                <th>Dose</th>
                                                                                <th>Frequency</th>
                                                                                <th>Duration</th>
                                                                                <th>Quantity</th>
                                                                                <th>Unit Price</th>
                                                                                <th>Total Price</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for prescription in prescriptions %}
                                                                            <tr>
                                                                                <td>{{ prescription.entered_by }}</td>
                                                                                <td>{{ prescription.medicine.name }}</td>
                                                                                <td>{{ prescription.dose }}</td>                                                       
                                                                                <td>{{ prescription.frequency }}</td>
                                                                                <td>{{ prescription.duration }}</td>
                                                                                <td>{{ prescription.quantity_used }}</td>
                                                                                <td>{{ prescription.medicine.unit_price }}</td>
                                                                                <td>{{ prescription.total_price }}</td>
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade active in" id="radiology">                                    
                                    <div class="panel panel-flat">                                     
                                        <div class="panel-body">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h5 class="header-title text-center mt-0 mb-1 text-uppercase">Imaging and total amount <span style="background-color: red;">{{total_imaging_cost}}</span></h5>
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="table-responsive">
                                                                    <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm  display" id="example7"  style="width:100%">
                                                                        <thead>
                                                                            <tr>                                                 
                                                                                <th>Doctor</th>
                                                                                <th>Image Name</th>
                                                                                <th>Description</th>                           
                                                                                <th>Cost</th>
                                                                                <th>Date</th> <!-- New column -->
                                                                                <!-- Add more columns as needed -->
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for record in imaging_records %}
                                                                            <tr>                                               
                                                                                <td>{{ record.doctor }}</td>
                                                                                <td>{{ record.imaging.name }}</td>
                                                                                <td>{{ record.description }}</td>                            
                                                                                <td>{{ record.cost }}</td>
                                                                                <td>{{ record.created_at|date:"F d, Y" }}</td> <!-- Display date -->
                                                                                <!-- Add more columns as needed -->
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="tab-pane fade" id="notes">
                                    <h5 class="panel-title">Consultation</h5>
                                    <div class="panel panel-flat">                                       
                                        <div class="panel-body">
                                            <div class="card">
                                                <div class="card-body">
                                                    <form id="editConsultationForm" method="post" >
                                                        {% csrf_token %}
                                                        <div class="container-fluid">
                                                            <!-- First row -->
                                                            <div class="row">
                                                                <!-- Physical examination -->
                                                                <div class="col-md-6 form-group">
                                                                    <label for="physical_examination{{ consultation_notes.id }}">Physical Examination:</label>
                                                                    <textarea class="form-control" id="physical_examination{{ consultation_notes.id }}" name="physical_examination" readonly>{{ consultation_notes.physical_examination }}</textarea>
                                                                </div>                                                             
                                                                <!-- Chief complaints -->
                                                                <div class="col-md-6 form-group">
                                                                    <label for="chief_complaints{{ consultation_notes.id }}">Chief Complaints:</label>
                                                                    <textarea class="form-control" id="chief_complaints{{ consultation_notes.id }}" name="chief_complaints"  readonly>{{ consultation_notes.chief_complaints }}</textarea>
                                                                </div>
                                                            </div>                                                     
                                                            <div class="row">
                                                                <!-- History of presenting illness -->
                                                                <div class="col-md-6 form-group">
                                                                    <label for="history_of_presenting_illness{{ consultation_notes.id }}">History of Presenting Illness:</label>
                                                                    <textarea class="form-control" id="history_of_presenting_illness{{ consultation_notes.id }}" name="history_of_presenting_illness"  readonly>{{ consultation_notes.history_of_presenting_illness }}</textarea>
                                                                </div>                           
                                                                <!-- Allergy to medications -->
                                                                <div class="col-md-6 form-group">
                                                                    <label for="allergy_to_medications{{ consultation_notes.id }}">Allergy to Medications:</label>
                                                                    <input type="text" class="form-control" id="allergy_to_medications{{ consultation_notes.id }}" name="allergy_to_medications" value="{{ consultation_notes.allergy_to_medications }}"  readonly>                                                                  
                                                                </div>
                                                            </div>
                                                            <!-- Third row -->
                                                            <div class="row">
                                                                <!-- Provisional diagnosis -->
                                                                <div class="col-md-4 form-group">
                                                                    <label for="provisional_diagnosis{{ consultation_notes.id }}">Provisional Diagnosis:</label>
                                                                    <select class="form-control select2bs4" style="width: 100%;" id="provisional_diagnosis{{ consultation_notes.id }}" name="provisional_diagnosis[]"  disabled multiple>
                                                                        {% for diagnosis in provisional_diagnoses %}
                                                                        <option value="{{ diagnosis.id }}" {% if diagnosis in consultation_notes.provisional_diagnosis.all %} selected {% endif %}>{{ diagnosis.diagnosis_name }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                                <!-- Final diagnosis -->
                                                                <div class="col-md-4 form-group">
                                                                    <label for="final_diagnosis{{ consultation_notes.id }}">Final Diagnosis:</label>
                                                                    <select class="form-control select2bs4" style="width: 100%;" id="final_diagnosis{{ consultation_notes.id }}" name="final_diagnosis[]"  disabled multiple>
                                                                        {% for diagnosis in final_diagnoses %}
                                                                        <option value="{{ diagnosis.id }}" {% if diagnosis in consultation_notes.final_diagnosis.all %} selected {% endif %}>{{ diagnosis.diagnosis_name }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                                <!-- Pathology -->
                                                                <div class="col-md-4 form-group">
                                                                    <label for="pathology{{ consultation_notes.id }}">Pathology:</label>
                                                                    <select class="form-control select2bs4" readonly style="width: 100%;" id="pathology{{ consultation_notes.id }}" name="pathology[]" disabled   multiple>
                                                                        {% for record in pathology_records %}
                                                                        <option value="{{ record.id }}" {% if record in consultation_notes.pathology.all %} selected {% endif %}>{{ record.name }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <!-- Fourth row -->
                                                            <div class="row">
                                                                <!-- Doctor plan -->
                                                                <div class="col-md-4 form-group">
                                                                    <label for="doctor_plan{{ consultation_notes.id }}">Doctor Plan:</label>
                                                                    <textarea class="form-control" id="doctor_plan{{ consultation_notes.id }}" name="doctor_plan"  readonly>{{ consultation_notes.doctor_plan }}</textarea>
                                                                </div>
                                                                
                                                            </div>
                                                            <!-- Doctor plan -->
                                                            <div class="">
                                                                <p>Consultated by: <strong>{{consultation_notes.doctor}}</strong></p>
                                                            </div>
                                                        </div>                                                                                                            
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                               
                                
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    $(document).ready(function() {
        $('.navigation a').on('click', function(e) {
            e.preventDefault();
            $(this).tab('show');
            // Remove active class from all list items
            $('.navigation li').removeClass('active');
            // Add active class to the clicked list item
            $(this).closest('li').addClass('active');
        });
    });
</script>




   
<style>
    /* Reset default margin and padding */
.navigation {
    padding-left: 0;
    list-style: none;
}

/* Style for the header */
.navigation-header {
    background-color: #f0f0f0; /* Header background color */
    color: #333; /* Header text color */
    font-weight: bold;
    padding: 10px; /* Add padding to the header */
    border-radius: 5px; /* Add border radius */
    margin-bottom: 10px; /* Add space between header and links */
}

/* Style for each list item */
.navigation li {
    margin-bottom: 5px;
}

/* Style for each link */
.navigation li a {
    color: #333; /* Default text color */
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

/* Style for the active link */
.navigation li.active a {
    background-color: #007bff; /* Active background color */
    color: #fff; /* Active text color */
}

/* Style for link hover */
.navigation li a:hover {
    background-color: #e0e0e0; /* Hover background color */
    color: #000; /* Change text color on hover */
}

    
</style>
<style>
    /* styles.css */

/* Add custom styles for the container */
.container {
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

/* Add styles for the card */
.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Add styles for the table */
.table {
    width: 100%;
}

/* Add styles for table headers */
.table th {
    background-color: #007bff;
    color: #fff;
}

/* Add styles for table rows */
.table tbody tr {
    background-color: #f9f9f9;
}

/* Add styles for buttons */
.btn {
    border-radius: 5px;
    margin-right: 5px;
}

/* Add more styles as needed */

</style>

{% include 'pharmacist_template/datatable.html' %}
{% endblock main_content %}
