{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
      <img src="{% static 'dist/img/resalogo.png' %}" alt="resa Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Resa Clinic </span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar"> 
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
              {% if doctor.profile_pic %}
                  <img src="" class="img-circle elevation-2" alt="User Image">
              {% else %}
                  <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
              {% endif %}
          </div>
          <div class="info">
              {% url 'admin_profile' as admin_profile %}
              <a href="#" class="d-block">{{user.username}}</a>
          </div>
      </div> 

      <!-- Sidebar Menu -->
      <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <!-- Home Section -->
              <li class="nav-item">
                  {% url 'pharmacist_dashboard' as admin_home %}
                  <a href="{% url "pharmacist_dashboard" %}" class="nav-link {% if request.path == admin_home %} active {% endif %}">
                      <i class="nav-icon fas fa-th"></i>
                      <p>HOME</p>
                  </a>
              </li> 

              <!-- Clinic Section -->
              <li class="nav-item has-treeview">
                  <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-hospital"></i>
                      <p>Pharmacy <i class="fas fa-angle-left right"></i></p>
                  </a>
                  <ul class="nav nav-treeview">
                  
                      <li class="nav-item">
                        {% url 'pharmacist_prescription_list' as prescription_list_url %}
                        <a href="{% url 'pharmacist_prescription_list' %}" class="nav-link{% if request.path == prescription_list_url %} active {% endif %}">
                            <i class="nav-icon fas fa-prescription-bottle"></i>
                            <p>Prescriptions</p>
                        </a>
                    </li>
                    
                      <!-- Other Clinic Links -->
                      <li class="nav-item">
                        {% url 'pharmacist_manage_patients' as manage_patient %}
                          <a href="{% url "pharmacist_manage_patients" %}" class="nav-link{% if request.path == manage_patient %} active {% endif %}">
                              <i class="nav-icon fas fa-users"></i>
                              <p>Patients</p>
                          </a>
                      </li>
                 
                      {% url 'pharmacist_new_consultation_order' as pharmacist_new_consultation_order %}
                      <li class="nav-item" id="unreadAppointmentsLink">
                          <a href="{% url "pharmacist_new_consultation_order" %}" class="nav-link {% if request.path == pharmacist_new_consultation_order %} active {% endif %}">
                              <i class="nav-icon fas fa-stethoscope"></i>
                              <p>Consultation Order</p>
                          </a>
                      </li>
                      <li class="nav-item" id="unreadAppointmentsLink">
                          {% url 'pharmacist_new_radiology_order' as pharmacist_new_radiology_order %}
                          <a href="{% url "pharmacist_new_radiology_order" %}" class="nav-link {% if request.path == pharmacist_new_radiology_order %} active {% endif %}">
                              <i class="nav-icon fas fa-x-ray"></i>
                              <p>Imaging Orders</p>
                          </a>
                      </li>
                      <li class="nav-item" id="unreadAppointmentsLink">
                          {% url 'pharmacist_new_procedure_order' as pharmacist_new_procedure_order %}
                          <a href="{% url "pharmacist_new_procedure_order" %}" class="nav-link {% if request.path == pharmacist_new_procedure_order %} active {% endif %}">
                              <i class="nav-icon fas fa-notes-medical"></i>
                              <p>Procedure Orders</p>
                          </a>
                      </li>
                      <li class="nav-item" id="unreadAppointmentsLink">
                          {% url 'pharmacist_new_lab_order' as pharmacist_new_lab_order %}
                          <a href="{% url "pharmacist_new_lab_order" %}" class="nav-link {% if request.path == pharmacist_new_lab_order %} active {% endif %}">
                              <i class="nav-icon fas fa-flask"></i>
                              <p>Lab Orders</p>
                          </a>
                      </li>
                      
                   
                      <li class="nav-item">
                        {% url 'pharmacist_patient_vital_all_list' as patient_vital_all_list %}
                        <a href="{% url 'pharmacist_patient_vital_all_list'  %}" class="nav-link{% if request.path == patient_vital_all_list %} active {% endif %}">
                            <i class="nav-icon fas fa-heartbeat"></i> <!-- Font Awesome icon for vital signs -->
                            <p>All Vital Signs</p> <!-- Renamed navigation link -->
                        </a>
                    </li>                  
                                     
                       <li class="nav-item">
                        {% url 'pharmacist_appointment_list' as appointment_list %}
                          <a href="{% url "pharmacist_appointment_list" %}" class="nav-link{% if request.path == appointment_list %} active {% endif %}">
                            <i class="nav-icon fas fa-calendar"></i>
                              <p>Appointment</p>
                          </a>
                      </li>                     
                                        
                      <li class="nav-item">
                        {% url 'pharmacist_manage_service' as manage_service %}
                          <a href="{% url "pharmacist_manage_service" %}" class="nav-link{% if request.path == manage_service %} active {% endif %}">
                              <i class="nav-icon fas fa-medkit"></i>
                              <p>Services</p>
                          </a>
                      </li>
                          <!-- Other Settings Links -->
                          <li class="nav-item"> 
                            {% url 'pharmacist_manage_disease' as pharmacist_manage_disease %}                    
                              <a href="{% url "pharmacist_manage_disease" %}" class="nav-link{% if request.path == pharmacist_manage_disease %} active {% endif %}">                     
                                  <i class="nav-icon fas fa-biohazard"></i>
                                  <p>Diseases</p>
                              </a>
                          </li>
                          <li class="nav-item">
                            {% url 'pharmacist_medicine_list' as medicine_list %}
                              <a href="{% url "pharmacist_medicine_list" %}" class="nav-link{% if request.path == medicine_list %} active {% endif %}">                           
                                <i class="nav-icon fas fa-pills"></i>
                                  <p>Medicine</p>
                              </a>
                          </li>
                          <li class="nav-item">
                            {% url 'pharmacist_medicine_inventory_list' as medicine_inventory %}
                              <a href="{% url "pharmacist_medicine_inventory_list" %}" class="nav-link{% if request.path == medicine_inventory %} active {% endif %}">
                                <i class="nav-icon fas fa-pills"></i>
                                  <p>Medical Inventoory</p>
                              </a>
                          </li>
    
                          <li class="nav-item">
                            {% url 'pharmacist_in_stock_medicines_view' as in_stock_medicines_view_url %}
                            <a href="{{ in_stock_medicines_view_url }}" class="nav-link{% if request.path == in_stock_medicines_view_url %} active {% endif %}">
                                <i class="nav-icon fas fa-pills"></i> <!-- Example: Use the "fa-pills" icon for medicines -->
                                <p>Available Medicines</p> <!-- Updated name for the link -->
                            </a>
                        </li>
                          <li class="nav-item">
                            {% url 'pharmacist_out_of_stock_medicines_view' as out_of_stock_medicines_view_url %}
                            <a href="{{ out_of_stock_medicines_view_url }}" class="nav-link{% if request.path == out_of_stock_medicines_view_url %} active {% endif %}">
                                <i class="nav-icon fas fa-exclamation-circle"></i> <!-- Font awesome icon for an alert or notification -->
                                <p>Medicine Stock Alerts</p> <!-- Updated name for the navbar link -->
                                <span id="notification-count" class="badge badge-danger"  title="medicine out of  Stock"></span> <!-- Notification badge -->
                            </a>
                        </li>   
                  </ul>
              </li>
             
              </li>
          </ul>
      </nav>
      <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

<script>
    function updateNotificationCount() {
        $.ajax({
            url: '{% url "pharmacist_out_of_stock_medicines" %}', // Replace with your API endpoint URL
            method: 'GET',
            dataType: 'json',
            success: function(data) {
                var count = data.count;
                // Update the notification count with the count received from the backend
                $('#notification-count').text(count);
            },
            error: function(xhr, status, error) {
                console.error('Error fetching notification count:', error);
            }
        });
    }

    $(document).ready(function() {
        // Update the notification when the page loads
    
        updateNotificationCount();
   
    
        // Periodically update the notification (e.g., every 5 seconds)
        setInterval(updateNotificationCount, 60000);
    });
</script>