{% extends 'receptionist_template/base_template.html' %}

{% block title %}
    Ambulance Profile
{% endblock title %}

{% block breadcrumb %}
    Ambulance Profile
{% endblock breadcrumb %}

{% block main_content %}
    <section class="content">
        <div class="container-fluid">          
           
          <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form action="{% if order %}{% url 'receptionist_ambulance_order_edit' order.id %}{% else %}{% url 'receptionist_ambulance_order_create_or_update' %}{% endif %}" method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="activities">Activities:</label>
                                        <select class="form-control select2bs4" style="width: 100%;" id="activities" name="activities">
                                            <option value="">Select Activity</option>
                                            <option value="Sports Activity [per match]" {% if order and order.activities == "Sports Activity [per match]" %}selected{% endif %}>
                                                Sports Activity [per match]
                                            </option>
                                            <option value="Conference Standby [12 hours]" {% if order and order.activities == "Conference Standby [12 hours]" %}selected{% endif %}>
                                                Conference Standby [12 hours]
                                            </option>
                                            <option value="Charity Walk [12 hours]" {% if order and order.activities == "Charity Walk [12 hours]" %}selected{% endif %}>
                                                Charity Walk [12 hours]
                                            </option>
                                            <option value="Festival Event [12 hours]" {% if order and order.activities == "Festival Event [12 hours]" %}selected{% endif %}>
                                                Festival Event [12 hours]
                                            </option>
                                            <option value="Conference Standby [less than 3 hours]" {% if order and order.activities == "Conference Standby [less than 3 hours]" %}selected{% endif %}>
                                                Conference Standby [less than 3 hours]
                                            </option>
                                            <option value="Conference Standby [9-12 hours]" {% if order and order.activities == "Conference Standby [9-12 hours]" %}selected{% endif %}>
                                                Conference Standby [9-12 hours]
                                            </option>
                                            <option value="Conference standby Ambulance [24 hours]" {% if order and order.activities == "Conference standby Ambulance [24 hours]" %}selected{% endif %}>
                                                Conference standby Ambulance [24 hours]
                                            </option>
                                            <option value="Festival Event [24 hours]" {% if order and order.activities == "Festival Event [24 hours]" %}selected{% endif %}>
                                                Festival Event [24 hours]
                                            </option>
                                            <option value="Conference Standby [6-9 hours]" {% if order and order.activities == "Conference Standby [6-9 hours]" %}selected{% endif %}>
                                                Conference Standby [6-9 hours]
                                            </option>
                                            <option value="Conference Standby [3-6 hours]" {% if order and order.activities == "Conference Standby [3-6 hours]" %}selected{% endif %}>
                                                Conference Standby [3-6 hours]
                                            </option>            
                                        </select>                                        
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="cost">Cost:</label>
                                        <input type="number" class="form-control" id="cost" name="cost" value="{{ order.cost }}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="ambulance_type">Ambulance Type:</label>
                                        <select class="form-control select2bs4" style="width: 100%;" id="ambulance_type" name="ambulance_type">
                                            <option value="Type A" {% if order and order.ambulance_type == "Type A" %}selected{% endif %}>Type A</option>
                                            <option value="Type B" {% if order and order.ambulance_type == "Type B" %}selected{% endif %}>Type B</option>
                                            <option value="Type C" {% if order and order.ambulance_type == "Type C" %}selected{% endif %}>Type C</option>
                                            <option value="Type D" {% if order and order.ambulance_type == "Type D" %}selected{% endif %}>Type D</option>
                                            <!-- Add more options as needed -->
                                        </select>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="organization">Organization:</label>
                                        <input type="text" class="form-control" id="organization" name="organization" value="{{ order.organization }}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="contact_person">Contact Person:</label>
                                        <input type="text" class="form-control" id="contact_person" name="contact_person"  value="{{ order.contact_person }}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="contact_phone">Contact Phone:</label>
                                        <input type="text" class="form-control" id="contact_phone" name="contact_phone" value="{{ order.contact_phone }}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="location">Location:</label>
                                        <select class="form-control select2bs4" style="width: 100%;" id="location" name="location">
                                            <option value="Within Dar es Saalam" {% if order and order.location == "Within Dar es Saalam" %}selected{% endif %}>within Dar es Saalam</option>
                                            <option value="Outside Dar es Saalam" {% if order and order.location == "Outside Dar es Saalam" %}selected{% endif %}>Outside Dar es Saalam</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="duration">Duration (Hours):</label>
                                        <select class="form-control select2bs4" style="width: 100%;" id="duration_hours" name="duration_hours">
                                            {% for rate in duration_hours %}
                                            <option value="{{ rate }}" {% if order and order.duration == rate %}selected{% endif %}>{{ rate }} hrs</option>
                                           {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="duration_days">Duration (Days):</label>
                                        <select class="form-control select2bs4" style="width: 100%;" id="duration_days" name="duration_days">
                                            {% for rate in days %}
                                            <option value="{{ rate }}" {% if order and order.days == rate %}selected{% endif %}>{{ rate }} days</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="payment_mode">Payment Mode:</label>
                                        <select class="form-control select2bs4" style="width: 100%;" id="payment_mode" name="payment_mode">
                                            <option value="Insurance" {% if order and order.payment_mode == "Insurance" %}selected{% endif %}>Insurance</option>
                                            <option value="Cash" {% if order and order.payment_mode == "Cash" %}selected{% endif %}>Cash</option>
                                            <option value="Mpesa" {% if order and order.payment_mode == "Mpesa" %}selected{% endif %}>Mpesa</option>
                                            <option value="Tigo Pesa" {% if order and order.payment_mode == "Tigo Pesa" %}selected{% endif %}>Tigo Pesa</option>
                                            <option value="Bank" {% if order and order.payment_mode == "Bank" %}selected{% endif %}>Bank</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="order_date">Order Date:</label>
                                        <input type="date" class="form-control" id="order_date" name="order_date" value="{% if order %}{{ order.order_date|date:'Y-m-d' }}{% else %}{{ today|date:'Y-m-d' }}{% endif %}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="ambulance_number">Ambulance Number :</label>
                                        <select class="form-control select2bs4" style="width: 100%;" id="ambulance_number" name="ambulance_number">
                                            {% for ambulance_number in ambulance_numbers %}
                                            <option value="{{ ambulance_number }}" {% if order and order.ambulance_number == ambulance_number %}selected{% endif %}>{{ ambulance_number }}</option>
                                           {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <!-- Add more rows of form fields as needed -->
                            </div>
                            <div class="card-footer">
                                {% if messages %}
                                <div class="row">
                                    <div class="col-12">
                                        {% for message in messages %}
                                        {% if message.tags == 'error' %}
                                        <div class="alert alert-danger">{{ message }}</div>
                                        {% elif message.tags == 'success' %}
                                        <div class="alert alert-primary">{{ message }}</div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-md btn-primary btn-block" id="submitBtn">Save and Continue <i class="mdi mdi-forward"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
          </div>
        </div><!-- /.container-fluid -->
    </section>
{% endblock main_content %}

