{% extends 'receptionist_template/base_template.html' %}

{% block title %}
Appointments  
{% endblock title %}


{% block breadcrumb %}
{% include "receptionist_template/modal_form.html" %}
Appointments    
{% endblock breadcrumb %}

{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">               
                <h5 class="card-header bg-primary text-white text-center mt-0 mb-1"> Appointments</h5>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm" id="example">
                            <thead>
                                <tr>
                                    <th>Appointment number</th>
                                    <th>Doctor</th>
                                    <th>Patient</th>
                                    <th>Appointment Date</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>      
                                    <th>Status</th>
                            
                                </tr>
                            </thead>
                            <tbody>
                                {% for appointment in appointments %}
                                    <tr>
                                        <td>{{ appointment.appointment_number }}</td>
                                        <td>{{ appointment.doctor.admin.first_name }} {{ appointment.doctor.middle_name }} {{ appointment.doctor.admin.last_name }}</td>
                                        <td>{{ appointment.patient.first_name }} {{ appointment.patient.middle_name }} {{ appointment.patient.last_name }}</td>
                                        <td>{{ appointment.appointment_date }}</td>
                                        <td>{{ appointment.start_time }}</td>
                                        <td>{{ appointment.end_time }}</td>              
                                        <td style="{% if appointment.status == 0 %} color: orange; {% endif %}{% if appointment.status == 1 %} color: green; {% endif %}{% if appointment.status == 2 %} color: red; {% endif %}{% if appointment.status == 3 %} color: blue; {% endif %}{% if appointment.status == 4 %} color: gray; {% endif %}{% if appointment.status == 5 %} color: purple; {% endif %}{% if appointment.status == 6 %} color: darkblue; {% endif %}{% if appointment.status == 7 %} color: darkgreen; {% endif %}">
                                            {% if appointment.status == 0 %}
                                                Pending
                                            {% elif appointment.status == 1 %}
                                                Completed
                                            {% elif appointment.status == 2 %}
                                                Canceled
                                            {% elif appointment.status == 3 %}
                                                Rescheduled
                                            {% elif appointment.status == 4 %}
                                                No-show
                                            {% elif appointment.status == 5 %}
                                                In Progress
                                            {% elif appointment.status == 6 %}
                                                Confirmed
                                            {% elif appointment.status == 7 %}
                                                Arrived
                                            {% endif %}
                                        </td>                
                                        </tr>
                        
                                   {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
          
        </div>
    </div>
</div>




<style>
    .notification-link {
        position: relative;
        display: inline-block;
        margin-right: 20px;
        color: #333; /* Adjust the color as needed */
        text-decoration: none;
    }

    .notification-badge {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #dc3545; /* Bootstrap danger color */
        color: #fff; /* Text color */
        padding: 5px 8px;
        border-radius: 50%;
    }
</style>




{% include 'receptionist_template/datatable.html' %}
{% endblock main_content %}

