{% extends 'receptionist_template/base_template.html' %}
{% block title %}
   List of all service    
{% endblock title %}

{% block breadcrumb %}
{% include "receptionist_template/modal_form.html" %}
List of all service 
{% endblock breadcrumb %}
{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="card-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="header-title text-center mt-0 mb-1 text-uppercase">   List of all service  </h4>
                    </div>
                    <div class="card-body">                                                
                        <div class="table-responsive">
                            <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="example">
                                <thead>
                                    <tr>  
                                    <th scope="col">Service Name</th>   
                                    <th scope="col">coverage</th>  
                                    <th scope="col">Cost</th>       
                                    <th scope="col">Type of Service</th>
                                    <th scope="col">Description</th>             
                                    <th scope="col">Created At</th>
                                
                                    </tr>
                                </thead>
                                <tbody>
                                {% for service in services %}
                                <tr>
                                    <td>{{ service.name }}</td>
                                    <td>{{ service.coverage }}</td>
                                    <td>{{ service.cost }}</td>            
                                    <td>{{ service.type_service }}</td>            
                                    <td class="wrap-text">{{ service.description }}</td>             
                                    <td>{{ service.created_at }}</td>
                                
                                <style>
                                /* CSS to make text wrap */
                                .wrap-text {
                                    white-space: normal;
                                }
                                </style>    


                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  

{% include 'receptionist_template/datatable.html' %}
    

{% endblock main_content %}
