{% extends 'receptionist_template/base_template.html' %}
{% block title %}
Patient procedure   
{% endblock title %}

{% block page_title %}
Patient procedure for <p style="color: green;">{{ patient.fullname }}-{{ patient.mrn }}</p>  
{% endblock page_title %}

{% block breadcrumb %}
{% include "receptionist_template/modal_form.html" %}

{% endblock breadcrumb %}
{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="header-title text-center mt-0 mb-1 text-uppercase">Patient procedure</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">                      
                    <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="example">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Duration Time</th>
                                <th>Equipments Used</th>
                                <th>Cost</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for procedure in procedures %}
                                <tr>
                                    <td>{{ procedure.name }}</td>
                                    <td>{{ procedure.description }}</td>
                                    <td>{{ procedure.duration_time }}</td>
                                    <td>{{ procedure.equipments_used }}</td>
                                    <td>{{ procedure.cost }}</td>
                                    <td>       
                                    
                                    <!-- Add billing action link -->
                                    <a href="{% url 'generate_billing' procedure.id %}" class="btn btn-success btn-sm" data-toggle="tooltip" title="Generate Billing">
                                        <i class="fas fa-file-invoice"></i>
                                    </a>
                                </td>
                                </tr>

                                            
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% include 'receptionist_template/datatable.html' %}
    

{% endblock main_content %}
