{% extends 'receptionist_template/base_template.html' %}
{% load customfilter %}
{% block title %}
Patient procedure   
{% endblock title %}

{% block page_title %}
Patient procedure 
{% endblock page_title %}

{% block breadcrumb %}
{% include "receptionist_template/modal_form.html" %}
    <a class="btn btn-primary float-right" type="button" data-toggle="modal" data-target="#remoteProcedureModal">
        <i class="fas fa-eye"></i> view procedure result
    </a>
    <a class="btn btn-primary float-right" type="button" data-toggle="modal" data-target="#prescriptionModal">
        <i class="fas fa-eye-slash"></i> view prescription
    </a>
{% endblock breadcrumb %}
{% block main_content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">               
                <div class="card-body">
                    <div class="row text-uppercase" style="font-size:13px;">
                        <div class="col-md-3">PATIENT: <b>{{ patient.first_name }} {{ patient.middle_name }}  {{ patient.last_name }}</b></div>
                        <div class="col-md-3">DOB: <b>{{ patient.dob|date:'Y-m-d' }} [ Age: {% if patient.dob %}
                            <script>
                                var dob = new Date("{{ patient.dob|date:'Y-m-d' }}");
                                var now = new Date();
                                var ageMilliseconds = now - dob;
                                var ageSeconds = ageMilliseconds / 1000;
                                var ageYears = Math.floor(ageSeconds / (365.25 * 24 * 60 * 60));
                                document.write(ageYears + ' years');
                            </script>
                            {% else %}
                            {{ patient.age }}
                            {% endif %}]</b></div>
                        <div class="col-md-3">SEX: <b>{{ patient.gender }}</b></div>
                        <div class="col-md-3">FILE NO : <b>{{ patient.mrn }}</b> </div>
                    </div>
                        <div class="row mt-3">
                            <div class="col-md-3">PAYMENT MODE: <b>{{ patient.payment_form }}</b></div>
                            <div class="col-md-3">VISIT NUMBER: <b>{{ visit_number }}</b></div>                           
                        </div>
                </div>           
            
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="header-title text-center mt-0 mb-1 text-uppercase"> Add New Procedure Order </h4>
                </div>
                <div class="card-body">
                    <form id="addProcedureForm" method="post">
                        {% csrf_token %}
                        <div class="table-responsive">
                            <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm display" id="procedureTable{{ visit.id }}">
                                <thead>
                                    <tr>
                                        <th>Procedure Name</th>
                                        <th>Description</th>
                                        <th>Equipments Used</th>
                                        <th>Cost</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <select class="form-control select2bs4 procedure-name" style="width: 100%;" name="procedure_name[]" required>
                                                <option value="">Select Procedure</option>
                                                {% for procedure in remote_service %}
                                                    <option value="{{ procedure.id }}">{{ procedure.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input type="text" class="form-control description" name="description[]" placeholder="Enter procedure description"></td>
                                        <td><input type="text" class="form-control equipments-used" name="equipments_used[]" placeholder="Enter equipments used"></td>
                                        <td><input type="text" class="form-control cost" name="cost[]" readonly></td>
                                        <td><button type="button" class="btn btn-danger delete-row">Delete</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- Total Cost -->
                        <div class="row">
                            <div class="col-md-9"></div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-6">Total Cost</div>
                                    <div class="col-md-6">
                                        Sh <span id="totalCost{{ visit.id }}">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="ProcedureResponse"></div>
                            </div>
                        </div>
                        <input type="hidden" class="form-control" id="visit_id{{ visit.id }}" name="visit_id" value="{{ visit_history.id }}">
                        <input type="hidden" class="form-control" id="patient_id{{ visit.id }}" name="patient_id" value="{{ patient.id }}">
                        <!-- Save Procedure button -->
                        <div class="form-group mt-3">
                            <button type="button" class="btn btn-info btn-block" id="addRow{{ visit.id }}"><i class="fa fa-plus-square" aria-hidden="true"></i> Add Procedure</button>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Order Date</label>
                                    <input type="date" class="form-control total-cost" name="order_date" id="orderDate">
                                </div>
                                <script>
                                    // Get the current date in the format yyyy-mm-dd
                                    const currentDate = new Date().toISOString().split('T')[0];
                                    
                                    // Set the value of the input field to the current date
                                    document.getElementById('orderDate').value = currentDate;
                                </script>
                            </div>                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="doctor">Doctor:</label>
                                    <select class="form-control select2bs4" style="width: 100%;" name="doctor_id" id="doctor" required>                                     
                                        {% for doctor in doctors %}
                                            <option value="{{ doctor.id }}">{{ doctor.admin.first_name }} {{ doctor.middle_name }} {{ doctor.admin.last_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                             </div>                      
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-block" onclick="addProcedure{{ visit.id }}()">Place Order & Pay</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        $(document).ready(function() {
            // Add row button functionality
            $('#addRow{{ visit.id }}').click(function() {
                var newRow = `
                    <tr>
                        <td>
                            <select class="form-control select2bs4 procedure-name" style="width: 100%;" name="procedure_name[]" required>
                                <option value="">Select Procedure</option>
                                {% for procedure in remote_service %}
                                    <option value="{{ procedure.id }}">{{ procedure.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input type="text" class="form-control description" name="description[]" placeholder="Enter procedure description"></td>
                        <td><input type="text" class="form-control equipments-used" name="equipments_used[]" placeholder="Enter equipments used"></td>
                        <td><input type="text" class="form-control cost" name="cost[]" readonly></td>
                        <td><button type="button" class="btn btn-danger delete-row">Delete</button></td>
                    </tr>`;
                $('#procedureTable{{ visit.id }} tbody').append(newRow);
            });
    
            // Delete row button functionality
            $(document).on('click', '.delete-row', function() {
                $(this).closest('tr').remove();
                updateTotalCost{{ visit.id }}();
            });
    
                        // Fetch cost when procedure name is selected
                $(document).on('change', '.procedure-name', function() {
                    var selectedProcedureId = $(this).val();
                    var patientId = $('#patient_id{{ visit.id }}').val(); // Get the patient ID
                    var row = $(this).closest('tr');
                    $.ajax({
                        url: '{% url "receptionist_get_procedure_cost" %}',
                        method: 'POST', // Change method to POST
                        data: {
                            procedure_id: selectedProcedureId,
                            patient_id: patientId // Include patient ID in the POST data
                        },
                        success: function(response) {
                            row.find('.cost').val(response.cost);
                            updateTotalCost{{ visit.id }}();
                        },
                        error: function(xhr, status, error) {
                            console.error(xhr.responseText);
                        }
                    });
                });
            // Function to update total cost
            function updateTotalCost{{ visit.id }}() {
                var totalCost = 0;
                $('#procedureTable{{ visit.id }} tbody tr').each(function() {
                    var cost = parseFloat($(this).find('.cost').val());
                    if (!isNaN(cost)) {
                        totalCost += cost;
                    }
                });
                $('#totalCost{{ visit.id }}').text(totalCost.toFixed(2));
            }
        });
    
        // Handle form submission using AJAX
        function addProcedure{{ visit.id }}() {
            $.ajax({
                type: 'POST',
                url: '{% url "receptionist_add_procedure" %}',
                data: $('#addProcedureForm').serialize(),
                success: function(response) {
                    if (response.status === 'success') {
                        $('#ProcedureResponse').html('<div class="alert alert-success">' + response.message + '</div>');
                        window.location.href = '{% url "receptionist_all_orders_view" %}';
                    } else {
                        $('#ProcedureResponse').html('<div class="alert alert-danger">' + response.message + '</div>');
                    }
                },
                error: function(xhr, status, error) {
                    $('#ProcedureResponse{{ visit.id }}').html('<div class="alert alert-danger">' + xhr.responseText + '</div>');
                }
            });
        }
    </script>
    
</div>


<!-- Bootstrap Modal for displaying RemoteProcedure content -->
<div class="modal fade" id="remoteProcedureModal" tabindex="-1" role="dialog" aria-labelledby="remoteProcedureModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center text-uppercase" id="prescriptionModalLabel">Procedure Total cost: <span style="background-color: red;">{{ total_procedure_cost }}</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <div class="table-responsive">
                <table class="table table-hover text-nowrap table-bordered table-striped" id="example">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>                           
                            <th>Equipments Used</th>
                            <th>Cost</th>
                            <th>Created At</th>
                            <th>Updated At</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for procedure in procedures %}
                        <tr>
                            <td>{{ procedure.name }}</td>
                            <td>{{ procedure.description }}</td>                           
                            <td>{{ procedure.equipments_used }}</td>
                            <td>{{ procedure.cost }}</td>
                            <td>{{ procedure.created_at }}</td>
                            <td>{{ procedure.updated_at }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
               </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<style>
    /* Reset default margin and padding */
.navigation {
    padding-left: 0;
    list-style: none;
}

/* Style for the header */
.navigation-header {
    background-color: #f0f0f0; /* Header background color */
    color: #333; /* Header text color */
    font-weight: bold;
    padding: 10px; /* Add padding to the header */
    border-radius: 5px; /* Add border radius */
    margin-bottom: 10px; /* Add space between header and links */
}

/* Style for each list item */
.navigation li {
    margin-bottom: 5px;
}

/* Style for each link */
.navigation li a {
    color: #333; /* Default text color */
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

/* Style for the active link */
.navigation li.active a {
    background-color: #007bff; /* Active background color */
    color: #fff; /* Active text color */
}

/* Style for link hover */
.navigation li a:hover {
    background-color: #e0e0e0; /* Hover background color */
    color: #000; /* Change text color on hover */
}

    
</style>
<style>
    /* styles.css */

/* Add custom styles for the container */
.container {
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

/* Add styles for the card */
.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Add styles for the table */
.table {
    width: 100%;
}

/* Add styles for table headers */
.table th {
    background-color: #007bff;
    color: #fff;
}

/* Add styles for table rows */
.table tbody tr {
    background-color: #f9f9f9;
}

/* Add styles for buttons */
.btn {
    border-radius: 5px;
    margin-right: 5px;
}

/* Add more styles as needed */

</style>
<div class="modal fade" id="prescriptionModal" tabindex="-1" role="dialog" aria-labelledby="prescriptionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="prescriptionModalLabel">Prescription and Total Amount: <span style="background-color: red;">{{ total_price }}</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover text-nowrap table-bordered table-striped" id="example5">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Drug</th>
                                        <th>Dose</th>
                                        <th>Frequency</th>
                                        <th>Duration</th>
                                        <th>Quantity</th>
                                        <th>Unit Price</th>
                                        <th>Total Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for prescription in prescriptions %}
                                    <tr>
                                        <td>{{ prescription.id }}</td>
                                        <td>{{ prescription.medicine.name }}</td>
                                        <td>{{ prescription.dose }}</td>
                                        <td>{{ prescription.frequency }}</td>
                                        <td>{{ prescription.duration }}</td>
                                        <td>{{ prescription.quantity_used }}</td>
                                        <td>{{ prescription.medicine.unit_price }}</td>
                                        <td>{{ prescription.total_price }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


{% include 'receptionist_template/datatable.html' %}
    

{% endblock main_content %}
