{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
      <img src="{% static 'dist/img/resalogo.png' %}" alt="resa Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Resa Clinic </span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar"> 
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
              {% if doctor.profile_pic %}
                  <img src="" class="img-circle elevation-2" alt="User Image">
              {% else %}
                  <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
              {% endif %}
          </div>
          <div class="info">
              {% url 'admin_profile' as admin_profile %}
              <a href="#" class="d-block">{{user.username}}</a>
          </div>
      </div> 

      <!-- Sidebar Menu -->
      <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <!-- Home Section -->
              <li class="nav-item">
                  {% url 'receptionist_dashboard' as admin_home %}
                  <a href="{% url "receptionist_dashboard" %}" class="nav-link {% if request.path == admin_home %} active {% endif %}">
                      <i class="nav-icon fas fa-th"></i>
                      <p>HOME</p>
                  </a>
              </li> 

              <!-- Clinic Section -->
              <li class="nav-item has-treeview">
                  <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-hospital"></i>
                      <p>Reception <i class="fas fa-angle-left right"></i></p>
                  </a>
                  <ul class="nav nav-treeview">
                  
                      <li class="nav-item">
                        {% url 'receptionist_prescription_list' as prescription_list_url %}
                        <a href="{% url 'receptionist_prescription_list' %}" class="nav-link{% if request.path == prescription_list_url %} active {% endif %}">
                            <i class="nav-icon fas fa-prescription-bottle"></i>
                            <p>Prescriptions</p>
                        </a>
                    </li>
                    
                      <!-- Other Clinic Links -->
                      <li class="nav-item">
                        {% url 'receptionist_manage_patients' as manage_patient %}
                          <a href="{% url "receptionist_manage_patients" %}" class="nav-link{% if request.path == manage_patient %} active {% endif %}">
                              <i class="nav-icon fas fa-users"></i>
                              <p>Patients</p>
                          </a>
                      </li>
                 
                      <li class="nav-item">
                        {% url 'receptionist_ambulance_order_view' as ambulance_order_url %}
                        <a href="{% url "receptionist_ambulance_order_view" %}" class="nav-link{% if request.path == ambulance_order_url %} active {% endif %}">
                            <i class="nav-icon fas fa-ambulance"></i>
                            <p>Ambulance Orders</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        {% url 'receptionist_all_orders_view' as receptionist_all_orders_view %}
                        <a href="{% url "receptionist_all_orders_view" %}" class="nav-link{% if request.path == receptionist_all_orders_view %} active {% endif %}">
                            <i class="nav-icon fas fa-list"></i> <!-- Updated with the correct Font Awesome icon class -->
                            <p>Billing Orders</p> <!-- Renamed to a more attractive name -->
                        </a>
                    </li>
                      <li class="nav-item">
                        {% url 'receptionist_vehicle_ambulance_view' as vehicle_ambulance_view %}
                        <a href="{% url 'receptionist_vehicle_ambulance_view' %}" class="nav-link{% if request.path == vehicle_ambulance_view %} active {% endif %}">
                            <i class="nav-icon fas fa-ambulance"></i>
                            <p>Other Service</p>
                        </a>
                    </li>
                   
                      <li class="nav-item">
                        {% url 'receptionist_patient_vital_all_list' as patient_vital_all_list %}
                        <a href="{% url 'receptionist_patient_vital_all_list'  %}" class="nav-link{% if request.path == patient_vital_all_list %} active {% endif %}">
                            <i class="nav-icon fas fa-heartbeat"></i> <!-- Font Awesome icon for vital signs -->
                            <p>All Vital Signs</p> <!-- Renamed navigation link -->
                        </a>
                    </li>                   
                                 
                      <li class="nav-item">
                        {% url 'receptionist_patient_procedure_view' as patient_procedure_view %}
                          <a href="{% url "receptionist_patient_procedure_view" %}" class="nav-link{% if request.path == patient_procedure_view %} active {% endif %}">
                            <i class="nav-icon fas fa-hospital"></i>
                              <p>Medical Procedure</p>
                          </a>
                      </li>                   
                       <li class="nav-item">
                        {% url 'receptionist_appointment_list' as appointment_list %}
                          <a href="{% url "receptionist_appointment_list" %}" class="nav-link{% if request.path == appointment_list %} active {% endif %}">
                            <i class="nav-icon fas fa-calendar"></i>
                              <p>Appointment</p>
                          </a>
                      </li>                     
                                        
                      <li class="nav-item">
                        {% url 'receptionist_manage_service' as manage_service %}
                          <a href="{% url "receptionist_manage_service" %}" class="nav-link{% if request.path == manage_service %} active {% endif %}">
                              <i class="nav-icon fas fa-medkit"></i>
                              <p>Services</p>
                          </a>
                      </li>
                              
                  </ul>
              </li>
             
              </li>
          </ul>
      </nav>
      <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

