{% extends 'doctor_template/base_template.html' %}

{% block title %}
Prescription 
{% endblock title %}



{% block breadcrumb %}
{% include "doctor_template/modal_form.html" %}
Prescription 
{% endblock breadcrumb %}


{% load static %}
{% block main_content %}

<style>
    .total-payment {
        font-family: 'Roboto', sans-serif; /* Use a custom font */
        font-weight: bold;
        font-size: 24px;
        color: #2c3e50; /* Text color */
        background-color: #f1c40f; /* Background color */
        padding: 10px 20px; /* Padding around the text */
        border-radius: 10px; /* Rounded corners */
        border: 2px solid #e67e22; /* Border */
        display: inline-block; /* Display as inline block */
        margin-bottom: 20px; /* Bottom margin for spacing */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow */
        transition: background-color 0.3s ease; /* Smooth background color transition */
    }
    
    .total-payment:hover {
        background-color: #e67e22; /* Change background color on hover */
        color: #fff; /* Change text color on hover */
    }
    
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3  class="header-title text-center mt-0 mb-1  text-uppercase"> Prescription </h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm display" id="example" style="width:100%">
                            <thead>
                                <tr> 
                                    <th>Date</th>     
                                    <th>Visit Number</th>
                                    <th>Patient</th>              
                                    <th>Billing Amount</th> 
                                    <th>Verified</th>  <!-- Add this column -->
                                    <th>Issued</th>   <!-- Add this column -->
                                    <th>Status</th>   <!-- Add this column -->
                                    <th>Action</th>               
                                </tr>
                            </thead>
                            <tbody>
                                {% for visit_total in visit_total_prices %}
                                    <tr>  
                                        <td>{{ visit_total.visit__created_at|date:"d/m/Y" }}</td> <!-- Format date as dd/mm/yyyy -->
                                        <td>{{ visit_total.visit__vst }}</td> <!-- Display visit number -->
                                        <td>{{ visit_total.visit__patient__first_name }} {{ visit_total.visit__patient__middle_name }}  {{ visit_total.visit__patient__last_name }}</td> <!-- Display patient name -->
                                        <td>{{ visit_total.total_price }}</td> <!-- Display total price for the visit -->
                                        
                                        <td>
                                            <p  {% if visit_total.verified == 'verified' %}   style="background-color: #308829;color: white;" {% else %}  style="background-color: #DD0000;color: white;" {% endif %}>
                                                {{ visit_total.verified }}
                                            </p>
                                          
                                        </td>  <!-- Display verified field -->
                                        
                                        <td>
                                            <p  {% if visit_total.issued == 'issued' %}   style="background-color: #308829;color: white;" {% else %}  style="background-color: #DD0000;color: white;" {% endif %}> {{ visit_total.issued }}</p>
                                           
                                        </td>   <!-- Display issued field -->
                                        
                                        <td >
                                           <p {% if visit_total.status == 'Paid' %}   style="background-color: #308829;color: white;" {% else %}  style="background-color: #DD0000;color: white;" {% endif %}> {{ visit_total.status }}</p>
                                        </td>   <!-- Display payment status field -->
                                        
                                        <td>
                                            <a class="btn btn-primary" href="{% url 'prescription_detail' visit_total.visit__vst visit_total.visit__patient__id %}">
                                                <i class="fas fa-eye"></i> View
                                            </a>   
                                            <a class="btn btn-secondary" href="{% url 'prescription_billing' visit_total.visit__vst visit_total.visit__patient__id %}">
                                                <i class="fas fa-file-invoice"></i> Prescription Bill
                                            </a>   
                                            <a class="btn btn-success" href="{% url 'prescription_notes' visit_total.visit__vst visit_total.visit__patient__id %}">
                                                <i class="fas fa-notes-medical"></i> Prescription Notes
                                            </a>   
                                        </td>
                                             
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>                        
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'doctor_template/datatable.html' %}
{% endblock main_content %}
