{% extends 'doctor_template/base_template.html' %}

{% block title %}
Radiology
{% endblock title %}

{% block breadcrumb %}
{% include "doctor_template/modal_form.html" %}
Radiology
{% load static %}
{% endblock breadcrumb %}

{% block main_content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="header-title text-center mt-0 mb-1 text-uppercase">Radiology</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-bordered table-striped" id="example4">
                            <thead>
                                <tr>
                                    <th>Visit number</th>
                                    <th>Order date</th>
                                    <th>Patient</th>
                                    <th>Image Name</th>
                                    <th>Description</th>                           
                                    <th>Cost</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for record in pathodology_records %}
                                <tr>
                                    <td>{{ record.visit.vst }}</td>
                                    <td>{{ record.order_date }}</td>
                                    <td>{{ record.patient.first_name }} {{ record.patient.middle_name }} {{ record.patient.last_name }}</td> 
                                    <td>{{ record.imaging.name }}</td>
                                    <td>{{ record.description }}</td>                            
                                    <td>{{ record.cost }}</td>
                                    <td>{{ record.created_at|date:"F d, Y" }}</td>
                                    <td>
                                        <a href="{% url 'edit_radiology_result' record.patient.id record.visit.id record.id %}" class="btn btn-info">View result</a>
                                    </a>
                                                          <!-- Add more action links as needed -->
                                        <a href="{% url 'generate_invoice_bill' record.patient.id record.visit.id %}" data-toggle="tooltip" title="open vital">
                                        <button type="button" class="btn btn-success btn-sm"><i class="fa fa-eye text-dark"></i></button>
                                    </a>  
                                    </td>
                                </tr>                             
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'doctor_template/datatable.html' %}

{% endblock main_content %}
