{% extends 'doctor_template/base_template.html' %}

{% block title %}
 Vital Information
{% endblock title %}

{% block breadcrumb %}
{% include "doctor_template/modal_form.html" %}
Vital Information
{% endblock breadcrumb %}


{% load static %}
{% block main_content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="header-title text-center mt-0 mb-1 text-uppercase">Vital Information</h5>
                </div>
                <div class="card-body">                    
                <div class="table-responsive">
                    <table class="table table-hover table-condensed text-nowrap table-responsive-sm table-bordered table-striped table-sm  display" id="example"  style="width:100%">
                        <thead>
                            <tr>
                                <th>Was Recorded By</th>
                                <th>Vital number</th>
                                <th>P/Name</th>
                                <th>Recorded Date</th>
                                <th>Recorded Time</th>
                                <th>RR (bpm)</th>
                                <th>PR (bpm)</th>
                                <th>BR</th>
                                <th>SPO2 (%)</th>
                                <th>Temperature (°C)</th>
                                <th>GCS</th>
                                <th>AVPU</th>                    
                                           
                            </tr>
                        </thead>
                        <tbody>
                            {% for vital in patient_vitals %}
                                <tr>
                                    <td>{{ vital.recorded_by.admin.first_name }} {{ vital.recorded_by.admin.middle_name }}  {{ vital.recorded_by.admin.last_name }}</td>
                                    <td>{{ vital.unique_identifier }}</td>
                                    <td>{{ vital.patient.first_name }} {{ vital.patient.middle_name }}  {{ vital.patient.last_name }}</td>
                                    <td>{{ vital.recorded_at|date:"Y-m-d" }}</td>
                                    <td>{{ vital.recorded_at|time:"H:i:s" }}</td>
                                    <td>{{ vital.respiratory_rate }}</td>
                                    <td>{{ vital.pulse_rate }}</td>
                                    <td>{{ vital.blood_pressure }}</td>
                                    <td>{{ vital.spo2 }}%</td>
                                    <td>{{ vital.temperature }}</td>
                                    <td>{{ vital.gcs }}</td>
                                    <td>{{ vital.avpu }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% include 'doctor_template/datatable.html' %}
{% endblock main_content %}
