{% extends 'doctor_template/base_template.html' %}
{% block title %}
all Procedure    
{% endblock title %}
{% block breadcrumb %}
{% include "doctor_template/modal_form.html" %}
    <a class="btn btn-success float-right mr-2" href="{% url 'import_procedure_records' %}">
        <i class="fas fa-file-import"></i> Import Procedure
      </a>
{% endblock breadcrumb %}
{% block main_content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="header-title text-center mt-0 mb-1 text-uppercase">All Procedures</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">                    
                        <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="example">
                            <thead>
                                <tr>
                                    <th>Visit number</th>
                                    <th>Order date</th>
                                    <th>Patient MRN</th>
                                    <th>Procedure Name</th>
                                    <th>Description</th>                             
                                    <th>Equipments</th>
                                    <th>Cost</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for record in procedures %}
                                    <tr>
                                        <td>{{ record.visit.vst }}</td>
                                        <td>{{ record.order_date }}</td>
                                        <td>{{ record.patient.first_name }} {{ record.patient.middle_name }} {{ record.patient.last_name }}</td>
                                        <td>{{ record.name }}</td>
                                        <td>{{ record.description }}</td>                                      
                                        <td>{{ record.equipments_used }}</td>
                                        <td>{{ record.cost }}</td>
                                        <td>                                          
                                            <a href="{% url 'edit_procedure_result' record.patient.id record.visit.id record.id %}" class="btn btn-info">View result</a>
                                            </a>
                                            <a href="{% url 'generate_invoice_bill' record.patient.id record.visit.id %}" data-toggle="tooltip" title="open vital">
                                                <button type="button" class="btn btn-success btn-sm"><i class="fa fa-eye text-dark"></i></button>
                                            </a>
                                        </td>
                                    </tr>                                   
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'doctor_template/datatable.html' %}
    

{% endblock main_content %}
