{% extends 'doctor_template/base_template.html' %}
{% block title %}
   List of all patients    
{% endblock title %}

{% block breadcrumb %}
{% include "doctor_template/modal_form.html" %} 
List of all patients 
{% endblock breadcrumb %}
{% block main_content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="header-title text-center mt-0 mb-1  text-uppercase"> List of all patients </h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">    
                        <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="example">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>mrn</th>
                                    <th>Name</th>
                                    <th>Age</th>
                                    <th>Gender</th>
                                    <th>Payment form</th>
                                    <th>Phone</th>             
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for patient in patient_records %}
                                    <tr>
                                        <td>{{ patient.id }}</td>
                                        <td>{{ patient.mrn }}</td>
                                        <td class="text-uppercase">{{ patient.first_name }} {{ patient.middle_name }}  {{ patient.last_name }}</td>   
                                        <td> {% if patient.dob %}
                                            <script>
                                                var dob = new Date("{{ patient.dob|date:'Y-m-d' }}");
                                                var now = new Date();
                                                var ageMilliseconds = now - dob;
                                                var ageSeconds = ageMilliseconds / 1000;
                                                var ageYears = Math.floor(ageSeconds / (365.25 * 24 * 60 * 60));
                                                document.write(ageYears + ' years');
                                            </script>
                                            {% else %}
                                            {{ patient.age }}
                                            {% endif %}
                                    </td>
                                        <td>{{ patient.gender }}</td>
                                        <!-- Add more cells for other fields -->
                                        <td>{{ patient.payment_form }}</td>
                                        <td>{{ patient.phone }}</td>                                   
                                        <td>                  
                                            <a href="{% url 'patient_visit_history_view' patient.id %}" data-toggle="tooltip" title="open visit History">
                                            <button type="button" class="btn btn-success btn-sm"><i class="fa fa-eye text-dark"></i></button>
                                        </a>   
                                             
                                        </td>
                                    </tr>
                    
                                  
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



 

{% include 'doctor_template/datatable.html' %}
    

{% endblock main_content %}
