{% extends 'doctor_template/base_template.html' %}

{% block title %}
Patient Vital Information
{% endblock title %}



{% block breadcrumb %}
{% include "doctor_template/modal_form.html" %}
Patient Vital Information

{% endblock breadcrumb %}


{% load static %}
{% block main_content %}


<div class="">
    <table class="table table-hover table-condensed text-nowrap table-responsive-sm table-bordered table-striped table-sm  display" id="example"  style="width:100%">
        <thead>
            <tr>
                <th>Recorded Date</th>
                <th>Recorded Time</th>
                <th>RR (bpm)</th>
                <th>PR (bpm)</th>
                <th>BR</th>
                <th>SPO2 (%)</th>
                <th>Temperature (°C)</th>
                <th>Weight (Kg)</th>
                <th>GCS</th>
                <th>AVPU</th>                      
                        
            </tr>
        </thead>
        <tbody>
            {% for vital in patient_vitals %}
                <tr>
                    <td>{{ vital.recorded_at|date:"Y-m-d" }}</td>
                    <td>{{ vital.recorded_at|time:"H:i:s" }}</td>
                    <td>{{ vital.respiratory_rate }}</td>
                    <td>{{ vital.pulse_rate }}</td>
                    <td>{{ vital.blood_pressure }}</td>
                    <td>{{ vital.spo2 }}%</td>
                    <td>{{ vital.temperature }}</td>
                    <td>{{ vital.weight }}</td>
                    <td>{{ vital.gcs }}</td>
                    <td>{{ vital.avpu }}</td>                 
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'doctor_template/datatable.html' %}
{% endblock main_content %}
