{% extends 'doctor_template/base_template.html' %}
{% block title %}
all Procedure    
{% endblock title %}
{% block breadcrumb %}
{% include "doctor_template/modal_form.html" %}
all Procedure  
{% endblock breadcrumb %}
{% block main_content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="header-title text-center mt-0 mb-1 text-uppercase">Today Procedure Orders</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">                    
                        <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="example">
                            <thead>
                                <tr>
                                    <th>Order Number</th>                               
                                    <th>Order Name</th>                               
                                    <th>Ordered By</th>                               
                                    <th>Patient</th>                              
                                    <th>Order Date</th>
                                    <th>Actions</th> <!-- Add a column for actions -->
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <td>{{ order.order_number }}</td>                                  
                                        <td>{{ order.order_type  }}</td>                                  
                                        <td>{{ order.added_by }}
                                            <p><strong>{{ order.added_by.role }}</strong></p>
                                        </td>                                  
                                        <td>{{ order.patient }}
                                            <p><strong>{{ order.patient.payment_form }}</strong></p>
                                        </td>
                                        <td>{{ order.order_date }}</td>
                                        <td>                                          
                                                                 <!-- Add more action links as needed -->
                                        <a href="{% url 'patient_procedure_view' %}" data-toggle="tooltip" title="Go to Radiology record">
                                            <button type="button" class="btn btn-success btn-sm"><i class="fa fa-eye text-dark"></i></button>
                                        </a> 
                                        </td>
                                    </tr>                                  
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'doctor_template/datatable.html' %}
    

{% endblock main_content %}
