{% extends 'doctor_template/base_template.html' %}

{% block title %}
Prescription List
{% endblock title %}

{% block breadcrumb %}
{% include "doctor_template/modal_form.html" %}
Prescription List
{% endblock breadcrumb %}

{% load static %}
{% block main_content %}
<style>
    .total-payment {
        font-family: 'Roboto', sans-serif; /* Use a custom font */
        font-weight: bold;
        font-size: 24px;
        color: #2c3e50; /* Text color */
        background-color: #f1c40f; /* Background color */
        padding: 10px 20px; /* Padding around the text */
        border-radius: 10px; /* Rounded corners */
        border: 2px solid #e67e22; /* Border */
        display: inline-block; /* Display as inline block */
        margin-bottom: 20px; /* Bottom margin for spacing */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow */
        transition: background-color 0.3s ease; /* Smooth background color transition */
    }
    
    .total-payment:hover {
        background-color: #e67e22; /* Change background color on hover */
        color: #fff; /* Change text color on hover */
    }
    
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
               
                <div class="card-body">
                    <div class="row" style="font-size:13px;">
                        <div class="col-md-3"><b>PATIENT: {{ patient.first_name }} {{ patient.middle_name }}  {{ patient.last_name }}</b></div>
                        <div class="col-md-3"><b>DOB: {{ patient.dob|date:'Y-m-d' }} [ Age: {% if patient.dob %}
                            <script>
                                var dob = new Date("{{ patient.dob|date:'Y-m-d' }}");
                                var now = new Date();
                                var ageMilliseconds = now - dob;
                                var ageSeconds = ageMilliseconds / 1000;
                                var ageYears = Math.floor(ageSeconds / (365.25 * 24 * 60 * 60));
                                document.write(ageYears + ' years');
                            </script>
                            {% else %}
                            {{ patient.age }}
                            {% endif %}]</b></div>
                        <div class="col-md-3"><b>SEX: {{ patient.gender }}</b></div>
                        <div class="col-md-3"><b>FILE NO : {{ patient.mrn }}</b> </div>
                    </div>
                        <div class="row mt-3">
                            <div class="col-md-3"><b>PAYMENT MODE: {{ patient.payment_form }}</b></div>
                        </div>
                </div>           
            
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
           <div class="card">
                <div class="card-header">
                    <h4 class="header-title text-center mt-0 mb-1 text-uppercase">  {{ patient.first_name }} Prescription</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm  display" id="example5"  style="width:100%">
                            <thead>
                                <tr>
                                    <th>Was Recorded By</th>
                                    <th>Drug</th>                                                      
                                    <th>Dose</th>
                                    <th>Frequency</th>
                                    <th>Duration</th>
                                    <th>Quantity</th>
                                    <th>Unit Price</th>
                                    <th>Total Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for prescription in prescriptions %}
                                <tr>
                                    <td>{{ prescription.entered_by.admin.first_name }} {{ prescription.entered_by.admin.middle_name }}  {{ prescription.entered_by.admin.last_name }}</td>                                
                                    <td>{{ prescription.medicine.name }}</td>
                                    <td>{{ prescription.dose }}</td>                                                       
                                    <td>{{ prescription.frequency }}</td>
                                    <td>{{ prescription.duration }}</td>
                                    <td>{{ prescription.quantity_used }}</td>
                                    <td>{{ prescription.medicine.unit_price }}</td>
                                    <td>{{ prescription.total_price }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
           </div>
        </div>
    </div>
    
</div>


{% include 'hod_template/datatable.html' %}
{% endblock main_content %}
