{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
      <img src="{% static 'dist/img/resalogo.png' %}" alt="resa Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Resa Clinic </span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar"> 
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
              {% if doctor.profile_pic %}
                  <img src="" class="img-circle elevation-2" alt="User Image">
              {% else %}
                  <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
              {% endif %}
          </div>
          <div class="info">
              {% url 'admin_profile' as admin_profile %}
              <a href="#" class="d-block">{{user.username}}</a>
          </div>
      </div> 

      <!-- Sidebar Menu -->
      <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <!-- Home Section -->
              <li class="nav-item">
                  {% url 'clinic:dashboard' as admin_home %}
                  <a href="{% url "clinic:dashboard" %}" class="nav-link {% if request.path == admin_home %} active {% endif %}">
                      <i class="nav-icon fas fa-th"></i>
                      <p>HOME</p>
                  </a>
              </li> 

              <!-- Clinic Section -->
              <li class="nav-item has-treeview">
                  <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-hospital"></i>
                      <p>Doctor <i class="fas fa-angle-left right"></i></p>
                  </a>
                  <ul class="nav nav-treeview">
                  
                      <li class="nav-item">
                        {% url 'prescription_list' as prescription_list_url %}
                        <a href="{{ prescription_list_url }}" class="nav-link{% if request.path == prescription_list_url %} active {% endif %}">
                            <i class="nav-icon fas fa-prescription-bottle"></i>
                            <p>Prescriptions</p>
                        </a>
                    </li>
                    
                      <!-- Other Clinic Links -->
                      <li class="nav-item">
                        {% url 'manage_patient' as manage_patient %}
                          <a href="{% url "manage_patient" %}" class="nav-link{% if request.path == manage_patient %} active {% endif %}">
                              <i class="nav-icon fas fa-users"></i>
                              <p>Patients</p>
                          </a>
                      </li>
                      
                
                      <li class="nav-item">
                        {% url 'patient_vital_all_list' as patient_vital_all_list %}
                        <a href="{% url 'patient_vital_all_list'  %}" class="nav-link{% if request.path == patient_vital_all_list %} active {% endif %}">
                            <i class="nav-icon fas fa-heartbeat"></i> <!-- Font Awesome icon for vital signs -->
                            <p>All Vital Signs</p> <!-- Renamed navigation link -->
                        </a>
                    </li>
                  <li class="nav-item">
                        {% url 'manage_referral' as manage_referral %}
                        <a href="{% url 'manage_referral' %}" class="nav-link{% if request.path == manage_referral %} active {% endif %}">
                            <i class="nav-icon fas fa-handshake"></i>
                            <p>Referral</p>
                        </a>
                    </li>                           
                             
                  </ul>
              </li>  

            <li class="nav-item has-treeview">
                <a class="nav-link" href="#">
                    <i class="nav-icon fas fa-calendar"></i>
                    <p>Medical Procedure <span id="unreadProcedureOrderBadge" class="badge badge-danger">0</span><i class="fas fa-angle-left right"></i></p>
                </a>
                <ul class="nav nav-treeview">
                    <!-- Unread Appointments Link -->
                    <li class="nav-item" id="unreadAppointmentsLink">
                        {% url 'new_procedure_order' as new_procedure_order %}
                        <a href="{% url "new_procedure_order" %}" class="nav-link {% if request.path == new_procedure_order %} active {% endif %}">
                            <i class="nav-icon fas fa-bell"></i>
                            <p>New  order <span id="unreadProcedureOrderBadgeCount" class="badge badge-danger">0</span></p>
                        </a>
                    </li>
                    <!-- Read Appointments Link -->
                    <li class="nav-item" id="readAppointmentsLink">
                        {% url 'patient_procedure_view' as patient_procedure_view %}
                        <a href="{% url "patient_procedure_view" %}" class="nav-link {% if request.path == patient_procedure_view %} active {% endif %}">
                            <i class="nav-icon fas fa-history"></i>
                            <p>Old Procedure <span id="readProcedureOrderBadgeCount" class="badge badge-danger">0</span></p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item has-treeview">
                <a class="nav-link" href="#">
                    <i class="nav-icon fas fa-calendar"></i>
                    <p>Radiology <span id="unreadRadiologyOrderBadge" class="badge badge-danger">0</span><i class="fas fa-angle-left right"></i></p>
                </a>
                <ul class="nav nav-treeview">
                    <!-- Unread Appointments Link -->
                    <li class="nav-item" id="unreadAppointmentsLink">
                        {% url 'new_radiology_order' as new_radiology_order %}
                        <a href="{% url "new_radiology_order" %}" class="nav-link {% if request.path == new_radiology_order %} active {% endif %}">
                            <i class="nav-icon fas fa-bell"></i>
                            <p>New  order <span id="unreadRadiologyOrderBadgeCount" class="badge badge-danger">0</span></p>
                        </a>
                    </li>
                    <!-- Read Appointments Link -->
                    <li class="nav-item" id="readAppointmentsLink">
                        {% url 'manage_pathodology' as manage_pathodology %}
                        <a href="{% url "manage_pathodology" %}" class="nav-link {% if request.path == manage_pathodology %} active {% endif %}">
                            <i class="nav-icon fas fa-history"></i>
                            <p>Old Radiology <span id="readRadiologyOrderBadgeCount" class="badge badge-danger">0</span></p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item has-treeview">
                <a class="nav-link" href="#">
                    <i class="nav-icon fas fa-calendar"></i>
                    <p>Consultation 
                        <span id="unreadConsultationOrderBadge" class="badge badge-danger">0</span>
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <!-- Unread Appointments Link -->
                    {% url 'new_consultation_order' as new_consultation_order %}
                    <li class="nav-item" id="unreadAppointmentsLink">
                        <a href="{% url "new_consultation_order" %}" class="nav-link {% if request.path == new_consultation_order %} active {% endif %}">
                            <i class="nav-icon fas fa-envelope"></i> <!-- Change to the correct icon -->
                            <p>New Order <span id="unreadConsultationOrderBadgeCount" class="badge badge-danger">0</span></p>
                        </a>
                    </li>
                    <!-- Read Appointments Link -->
                    <li class="nav-item" id="readAppointmentsLink">
                        {% url 'consultation_notes' as consultation_notes %}
                        <a href="{% url 'consultation_notes' %}" class="nav-link {% if request.path == consultation_notes %} active {% endif %}">
                            <i class="nav-icon fas fa-envelope-open"></i> <!-- Change to the correct icon -->
                            <p>Old Consultation <span id="readConsultationOrderBadgeCount" class="badge badge-danger">0</span></p>
                        </a>
                    </li>
                </ul>
            </li>
            
            <li class="nav-item has-treeview">
                <a class="nav-link" href="#">
                    <i class="nav-icon fas fa-calendar"></i>
                    <p>Appointments <span id="unreadBadge" class="badge badge-danger">0</span><i class="fas fa-angle-left right"></i></p>
                </a>
                <ul class="nav nav-treeview">
                    <!-- Unread Appointments Link -->
                    <li class="nav-item" id="unreadAppointmentsLink">
                        {% url 'unread_appointments' as unread_appointments %}
                        <a href="{% url "unread_appointments" %}" class="nav-link {% if request.path == unread_appointments %} active {% endif %}">
                            <i class="nav-icon fas fa-bell"></i>
                            <p>New Appointments <span id="unreadBadgeCount" class="badge badge-danger">0</span></p>
                        </a>
                    </li>
                    <!-- Read Appointments Link -->
                    <li class="nav-item" id="readAppointmentsLink">
                        {% url 'read_appointments' as read_appointments %}
                        <a href="{% url "read_appointments" %}" class="nav-link {% if request.path == read_appointments %} active {% endif %}">
                            <i class="nav-icon fas fa-history"></i>
                            <p>Old Appointments <span id="readBadgeCount" class="badge badge-danger">0</span></p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item has-treeview">
                <a class="nav-link" href="#">
                    <i class="nav-icon fas fa-flask"></i> 
                    <p>Laboratory result <span id="unreadLabBadge" class="badge badge-danger">0</span><i class="fas fa-angle-left right"></i></p>
                </a>
                <ul class="nav nav-treeview">
                    <!-- Unread Appointments Link -->
                    <li class="nav-item" id="unreadAppointmentsLink">
                        {% url 'new_lab_order' as new_lab_order %}
                        <a href="{% url "new_lab_order" %}" class="nav-link {% if request.path == new_lab_order %} active {% endif %}">
                            <i class="nav-icon fas fa-bell"></i>
                            <p>New Lab <span id="unreadLabBadgeCount" class="badge badge-danger">0</span></p>
                        </a>
                    </li>
                    <!-- Read Appointments Link -->
                    <li class="nav-item" id="readAppointmentsLink">
                        {% url 'patient_lab_view' as patient_lab_view %}
                        <a href="{% url "patient_lab_view" %}" class="nav-link {% if request.path == patient_lab_view %} active {% endif %}">
                            <i class="nav-icon fas fa-history"></i>
                            <p>Old Lab <span id="readLabBadgeCount" class="badge badge-danger">0</span></p>
                        </a>
                    </li>
                </ul>
            </li>
          </ul>
      </nav>
      <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

<script>
  function fetchConsultationCounts() {
    $.ajax({
        type: 'GET',
        url: '{% url "fetch_consultation_counts" %}',  // Replace with the actual URL for fetching consultation counts
        success: function(data) {
            // Update the badge counts
            $('#unreadBadgeCount').text(data.unreadCount);
            $('#readBadgeCount').text(data.readCount);
        },
        error: function(xhr, status, error) {
            console.error('Error fetching consultation counts:', error);
        }
    });
}



function fetchConsultationOrderCounts() {
    $.ajax({
        url: "{% url 'fetch_order_counts' %}",
        type: "GET",
        success: function(response) {
            // Update the badge counts with the retrieved data
            $('#unreadConsultationOrderBadge').text(response.unread_count);
            $('#unreadConsultationOrderBadgeCount').text(response.unread_count);
            $('#readConsultationOrderBadgeCount').text(response.read_count);
        },
        error: function(error) {
            console.log(error);
        }
    });
}
function fetchRadiologyOrderCounts() {
    $.ajax({
        url: "{% url 'fetch_radiology_order_counts_view' %}",
        type: "GET",
        success: function(response) {
            // Update the badge counts with the retrieved data
            $('#unreadRadiologyOrderBadge').text(response.unread_count);
            $('#unreadRadiologyOrderBadgeCount').text(response.unread_count);
            $('#readRadiologyOrderBadgeCount').text(response.read_count);
        },
        error: function(error) {
            console.log(error);
        }
    });
}
function fetchProcedureOrderCounts() {
    $.ajax({
        url: "{% url 'fetch_procedure_order_counts_view' %}",
        type: "GET",
        success: function(response) {
            // Update the badge counts with the retrieved data
            $('#unreadProcedureOrderBadge').text(response.unread_count);
            $('#unreadProcedureOrderBadgeCount').text(response.unread_count);
            $('#readProcedureOrderBadgeCount').text(response.read_count);
        },
        error: function(error) {
            console.log(error);
        }
    });
}

function fetchLabOrderCounts() {
    $.ajax({
        url: "{% url 'fetch_lab_order_counts_view' %}",
        type: "GET",
        success: function(response) {
            // Update the badge counts with the retrieved data
            $('#unreadLabBadge').text(response.unread_count);
            $('#unreadLabBadgeCount').text(response.unread_count);
            $('#readLabBadgeCount').text(response.read_count);
        },
        error: function(error) {
            console.log(error);
        }
    });
}

// Call the function to fetch consultation counts initially
$(document).ready(function() {
    fetchConsultationCounts();
    fetchConsultationOrderCounts();
    fetchRadiologyOrderCounts();
    fetchProcedureOrderCounts();
    fetchLabOrderCounts();
});

// Call the function to fetch consultation counts every second
setInterval(fetchConsultationCounts, 1000);
setInterval(fetchRadiologyOrderCounts, 1000);
setInterval(fetchProcedureOrderCounts, 1000);
setInterval(fetchConsultationOrderCounts, 1000);
setInterval(fetchLabOrderCounts, 1000);
</script>
