{% extends 'doctor_template/base_template.html' %}
{% load static %}

{% block title %}
  Staff Information - {{ staff.admin.username }} | #ID. {{ staff.id }}
{% endblock title %}

{% block main_content %}
<style>
  /* Custom Styles */
  .card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
  }

  .card-header {
    border-radius: 15px 15px 0 0;
    background-color: #007bff;
    color: #fff;
    padding: 15px;
  }

  .card-title {
    margin-bottom: 15px;
    font-size: 1.5rem;
  }

  .card-body {
    padding: 20px;
  }

  .card-text {
    margin-bottom: 10px;
    font-size: 1rem;
  }

  .btn-primary {
    background-color: #28a745;
    border-color: #28a745;
  }

  .btn-primary:hover {
    background-color: #218838;
    border-color: #218838;
  }

  /* Customize as needed */
</style>

<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h3 class="mb-0">Personal Information</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <h5 class="card-title">
            Full Name: 
            <span class="text-primary">{{ staff.admin.first_name }} {{ staff.middle_name }} {{ staff.admin.last_name }}</span>
          </h5>
          <p class="card-text">Email: {{ staff.admin.email }}</p>
          <p class="card-text">Role: {{ staff.role }}</p>
          <p class="card-text">Profession: {{ staff.profession }}</p>
        </div>
        <div class="col-md-6">
          <p class="card-text">Gender: {{ staff.gender }}</p>
          <p class="card-text">Date of Birth: {{ staff.date_of_birth }}</p>
          <p class="card-text">Contact Number: {{ staff.phone_number }}</p>
          <p class="card-text">Marital Status: {{ staff.marital_status }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}
